<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecarpo.bms.eas.server.numberqueue.dao.SerialNumberQueueMapper">
  <resultMap id="BaseResultMap" type="com.ecarpo.bms.eas.server.numberqueue.entity.SerialNumberQueueDO">
    <!-- @mbg.generated 2019-08-06 17:13:41 -->
    <result column="date" jdbcType="DATE" property="date" />
    <result column="store_id" jdbcType="INTEGER" property="store_id" />
    <result column="flag" jdbcType="VARCHAR" property="flag" />
    <result column="number" jdbcType="INTEGER" property="number" />
  </resultMap>
  <insert id="insert" parameterType="com.ecarpo.bms.eas.server.numberqueue.entity.SerialNumberQueueDO">
    <!-- @mbg.generated 2019-08-06 17:13:41 -->
    insert into serial_number_queue (date, store_id, flag, 
      number)
    values (#{date,jdbcType=DATE}, #{store_id,jdbcType=INTEGER}, #{flag,jdbcType=VARCHAR}, 
      #{number,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.ecarpo.bms.eas.server.numberqueue.entity.SerialNumberQueueDO">
    <!-- @mbg.generated 2019-08-06 17:13:41 -->
    insert into serial_number_queue
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="date != null">
        date,
      </if>
      <if test="store_id != null">
        store_id,
      </if>
      <if test="flag != null">
        flag,
      </if>
      <if test="number != null">
        number,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="date != null">
        #{date,jdbcType=DATE},
      </if>
      <if test="store_id != null">
        #{store_id,jdbcType=INTEGER},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=VARCHAR},
      </if>
      <if test="number != null">
        #{number,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
    
  <!-- user define -->
  
  <update id="updateNumber" parameterType="com.ecarpo.bms.eas.server.numberqueue.entity.SerialNumberQueueDO">
    update serial_number_queue
    set `date` = #{date,jdbcType=DATE},
      store_id = #{store_id,jdbcType=INTEGER},
      flag = #{flag,jdbcType=VARCHAR},
      `number` = #{number,jdbcType=INTEGER}
    where `date` = #{date,jdbcType=DATE}
      and store_id = #{store_id,jdbcType=INTEGER}
      and flag = #{flag,jdbcType=VARCHAR}
  </update>
  
  <select id="selectNumberByParams" resultType="java.lang.Integer">
    select `number`
    from serial_number_queue
    where `date` = #{date,jdbcType=DATE}
      and store_id = #{store_id,jdbcType=INTEGER}
      and flag = #{flag,jdbcType=VARCHAR}
    limit 0, 1
  </select>
  
</mapper>