<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecarpo.bms.eas.server.measureunit.dao.EasMeasureUnitMapper">
  <resultMap id="BaseResultMap" type="com.ecarpo.bms.eas.server.measureunit.entity.EasMeasureUnitDO">
    <!-- @mbg.generated 2019-07-10 10:00:04 -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="erp_measure_unit_id" jdbcType="BIGINT" property="erpMeasureUnitId" />
    <result column="coefficient" jdbcType="DECIMAL" property="coefficient" />
    <result column="is_base_unit" jdbcType="TINYINT" property="isBaseUnit" />
    <result column="disabled_date" jdbcType="TIMESTAMP" property="disabledDate" />
    <result column="is_disabled" jdbcType="TINYINT" property="isDisabled" />
    <result column="group_id_number" jdbcType="VARCHAR" property="groupIdNumber" />
    <result column="group_id__name" jdbcType="VARCHAR" property="groupIdName" />
    <result column="group_id__level" jdbcType="TINYINT" property="groupIdLevel" />
    <result column="qty_precision" jdbcType="INTEGER" property="qtyPrecision" />
    <result column="define" jdbcType="VARCHAR" property="define" />
    <result column="encrypt" jdbcType="VARCHAR" property="encrypt" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="simple_name" jdbcType="VARCHAR" property="simpleName" />
    <result column="creator_id_number" jdbcType="VARCHAR" property="creatorIdNumber" />
    <result column="creator_id_name" jdbcType="VARCHAR" property="creatorIdName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="last_update_user_id_number" jdbcType="VARCHAR" property="lastUpdateUserIdNumber" />
    <result column="last_update_user_id_name" jdbcType="VARCHAR" property="lastUpdateUserIdName" />
    <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
    <result column="control_unit_id_number" jdbcType="VARCHAR" property="controlUnitIdNumber" />
    <result column="control_unit_id_name" jdbcType="VARCHAR" property="controlUnitIdName" />
  </resultMap>
  <sql id="Base_Column_List">
    <!-- @mbg.generated 2019-07-10 10:00:04 -->
    id, erp_measure_unit_id, coefficient, is_base_unit, disabled_date, is_disabled, group_id_number, 
    group_id__name, group_id__level, qty_precision, define, encrypt, description, simple_name, 
    creator_id_number, creator_id_name, create_time, last_update_user_id_number, last_update_user_id_name, 
    last_update_time, control_unit_id_number, control_unit_id_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!-- @mbg.generated 2019-07-10 10:00:04 -->
    select 
    <include refid="Base_Column_List" />
    from eas_bd_measure_unit
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!-- @mbg.generated 2019-07-10 10:00:04 -->
    delete from eas_bd_measure_unit
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ecarpo.bms.eas.server.measureunit.entity.EasMeasureUnitDO">
    <!-- @mbg.generated 2019-07-10 10:00:04 -->
    insert into eas_bd_measure_unit (id, erp_measure_unit_id, coefficient, 
      is_base_unit, disabled_date, is_disabled, 
      group_id_number, group_id__name, group_id__level, 
      qty_precision, define, encrypt, 
      description, simple_name, creator_id_number, 
      creator_id_name, create_time, last_update_user_id_number, 
      last_update_user_id_name, last_update_time, 
      control_unit_id_number, control_unit_id_name)
    values (#{id,jdbcType=VARCHAR}, #{erpMeasureUnitId,jdbcType=BIGINT}, #{coefficient,jdbcType=DECIMAL}, 
      #{isBaseUnit,jdbcType=TINYINT}, #{disabledDate,jdbcType=TIMESTAMP}, #{isDisabled,jdbcType=TINYINT}, 
      #{groupIdNumber,jdbcType=VARCHAR}, #{groupIdName,jdbcType=VARCHAR}, #{groupIdLevel,jdbcType=TINYINT}, 
      #{qtyPrecision,jdbcType=INTEGER}, #{define,jdbcType=VARCHAR}, #{encrypt,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{simpleName,jdbcType=VARCHAR}, #{creatorIdNumber,jdbcType=VARCHAR}, 
      #{creatorIdName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{lastUpdateUserIdNumber,jdbcType=VARCHAR}, 
      #{lastUpdateUserIdName,jdbcType=VARCHAR}, #{lastUpdateTime,jdbcType=TIMESTAMP}, 
      #{controlUnitIdNumber,jdbcType=VARCHAR}, #{controlUnitIdName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ecarpo.bms.eas.server.measureunit.entity.EasMeasureUnitDO">
    <!-- @mbg.generated 2019-07-10 10:00:04 -->
    insert into eas_bd_measure_unit
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="erpMeasureUnitId != null">
        erp_measure_unit_id,
      </if>
      <if test="coefficient != null">
        coefficient,
      </if>
      <if test="isBaseUnit != null">
        is_base_unit,
      </if>
      <if test="disabledDate != null">
        disabled_date,
      </if>
      <if test="isDisabled != null">
        is_disabled,
      </if>
      <if test="groupIdNumber != null">
        group_id_number,
      </if>
      <if test="groupIdName != null">
        group_id__name,
      </if>
      <if test="groupIdLevel != null">
        group_id__level,
      </if>
      <if test="qtyPrecision != null">
        qty_precision,
      </if>
      <if test="define != null">
        define,
      </if>
      <if test="encrypt != null">
        encrypt,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="simpleName != null">
        simple_name,
      </if>
      <if test="creatorIdNumber != null">
        creator_id_number,
      </if>
      <if test="creatorIdName != null">
        creator_id_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="lastUpdateUserIdNumber != null">
        last_update_user_id_number,
      </if>
      <if test="lastUpdateUserIdName != null">
        last_update_user_id_name,
      </if>
      <if test="lastUpdateTime != null">
        last_update_time,
      </if>
      <if test="controlUnitIdNumber != null">
        control_unit_id_number,
      </if>
      <if test="controlUnitIdName != null">
        control_unit_id_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="erpMeasureUnitId != null">
        #{erpMeasureUnitId,jdbcType=BIGINT},
      </if>
      <if test="coefficient != null">
        #{coefficient,jdbcType=DECIMAL},
      </if>
      <if test="isBaseUnit != null">
        #{isBaseUnit,jdbcType=TINYINT},
      </if>
      <if test="disabledDate != null">
        #{disabledDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isDisabled != null">
        #{isDisabled,jdbcType=TINYINT},
      </if>
      <if test="groupIdNumber != null">
        #{groupIdNumber,jdbcType=VARCHAR},
      </if>
      <if test="groupIdName != null">
        #{groupIdName,jdbcType=VARCHAR},
      </if>
      <if test="groupIdLevel != null">
        #{groupIdLevel,jdbcType=TINYINT},
      </if>
      <if test="qtyPrecision != null">
        #{qtyPrecision,jdbcType=INTEGER},
      </if>
      <if test="define != null">
        #{define,jdbcType=VARCHAR},
      </if>
      <if test="encrypt != null">
        #{encrypt,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="simpleName != null">
        #{simpleName,jdbcType=VARCHAR},
      </if>
      <if test="creatorIdNumber != null">
        #{creatorIdNumber,jdbcType=VARCHAR},
      </if>
      <if test="creatorIdName != null">
        #{creatorIdName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateUserIdNumber != null">
        #{lastUpdateUserIdNumber,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateUserIdName != null">
        #{lastUpdateUserIdName,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="controlUnitIdNumber != null">
        #{controlUnitIdNumber,jdbcType=VARCHAR},
      </if>
      <if test="controlUnitIdName != null">
        #{controlUnitIdName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ecarpo.bms.eas.server.measureunit.entity.EasMeasureUnitDO">
    <!-- @mbg.generated 2019-07-10 10:00:04 -->
    update eas_bd_measure_unit
    <set>
      <if test="erpMeasureUnitId != null">
        erp_measure_unit_id = #{erpMeasureUnitId,jdbcType=BIGINT},
      </if>
      <if test="coefficient != null">
        coefficient = #{coefficient,jdbcType=DECIMAL},
      </if>
      <if test="isBaseUnit != null">
        is_base_unit = #{isBaseUnit,jdbcType=TINYINT},
      </if>
      <if test="disabledDate != null">
        disabled_date = #{disabledDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isDisabled != null">
        is_disabled = #{isDisabled,jdbcType=TINYINT},
      </if>
      <if test="groupIdNumber != null">
        group_id_number = #{groupIdNumber,jdbcType=VARCHAR},
      </if>
      <if test="groupIdName != null">
        group_id__name = #{groupIdName,jdbcType=VARCHAR},
      </if>
      <if test="groupIdLevel != null">
        group_id__level = #{groupIdLevel,jdbcType=TINYINT},
      </if>
      <if test="qtyPrecision != null">
        qty_precision = #{qtyPrecision,jdbcType=INTEGER},
      </if>
      <if test="define != null">
        define = #{define,jdbcType=VARCHAR},
      </if>
      <if test="encrypt != null">
        encrypt = #{encrypt,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="simpleName != null">
        simple_name = #{simpleName,jdbcType=VARCHAR},
      </if>
      <if test="creatorIdNumber != null">
        creator_id_number = #{creatorIdNumber,jdbcType=VARCHAR},
      </if>
      <if test="creatorIdName != null">
        creator_id_name = #{creatorIdName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateUserIdNumber != null">
        last_update_user_id_number = #{lastUpdateUserIdNumber,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateUserIdName != null">
        last_update_user_id_name = #{lastUpdateUserIdName,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="controlUnitIdNumber != null">
        control_unit_id_number = #{controlUnitIdNumber,jdbcType=VARCHAR},
      </if>
      <if test="controlUnitIdName != null">
        control_unit_id_name = #{controlUnitIdName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ecarpo.bms.eas.server.measureunit.entity.EasMeasureUnitDO">
    <!-- @mbg.generated 2019-07-10 10:00:04 -->
    update eas_bd_measure_unit
    set erp_measure_unit_id = #{erpMeasureUnitId,jdbcType=BIGINT},
      coefficient = #{coefficient,jdbcType=DECIMAL},
      is_base_unit = #{isBaseUnit,jdbcType=TINYINT},
      disabled_date = #{disabledDate,jdbcType=TIMESTAMP},
      is_disabled = #{isDisabled,jdbcType=TINYINT},
      group_id_number = #{groupIdNumber,jdbcType=VARCHAR},
      group_id__name = #{groupIdName,jdbcType=VARCHAR},
      group_id__level = #{groupIdLevel,jdbcType=TINYINT},
      qty_precision = #{qtyPrecision,jdbcType=INTEGER},
      define = #{define,jdbcType=VARCHAR},
      encrypt = #{encrypt,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      simple_name = #{simpleName,jdbcType=VARCHAR},
      creator_id_number = #{creatorIdNumber,jdbcType=VARCHAR},
      creator_id_name = #{creatorIdName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_update_user_id_number = #{lastUpdateUserIdNumber,jdbcType=VARCHAR},
      last_update_user_id_name = #{lastUpdateUserIdName,jdbcType=VARCHAR},
      last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      control_unit_id_number = #{controlUnitIdNumber,jdbcType=VARCHAR},
      control_unit_id_name = #{controlUnitIdName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <!-- 主键获取DO lhf 2019.06.05  -->
  <select id="selectByPK" resultType="com.ecarpo.bms.eas.server.measureunit.entity.EasMeasureUnitDO">
    select
      <include refid="Base_Column_List" />
    from
      eas_bd_measure_unit
    where
      id = #{id,jdbcType=VARCHAR}
  </select>
</mapper>