<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecarpo.bms.eas.server.dmsrepairworkhour.dao.DmsRepairWorkhourMapper">
  <resultMap id="BaseResultMap" type="com.ecarpo.bms.eas.server.dmsrepairworkhour.entity.DmsRepairWorkhourDO">
    <!-- @mbg.generated 2019-08-06 11:17:53 -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="store_id" jdbcType="INTEGER" property="store_id" />
    <result column="workhour_code" jdbcType="VARCHAR" property="workhour_code" />
    <result column="workhour_name" jdbcType="VARCHAR" property="workhour_name" />
    <result column="review_workhour" jdbcType="DECIMAL" property="review_workhour" />
    <result column="review_price" jdbcType="DECIMAL" property="review_price" />
    <result column="rated_workhour" jdbcType="DECIMAL" property="rated_workhour" />
    <result column="rated_price" jdbcType="DECIMAL" property="rated_price" />
    <result column="is_universal" jdbcType="TINYINT" property="is_universal" />
    <result column="is_discount" jdbcType="TINYINT" property="is_discount" />
    <result column="is_sheetmetal" jdbcType="TINYINT" property="is_sheetmetal" />
    <result column="retrieval_code" jdbcType="VARCHAR" property="retrieval_code" />
    <result column="state" jdbcType="TINYINT" property="state" />
    <result column="workhour_level" jdbcType="CHAR" property="workhour_level" />
    <result column="creator" jdbcType="INTEGER" property="creator" />
    <result column="create_time" jdbcType="INTEGER" property="create_time" />
    <result column="is_wash_car" jdbcType="TINYINT" property="is_wash_car" />
  </resultMap>
  <sql id="Base_Column_List">
    <!-- @mbg.generated 2019-08-06 11:17:53 -->
    id, store_id, workhour_code, workhour_name, review_workhour, review_price, rated_workhour, 
    rated_price, is_universal, is_discount, is_sheetmetal, retrieval_code, state, workhour_level, 
    creator, create_time, is_wash_car
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!-- @mbg.generated 2019-08-06 11:17:53 -->
    select 
    <include refid="Base_Column_List" />
    from dms_repair_workhour
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!-- @mbg.generated 2019-08-06 11:17:53 -->
    delete from dms_repair_workhour
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ecarpo.bms.eas.server.dmsrepairworkhour.entity.DmsRepairWorkhourDO">
    <!-- @mbg.generated 2019-08-06 11:17:53 -->
    insert into dms_repair_workhour (id, store_id, workhour_code, 
      workhour_name, review_workhour, review_price, 
      rated_workhour, rated_price, is_universal, 
      is_discount, is_sheetmetal, retrieval_code, 
      state, workhour_level, creator, 
      create_time, is_wash_car)
    values (#{id,jdbcType=INTEGER}, #{store_id,jdbcType=INTEGER}, #{workhour_code,jdbcType=VARCHAR}, 
      #{workhour_name,jdbcType=VARCHAR}, #{review_workhour,jdbcType=DECIMAL}, #{review_price,jdbcType=DECIMAL}, 
      #{rated_workhour,jdbcType=DECIMAL}, #{rated_price,jdbcType=DECIMAL}, #{is_universal,jdbcType=TINYINT}, 
      #{is_discount,jdbcType=TINYINT}, #{is_sheetmetal,jdbcType=TINYINT}, #{retrieval_code,jdbcType=VARCHAR}, 
      #{state,jdbcType=TINYINT}, #{workhour_level,jdbcType=CHAR}, #{creator,jdbcType=INTEGER}, 
      #{create_time,jdbcType=INTEGER}, #{is_wash_car,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.ecarpo.bms.eas.server.dmsrepairworkhour.entity.DmsRepairWorkhourDO">
    <!-- @mbg.generated 2019-08-06 11:17:53 -->
    insert into dms_repair_workhour
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="store_id != null">
        store_id,
      </if>
      <if test="workhour_code != null">
        workhour_code,
      </if>
      <if test="workhour_name != null">
        workhour_name,
      </if>
      <if test="review_workhour != null">
        review_workhour,
      </if>
      <if test="review_price != null">
        review_price,
      </if>
      <if test="rated_workhour != null">
        rated_workhour,
      </if>
      <if test="rated_price != null">
        rated_price,
      </if>
      <if test="is_universal != null">
        is_universal,
      </if>
      <if test="is_discount != null">
        is_discount,
      </if>
      <if test="is_sheetmetal != null">
        is_sheetmetal,
      </if>
      <if test="retrieval_code != null">
        retrieval_code,
      </if>
      <if test="state != null">
        state,
      </if>
      <if test="workhour_level != null">
        workhour_level,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="create_time != null">
        create_time,
      </if>
      <if test="is_wash_car != null">
        is_wash_car,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="store_id != null">
        #{store_id,jdbcType=INTEGER},
      </if>
      <if test="workhour_code != null">
        #{workhour_code,jdbcType=VARCHAR},
      </if>
      <if test="workhour_name != null">
        #{workhour_name,jdbcType=VARCHAR},
      </if>
      <if test="review_workhour != null">
        #{review_workhour,jdbcType=DECIMAL},
      </if>
      <if test="review_price != null">
        #{review_price,jdbcType=DECIMAL},
      </if>
      <if test="rated_workhour != null">
        #{rated_workhour,jdbcType=DECIMAL},
      </if>
      <if test="rated_price != null">
        #{rated_price,jdbcType=DECIMAL},
      </if>
      <if test="is_universal != null">
        #{is_universal,jdbcType=TINYINT},
      </if>
      <if test="is_discount != null">
        #{is_discount,jdbcType=TINYINT},
      </if>
      <if test="is_sheetmetal != null">
        #{is_sheetmetal,jdbcType=TINYINT},
      </if>
      <if test="retrieval_code != null">
        #{retrieval_code,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        #{state,jdbcType=TINYINT},
      </if>
      <if test="workhour_level != null">
        #{workhour_level,jdbcType=CHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=INTEGER},
      </if>
      <if test="create_time != null">
        #{create_time,jdbcType=INTEGER},
      </if>
      <if test="is_wash_car != null">
        #{is_wash_car,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ecarpo.bms.eas.server.dmsrepairworkhour.entity.DmsRepairWorkhourDO">
    <!-- @mbg.generated 2019-08-06 11:17:53 -->
    update dms_repair_workhour
    <set>
      <if test="store_id != null">
        store_id = #{store_id,jdbcType=INTEGER},
      </if>
      <if test="workhour_code != null">
        workhour_code = #{workhour_code,jdbcType=VARCHAR},
      </if>
      <if test="workhour_name != null">
        workhour_name = #{workhour_name,jdbcType=VARCHAR},
      </if>
      <if test="review_workhour != null">
        review_workhour = #{review_workhour,jdbcType=DECIMAL},
      </if>
      <if test="review_price != null">
        review_price = #{review_price,jdbcType=DECIMAL},
      </if>
      <if test="rated_workhour != null">
        rated_workhour = #{rated_workhour,jdbcType=DECIMAL},
      </if>
      <if test="rated_price != null">
        rated_price = #{rated_price,jdbcType=DECIMAL},
      </if>
      <if test="is_universal != null">
        is_universal = #{is_universal,jdbcType=TINYINT},
      </if>
      <if test="is_discount != null">
        is_discount = #{is_discount,jdbcType=TINYINT},
      </if>
      <if test="is_sheetmetal != null">
        is_sheetmetal = #{is_sheetmetal,jdbcType=TINYINT},
      </if>
      <if test="retrieval_code != null">
        retrieval_code = #{retrieval_code,jdbcType=VARCHAR},
      </if>
      <if test="state != null">
        state = #{state,jdbcType=TINYINT},
      </if>
      <if test="workhour_level != null">
        workhour_level = #{workhour_level,jdbcType=CHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=INTEGER},
      </if>
      <if test="create_time != null">
        create_time = #{create_time,jdbcType=INTEGER},
      </if>
      <if test="is_wash_car != null">
        is_wash_car = #{is_wash_car,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ecarpo.bms.eas.server.dmsrepairworkhour.entity.DmsRepairWorkhourDO">
    <!-- @mbg.generated 2019-08-06 11:17:53 -->
    update dms_repair_workhour
    set store_id = #{store_id,jdbcType=INTEGER},
      workhour_code = #{workhour_code,jdbcType=VARCHAR},
      workhour_name = #{workhour_name,jdbcType=VARCHAR},
      review_workhour = #{review_workhour,jdbcType=DECIMAL},
      review_price = #{review_price,jdbcType=DECIMAL},
      rated_workhour = #{rated_workhour,jdbcType=DECIMAL},
      rated_price = #{rated_price,jdbcType=DECIMAL},
      is_universal = #{is_universal,jdbcType=TINYINT},
      is_discount = #{is_discount,jdbcType=TINYINT},
      is_sheetmetal = #{is_sheetmetal,jdbcType=TINYINT},
      retrieval_code = #{retrieval_code,jdbcType=VARCHAR},
      state = #{state,jdbcType=TINYINT},
      workhour_level = #{workhour_level,jdbcType=CHAR},
      creator = #{creator,jdbcType=INTEGER},
      create_time = #{create_time,jdbcType=INTEGER},
      is_wash_car = #{is_wash_car,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
    
  <!-- user define -->
  <select id="existsByCode" resultType="java.lang.Long">
    select 1 from dms_repair_workhour
    where code = #{code,jdbcType=VARCHAR}
      and store_id = #{store_id,jdbcType=INTEGER}
    limit 0, 1
  </select>
  
</mapper>