<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecarpo.bms.eas.server.supplier.supplierbank.dao.EasSupplierBankMapper">
  <resultMap id="BaseResultMap" type="com.ecarpo.bms.eas.server.supplier.supplierbank.entity.EasSupplierBankDO">
    <!-- @mbg.generated 2019-06-05 15:26:02 -->
    <id column="bank_id" jdbcType="BIGINT" property="bankId" />
    <result column="supplier_id" jdbcType="VARCHAR" property="supplierId" />
    <result column="bank" jdbcType="VARCHAR" property="bank" />
    <result column="bank_account" jdbcType="VARCHAR" property="bankAccount" />
  </resultMap>
  <sql id="Base_Column_List">
    <!-- @mbg.generated 2019-06-05 15:26:02 -->
    bank_id, supplier_id, bank, bank_account
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!-- @mbg.generated 2019-06-05 15:26:02 -->
    select 
    <include refid="Base_Column_List" />
    from eas_supplier_bank
    where bank_id = #{bankId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!-- @mbg.generated 2019-06-05 15:26:02 -->
    delete from eas_supplier_bank
    where bank_id = #{bankId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ecarpo.bms.eas.server.supplier.supplierbank.entity.EasSupplierBankDO">
    <!-- @mbg.generated 2019-06-05 15:26:02 -->
    insert into eas_supplier_bank (bank_id, supplier_id, bank, 
      bank_account)
    values (#{bankId,jdbcType=BIGINT}, #{supplierId,jdbcType=VARCHAR}, #{bank,jdbcType=VARCHAR}, 
      #{bankAccount,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ecarpo.bms.eas.server.supplier.supplierbank.entity.EasSupplierBankDO">
    <!-- @mbg.generated 2019-06-05 15:26:02 -->
    insert into eas_supplier_bank
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="bankId != null">
        bank_id,
      </if>
      <if test="supplierId != null">
        supplier_id,
      </if>
      <if test="bank != null">
        bank,
      </if>
      <if test="bankAccount != null">
        bank_account,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="bankId != null">
        #{bankId,jdbcType=BIGINT},
      </if>
      <if test="supplierId != null">
        #{supplierId,jdbcType=VARCHAR},
      </if>
      <if test="bank != null">
        #{bank,jdbcType=VARCHAR},
      </if>
      <if test="bankAccount != null">
        #{bankAccount,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ecarpo.bms.eas.server.supplier.supplierbank.entity.EasSupplierBankDO">
    <!-- @mbg.generated 2019-06-05 15:26:02 -->
    update eas_supplier_bank
    <set>
      <if test="supplierId != null">
        supplier_id = #{supplierId,jdbcType=VARCHAR},
      </if>
      <if test="bank != null">
        bank = #{bank,jdbcType=VARCHAR},
      </if>
      <if test="bankAccount != null">
        bank_account = #{bankAccount,jdbcType=VARCHAR},
      </if>
    </set>
    where bank_id = #{bankId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ecarpo.bms.eas.server.supplier.supplierbank.entity.EasSupplierBankDO">
    <!-- @mbg.generated 2019-06-05 15:26:02 -->
    update eas_supplier_bank
    set supplier_id = #{supplierId,jdbcType=VARCHAR},
      bank = #{bank,jdbcType=VARCHAR},
      bank_account = #{bankAccount,jdbcType=VARCHAR}
    where bank_id = #{bankId,jdbcType=BIGINT}
  </update>
  
  <!--user define  -->
 <update id="updateMap" parameterType="java.util.Map">
    update eas_supplier_bank
    <set>
      <if test="keys.containsKey('supplierId')">
        supplier_id = #{keys.supplierId,jdbcType=VARCHAR},
      </if>
      <if test="keys.containsKey('bank')">
        bank = #{keys.bank,jdbcType=VARCHAR},
      </if>
      <if test="keys.containsKey('bankAccount')">
        bank_account = #{keys.bankAccount,jdbcType=VARCHAR},
      </if>
    </set>
    where bank_id = #{keys.bankId,jdbcType=BIGINT}
  </update>

  <!-- 供应商主键删除数据  xin  2019.06.05 -->
  <delete id="deleteBySupplierId" parameterType="java.lang.String">
    delete  
    from eas_supplier_bank
    where
      supplier_id = #{supplierId,jdbcType=VARCHAR}
  </delete>
  
  
</mapper>