<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecarpo.bms.eas.server.supplier.suppliertype.dao.EasSupplierTypeMapper">
  <resultMap id="BaseResultMap" type="com.ecarpo.bms.eas.server.supplier.suppliertype.entity.EasSupplierTypeDO">
     <!-- @mbg.generated 2019-06-12 16:19:08 -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="supplier_type_name" jdbcType="VARCHAR" property="supplierTypeName" />
    <result column="supplier_type_number" jdbcType="VARCHAR" property="supplierTypeNumber" />
    <result column="cssp_group_standardID_number" jdbcType="VARCHAR" property="csspGroupStandardidNumber" />
    <result column="cssp_group_standardID_name" jdbcType="VARCHAR" property="csspGroupStandardidName" />
    <result column="control_unitID_number" jdbcType="VARCHAR" property="controlUnitidNumber" />
    <result column="control_unitID_name" jdbcType="VARCHAR" property="controlUnitidName" />
    <result column="parentID_number" jdbcType="VARCHAR" property="parentidNumber" />
    <result column="parentID_level" jdbcType="TINYINT" property="parentidLevel" />
    <result column="parentID_name" jdbcType="VARCHAR" property="parentidName" />
    <result column="deleted_status" jdbcType="TINYINT" property="deletedStatus" />
    <result column="is_leaf" jdbcType="TINYINT" property="isLeaf" />
    <result column="level" jdbcType="TINYINT" property="level" />
    <result column="long_number" jdbcType="VARCHAR" property="longNumber" />
    <result column="display_name" jdbcType="VARCHAR" property="displayName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="creatorID_number" jdbcType="VARCHAR" property="creatoridNumber" />
    <result column="creatorID_name" jdbcType="VARCHAR" property="creatoridName" />
    <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
    <result column="last_update_userID_number" jdbcType="VARCHAR" property="lastUpdateUseridNumber" />
    <result column="last_update_userID_name" jdbcType="VARCHAR" property="lastUpdateUseridName" />
  </resultMap>
  <sql id="Base_Column_List">
    <!-- @mbg.generated 2019-06-12 16:19:08 -->
    id, supplier_type_name, supplier_type_number, cssp_group_standardID_number, cssp_group_standardID_name, 
    control_unitID_number, control_unitID_name, parentID_number, parentID_level, parentID_name, 
    deleted_status, is_leaf, level, long_number, display_name, create_time, creatorID_number, 
    creatorID_name, last_update_time, last_update_userID_number, last_update_userID_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!-- @mbg.generated 2019-06-12 16:19:08 -->
    select 
    <include refid="Base_Column_List" />
    from eas_bd_cssp_group
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!-- @mbg.generated 2019-06-12 16:19:08 -->
    delete from eas_bd_cssp_group
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ecarpo.bms.eas.server.supplier.suppliertype.entity.EasSupplierTypeDO">
    <!-- @mbg.generated 2019-06-12 16:19:08 -->
    insert into eas_bd_cssp_group (id, supplier_type_name, supplier_type_number, 
      cssp_group_standardID_number, cssp_group_standardID_name, 
      control_unitID_number, control_unitID_name, 
      parentID_number, parentID_level, parentID_name, 
      deleted_status, is_leaf, level, 
      long_number, display_name, create_time, 
      creatorID_number, creatorID_name, last_update_time, 
      last_update_userID_number, last_update_userID_name
      )
    values (#{id,jdbcType=VARCHAR}, #{supplierTypeName,jdbcType=VARCHAR}, #{supplierTypeNumber,jdbcType=VARCHAR}, 
      #{csspGroupStandardidNumber,jdbcType=VARCHAR}, #{csspGroupStandardidName,jdbcType=VARCHAR}, 
      #{controlUnitidNumber,jdbcType=VARCHAR}, #{controlUnitidName,jdbcType=VARCHAR}, 
      #{parentidNumber,jdbcType=VARCHAR}, #{parentidLevel,jdbcType=TINYINT}, #{parentidName,jdbcType=VARCHAR}, 
      #{deletedStatus,jdbcType=TINYINT}, #{isLeaf,jdbcType=TINYINT}, #{level,jdbcType=TINYINT}, 
      #{longNumber,jdbcType=VARCHAR}, #{displayName,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{creatoridNumber,jdbcType=VARCHAR}, #{creatoridName,jdbcType=VARCHAR}, #{lastUpdateTime,jdbcType=TIMESTAMP}, 
      #{lastUpdateUseridNumber,jdbcType=VARCHAR}, #{lastUpdateUseridName,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ecarpo.bms.eas.server.supplier.suppliertype.entity.EasSupplierTypeDO">
    <!-- @mbg.generated 2019-06-12 16:19:08 -->
    insert into eas_bd_cssp_group
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="supplierTypeName != null">
        supplier_type_name,
      </if>
      <if test="supplierTypeNumber != null">
        supplier_type_number,
      </if>
      <if test="csspGroupStandardidNumber != null">
        cssp_group_standardID_number,
      </if>
      <if test="csspGroupStandardidName != null">
        cssp_group_standardID_name,
      </if>
      <if test="controlUnitidNumber != null">
        control_unitID_number,
      </if>
      <if test="controlUnitidName != null">
        control_unitID_name,
      </if>
      <if test="parentidNumber != null">
        parentID_number,
      </if>
      <if test="parentidLevel != null">
        parentID_level,
      </if>
      <if test="parentidName != null">
        parentID_name,
      </if>
      <if test="deletedStatus != null">
        deleted_status,
      </if>
      <if test="isLeaf != null">
        is_leaf,
      </if>
      <if test="level != null">
        level,
      </if>
      <if test="longNumber != null">
        long_number,
      </if>
      <if test="displayName != null">
        display_name,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="creatoridNumber != null">
        creatorID_number,
      </if>
      <if test="creatoridName != null">
        creatorID_name,
      </if>
      <if test="lastUpdateTime != null">
        last_update_time,
      </if>
      <if test="lastUpdateUseridNumber != null">
        last_update_userID_number,
      </if>
      <if test="lastUpdateUseridName != null">
        last_update_userID_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="supplierTypeName != null">
        #{supplierTypeName,jdbcType=VARCHAR},
      </if>
      <if test="supplierTypeNumber != null">
        #{supplierTypeNumber,jdbcType=VARCHAR},
      </if>
      <if test="csspGroupStandardidNumber != null">
        #{csspGroupStandardidNumber,jdbcType=VARCHAR},
      </if>
      <if test="csspGroupStandardidName != null">
        #{csspGroupStandardidName,jdbcType=VARCHAR},
      </if>
      <if test="controlUnitidNumber != null">
        #{controlUnitidNumber,jdbcType=VARCHAR},
      </if>
      <if test="controlUnitidName != null">
        #{controlUnitidName,jdbcType=VARCHAR},
      </if>
      <if test="parentidNumber != null">
        #{parentidNumber,jdbcType=VARCHAR},
      </if>
      <if test="parentidLevel != null">
        #{parentidLevel,jdbcType=TINYINT},
      </if>
      <if test="parentidName != null">
        #{parentidName,jdbcType=VARCHAR},
      </if>
      <if test="deletedStatus != null">
        #{deletedStatus,jdbcType=TINYINT},
      </if>
      <if test="isLeaf != null">
        #{isLeaf,jdbcType=TINYINT},
      </if>
      <if test="level != null">
        #{level,jdbcType=TINYINT},
      </if>
      <if test="longNumber != null">
        #{longNumber,jdbcType=VARCHAR},
      </if>
      <if test="displayName != null">
        #{displayName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatoridNumber != null">
        #{creatoridNumber,jdbcType=VARCHAR},
      </if>
      <if test="creatoridName != null">
        #{creatoridName,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateUseridNumber != null">
        #{lastUpdateUseridNumber,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateUseridName != null">
        #{lastUpdateUseridName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ecarpo.bms.eas.server.supplier.suppliertype.entity.EasSupplierTypeDO">
    <!-- @mbg.generated 2019-06-12 16:19:08 -->
    update eas_bd_cssp_group
    <set>
      <if test="supplierTypeName != null">
        supplier_type_name = #{supplierTypeName,jdbcType=VARCHAR},
      </if>
      <if test="supplierTypeNumber != null">
        supplier_type_number = #{supplierTypeNumber,jdbcType=VARCHAR},
      </if>
      <if test="csspGroupStandardidNumber != null">
        cssp_group_standardID_number = #{csspGroupStandardidNumber,jdbcType=VARCHAR},
      </if>
      <if test="csspGroupStandardidName != null">
        cssp_group_standardID_name = #{csspGroupStandardidName,jdbcType=VARCHAR},
      </if>
      <if test="controlUnitidNumber != null">
        control_unitID_number = #{controlUnitidNumber,jdbcType=VARCHAR},
      </if>
      <if test="controlUnitidName != null">
        control_unitID_name = #{controlUnitidName,jdbcType=VARCHAR},
      </if>
      <if test="parentidNumber != null">
        parentID_number = #{parentidNumber,jdbcType=VARCHAR},
      </if>
      <if test="parentidLevel != null">
        parentID_level = #{parentidLevel,jdbcType=TINYINT},
      </if>
      <if test="parentidName != null">
        parentID_name = #{parentidName,jdbcType=VARCHAR},
      </if>
      <if test="deletedStatus != null">
        deleted_status = #{deletedStatus,jdbcType=TINYINT},
      </if>
      <if test="isLeaf != null">
        is_leaf = #{isLeaf,jdbcType=TINYINT},
      </if>
      <if test="level != null">
        level = #{level,jdbcType=TINYINT},
      </if>
      <if test="longNumber != null">
        long_number = #{longNumber,jdbcType=VARCHAR},
      </if>
      <if test="displayName != null">
        display_name = #{displayName,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatoridNumber != null">
        creatorID_number = #{creatoridNumber,jdbcType=VARCHAR},
      </if>
      <if test="creatoridName != null">
        creatorID_name = #{creatoridName,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateUseridNumber != null">
        last_update_userID_number = #{lastUpdateUseridNumber,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateUseridName != null">
        last_update_userID_name = #{lastUpdateUseridName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ecarpo.bms.eas.server.supplier.suppliertype.entity.EasSupplierTypeDO">
    <!-- @mbg.generated 2019-06-12 16:19:08 -->
    update eas_bd_cssp_group
    set supplier_type_name = #{supplierTypeName,jdbcType=VARCHAR},
      supplier_type_number = #{supplierTypeNumber,jdbcType=VARCHAR},
      cssp_group_standardID_number = #{csspGroupStandardidNumber,jdbcType=VARCHAR},
      cssp_group_standardID_name = #{csspGroupStandardidName,jdbcType=VARCHAR},
      control_unitID_number = #{controlUnitidNumber,jdbcType=VARCHAR},
      control_unitID_name = #{controlUnitidName,jdbcType=VARCHAR},
      parentID_number = #{parentidNumber,jdbcType=VARCHAR},
      parentID_level = #{parentidLevel,jdbcType=TINYINT},
      parentID_name = #{parentidName,jdbcType=VARCHAR},
      deleted_status = #{deletedStatus,jdbcType=TINYINT},
      is_leaf = #{isLeaf,jdbcType=TINYINT},
      level = #{level,jdbcType=TINYINT},
      long_number = #{longNumber,jdbcType=VARCHAR},
      display_name = #{displayName,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      creatorID_number = #{creatoridNumber,jdbcType=VARCHAR},
      creatorID_name = #{creatoridName,jdbcType=VARCHAR},
      last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      last_update_userID_number = #{lastUpdateUseridNumber,jdbcType=VARCHAR},
      last_update_userID_name = #{lastUpdateUseridName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <!--user define   -->
  <update id="updateMap" parameterType="java.util.Map">
    update eas_bd_cssp_group
    <set>
      <if test="keys.containsKey('supplierTypeName')">
        supplier_type_name = #{keys.supplierTypeName,jdbcType=VARCHAR},
      </if>
      <if test="keys.containsKey('supplierTypeNumber')">
        supplier_type_number = #{keys.supplierTypeNumber,jdbcType=VARCHAR},
      </if>
      <if test="keys.containsKey('csspGroupStandardidNumber')">
        cssp_group_standardID_number = #{keys.csspGroupStandardidNumber,jdbcType=VARCHAR},
      </if>
      <if test="keys.containsKey('csspGroupStandardidName')">
        cssp_group_standardID_name = #{keys.csspGroupStandardidName,jdbcType=VARCHAR},
      </if>
      <if test="keys.containsKey('controlUnitidNumber')">
        control_unitID_number = #{keys.controlUnitidNumber,jdbcType=VARCHAR},
      </if>
      <if test="keys.containsKey('controlUnitidName')">
        control_unitID_name = #{keys.controlUnitidName,jdbcType=VARCHAR},
      </if>
      <if test="keys.containsKey('parentidNumber')">
        parentID_number = #{keys.parentidNumber,jdbcType=VARCHAR},
      </if>
      <if test="keys.containsKey('parentidLevel')">
        parentID_level = #{keys.parentidLevel,jdbcType=TINYINT},
      </if>
      <if test="keys.containsKey('parentidName')">
        parentID_name = #{keys.parentidName,jdbcType=VARCHAR},
      </if>
      <if test="keys.containsKey('deletedStatus')">
        deleted_status = #{keys.deletedStatus,jdbcType=TINYINT},
      </if>
      <if test="keys.containsKey('isLeaf')">
        is_leaf = #{keys.isLeaf,jdbcType=TINYINT},
      </if>
      <if test="keys.containsKey('level')">
        level = #{keys.level,jdbcType=TINYINT},
      </if>
      <if test="keys.containsKey('longNumber')">
        long_number = #{keys.longNumber,jdbcType=VARCHAR},
      </if>
      <if test="keys.containsKey('displayName')">
        display_name = #{keys.displayName,jdbcType=VARCHAR},
      </if>
      <if test="keys.containsKey('createTime')">
        create_time = #{keys.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="keys.containsKey('creatoridNumber')">
        creatorID_number = #{keys.creatoridNumber,jdbcType=VARCHAR},
      </if>
      <if test="keys.containsKey('creatoridName')">
        creatorID_name = #{keys.creatoridName,jdbcType=VARCHAR},
      </if>
      <if test="keys.containsKey('lastUpdateTime')">
        last_update_time = #{keys.lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="keys.containsKey('lastUpdateUseridNumber')">
        last_update_userID_number = #{keys.lastUpdateUseridNumber,jdbcType=VARCHAR},
      </if>
      <if test="keys.containsKey('lastUpdateUseridName')">
        last_update_userID_name = #{keys.lastUpdateUseridName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{keys.id,jdbcType=VARCHAR}
  </update>

  
  
  <!-- 主键获取DO xin 2019.06.05  -->
  <select id="selectByPK" resultType="com.ecarpo.bms.eas.server.supplier.suppliertype.entity.EasSupplierTypeDO">
    select
      <include refid="Base_Column_List"/>
    from 
      eas_bd_cssp_group
    where
      id = #{id,jdbcType=VARCHAR}
  </select>
  
</mapper>