<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecarpo.bms.eas.server.crmbaseproduct.dao.CrmBaseProductMapper">
  <resultMap id="BaseResultMap" type="com.ecarpo.bms.eas.server.crmbaseproduct.entity.CrmBaseProductDO">
    <!-- @mbg.generated 2019-08-05 15:18:43 -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="ptype" jdbcType="CHAR" property="ptype" />
    <result column="pmodel" jdbcType="INTEGER" property="pmodel" />
    <result column="vid" jdbcType="INTEGER" property="vid" />
    <result column="store_id" jdbcType="INTEGER" property="store_id" />
    <result column="supplier_id" jdbcType="INTEGER" property="supplier_id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="name_trim" jdbcType="VARCHAR" property="name_trim" />
    <result column="pic1" jdbcType="VARCHAR" property="pic1" />
    <result column="pic2" jdbcType="VARCHAR" property="pic2" />
    <result column="pic3" jdbcType="VARCHAR" property="pic3" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="index_code" jdbcType="VARCHAR" property="index_code" />
    <result column="model" jdbcType="VARCHAR" property="model" />
    <result column="bar_code" jdbcType="VARCHAR" property="bar_code" />
    <result column="good_type_id" jdbcType="INTEGER" property="good_type_id" />
    <result column="good_unit_id" jdbcType="INTEGER" property="good_unit_id" />
    <result column="grade_1" jdbcType="INTEGER" property="grade_1" />
    <result column="grade_2" jdbcType="INTEGER" property="grade_2" />
    <result column="grade_3" jdbcType="INTEGER" property="grade_3" />
    <result column="origin" jdbcType="VARCHAR" property="origin" />
    <result column="sdate" jdbcType="DATE" property="sdate" />
    <result column="edate" jdbcType="DATE" property="edate" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="origin_price" jdbcType="DECIMAL" property="origin_price" />
    <result column="sales_price" jdbcType="DECIMAL" property="sales_price" />
    <result column="mall_price" jdbcType="DECIMAL" property="mall_price" />
    <result column="points" jdbcType="INTEGER" property="points" />
    <result column="points_to_money" jdbcType="DECIMAL" property="points_to_money" />
    <result column="maintain_cycle" jdbcType="INTEGER" property="maintain_cycle" />
    <result column="work_hour" jdbcType="INTEGER" property="work_hour" />
    <result column="brief_desc" jdbcType="VARCHAR" property="brief_desc" />
    <result column="desc" jdbcType="VARCHAR" property="desc" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="is_weixin" jdbcType="TINYINT" property="is_weixin" />
    <result column="weixin_mall_type" jdbcType="TINYINT" property="weixin_mall_type" />
    <result column="base_num" jdbcType="INTEGER" property="base_num" />
    <result column="cost_type" jdbcType="CHAR" property="cost_type" />
    <result column="apply_serie" jdbcType="VARCHAR" property="apply_serie" />
    <result column="apply_type" jdbcType="VARCHAR" property="apply_type" />
    <result column="is_common" jdbcType="TINYINT" property="is_common" />
    <result column="is_fav" jdbcType="TINYINT" property="is_fav" />
    <result column="is_member_discount" jdbcType="CHAR" property="is_member_discount" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="last_price" jdbcType="DECIMAL" property="last_price" />
    <result column="last_price_notax" jdbcType="DECIMAL" property="last_price_notax" />
    <result column="last_buy_price" jdbcType="DECIMAL" property="last_buy_price" />
    <result column="heavy_buyer_price" jdbcType="DECIMAL" property="heavy_buyer_price" />
    <result column="repair_price" jdbcType="DECIMAL" property="repair_price" />
    <result column="creator" jdbcType="INTEGER" property="creator" />
    <result column="c_time" jdbcType="INTEGER" property="c_time" />
    <result column="proxy_count" jdbcType="INTEGER" property="proxy_count" />
    <result column="refund_count" jdbcType="INTEGER" property="refund_count" />
    <result column="act_count" jdbcType="INTEGER" property="act_count" />
    <result column="car_model" jdbcType="VARCHAR" property="car_model" />
    <result column="location_name" jdbcType="VARCHAR" property="location_name" />
    <result column="product_type_id" jdbcType="INTEGER" property="product_type_id" />
    <result column="stock_lowest" jdbcType="DECIMAL" property="stock_lowest" />
    <result column="product_brand" jdbcType="INTEGER" property="product_brand" />
    <result column="figure" jdbcType="VARCHAR" property="figure" />
    <result column="load_index" jdbcType="VARCHAR" property="load_index" />
    <result column="speed_level" jdbcType="VARCHAR" property="speed_level" />
    <result column="install_way" jdbcType="INTEGER" property="install_way" />
    <result column="is_del" jdbcType="TINYINT" property="is_del" />
    <result column="tire_width" jdbcType="VARCHAR" property="tire_width" />
    <result column="tire_flat" jdbcType="VARCHAR" property="tire_flat" />
    <result column="tire_diameter" jdbcType="VARCHAR" property="tire_diameter" />
    <result column="tire_speed_level" jdbcType="VARCHAR" property="tire_speed_level" />
    <result column="oil_viscosity" jdbcType="VARCHAR" property="oil_viscosity" />
    <result column="oil_capacity" jdbcType="VARCHAR" property="oil_capacity" />
    <result column="oil_class" jdbcType="VARCHAR" property="oil_class" />
    <result column="rest_payment" jdbcType="DECIMAL" property="rest_payment" />
    <result column="is_free" jdbcType="TINYINT" property="is_free" />
    <result column="send_type" jdbcType="TINYINT" property="send_type" />
    <result column="platform" jdbcType="TINYINT" property="platform" />
  </resultMap>
  <sql id="Base_Column_List">
    <!-- @mbg.generated 2019-08-05 15:18:43 -->
    id, ptype, pmodel, vid, store_id, supplier_id, name, name_trim, pic1, pic2, pic3, 
    code, index_code, model, bar_code, good_type_id, good_unit_id, grade_1, grade_2, 
    grade_3, origin, sdate, edate, status, origin_price, sales_price, mall_price, points, 
    points_to_money, maintain_cycle, work_hour, brief_desc, desc, remark, is_weixin, 
    weixin_mall_type, base_num, cost_type, apply_serie, apply_type, is_common, is_fav, 
    is_member_discount, unit, last_price, last_price_notax, last_buy_price, heavy_buyer_price, 
    repair_price, creator, c_time, proxy_count, refund_count, act_count, car_model, location_name, 
    product_type_id, stock_lowest, product_brand, figure, load_index, speed_level, install_way, 
    is_del, tire_width, tire_flat, tire_diameter, tire_speed_level, oil_viscosity, oil_capacity, 
    oil_class, rest_payment, is_free, send_type, platform
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!-- @mbg.generated 2019-08-05 15:18:43 -->
    select 
    <include refid="Base_Column_List" />
    from crm_base_product
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!-- @mbg.generated 2019-08-05 15:18:43 -->
    delete from crm_base_product
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.ecarpo.bms.eas.server.crmbaseproduct.entity.CrmBaseProductDO">
    <!-- @mbg.generated 2019-08-05 15:18:43 -->
    insert into crm_base_product (id, ptype, pmodel, 
      vid, store_id, supplier_id, 
      name, name_trim, pic1, 
      pic2, pic3, code, index_code, 
      model, bar_code, good_type_id, 
      good_unit_id, grade_1, grade_2, 
      grade_3, origin, sdate, 
      edate, status, origin_price, 
      sales_price, mall_price, points, 
      points_to_money, maintain_cycle, work_hour, 
      brief_desc, desc, remark, 
      is_weixin, weixin_mall_type, base_num, 
      cost_type, apply_serie, apply_type, 
      is_common, is_fav, is_member_discount, 
      unit, last_price, last_price_notax, 
      last_buy_price, heavy_buyer_price, repair_price, 
      creator, c_time, proxy_count, 
      refund_count, act_count, car_model, 
      location_name, product_type_id, stock_lowest, 
      product_brand, figure, load_index, 
      speed_level, install_way, is_del, 
      tire_width, tire_flat, tire_diameter, 
      tire_speed_level, oil_viscosity, oil_capacity, 
      oil_class, rest_payment, is_free, 
      send_type, platform)
    values (#{id,jdbcType=INTEGER}, #{ptype,jdbcType=CHAR}, #{pmodel,jdbcType=INTEGER}, 
      #{vid,jdbcType=INTEGER}, #{store_id,jdbcType=INTEGER}, #{supplier_id,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR}, #{name_trim,jdbcType=VARCHAR}, #{pic1,jdbcType=VARCHAR}, 
      #{pic2,jdbcType=VARCHAR}, #{pic3,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{index_code,jdbcType=VARCHAR}, 
      #{model,jdbcType=VARCHAR}, #{bar_code,jdbcType=VARCHAR}, #{good_type_id,jdbcType=INTEGER}, 
      #{good_unit_id,jdbcType=INTEGER}, #{grade_1,jdbcType=INTEGER}, #{grade_2,jdbcType=INTEGER}, 
      #{grade_3,jdbcType=INTEGER}, #{origin,jdbcType=VARCHAR}, #{sdate,jdbcType=DATE}, 
      #{edate,jdbcType=DATE}, #{status,jdbcType=TINYINT}, #{origin_price,jdbcType=DECIMAL}, 
      #{sales_price,jdbcType=DECIMAL}, #{mall_price,jdbcType=DECIMAL}, #{points,jdbcType=INTEGER}, 
      #{points_to_money,jdbcType=DECIMAL}, #{maintain_cycle,jdbcType=INTEGER}, #{work_hour,jdbcType=INTEGER}, 
      #{brief_desc,jdbcType=VARCHAR}, #{desc,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{is_weixin,jdbcType=TINYINT}, #{weixin_mall_type,jdbcType=TINYINT}, #{base_num,jdbcType=INTEGER}, 
      #{cost_type,jdbcType=CHAR}, #{apply_serie,jdbcType=VARCHAR}, #{apply_type,jdbcType=VARCHAR}, 
      #{is_common,jdbcType=TINYINT}, #{is_fav,jdbcType=TINYINT}, #{is_member_discount,jdbcType=CHAR}, 
      #{unit,jdbcType=VARCHAR}, #{last_price,jdbcType=DECIMAL}, #{last_price_notax,jdbcType=DECIMAL}, 
      #{last_buy_price,jdbcType=DECIMAL}, #{heavy_buyer_price,jdbcType=DECIMAL}, #{repair_price,jdbcType=DECIMAL}, 
      #{creator,jdbcType=INTEGER}, #{c_time,jdbcType=INTEGER}, #{proxy_count,jdbcType=INTEGER}, 
      #{refund_count,jdbcType=INTEGER}, #{act_count,jdbcType=INTEGER}, #{car_model,jdbcType=VARCHAR}, 
      #{location_name,jdbcType=VARCHAR}, #{product_type_id,jdbcType=INTEGER}, #{stock_lowest,jdbcType=DECIMAL}, 
      #{product_brand,jdbcType=INTEGER}, #{figure,jdbcType=VARCHAR}, #{load_index,jdbcType=VARCHAR}, 
      #{speed_level,jdbcType=VARCHAR}, #{install_way,jdbcType=INTEGER}, #{is_del,jdbcType=TINYINT}, 
      #{tire_width,jdbcType=VARCHAR}, #{tire_flat,jdbcType=VARCHAR}, #{tire_diameter,jdbcType=VARCHAR}, 
      #{tire_speed_level,jdbcType=VARCHAR}, #{oil_viscosity,jdbcType=VARCHAR}, #{oil_capacity,jdbcType=VARCHAR}, 
      #{oil_class,jdbcType=VARCHAR}, #{rest_payment,jdbcType=DECIMAL}, #{is_free,jdbcType=TINYINT}, 
      #{send_type,jdbcType=TINYINT}, #{platform,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.ecarpo.bms.eas.server.crmbaseproduct.entity.CrmBaseProductDO">
    <!-- @mbg.generated 2019-08-05 15:18:43 -->
    insert into crm_base_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="ptype != null">
        ptype,
      </if>
      <if test="pmodel != null">
        pmodel,
      </if>
      <if test="vid != null">
        vid,
      </if>
      <if test="store_id != null">
        store_id,
      </if>
      <if test="supplier_id != null">
        supplier_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="name_trim != null">
        name_trim,
      </if>
      <if test="pic1 != null">
        pic1,
      </if>
      <if test="pic2 != null">
        pic2,
      </if>
      <if test="pic3 != null">
        pic3,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="index_code != null">
        index_code,
      </if>
      <if test="model != null">
        model,
      </if>
      <if test="bar_code != null">
        bar_code,
      </if>
      <if test="good_type_id != null">
        good_type_id,
      </if>
      <if test="good_unit_id != null">
        good_unit_id,
      </if>
      <if test="grade_1 != null">
        grade_1,
      </if>
      <if test="grade_2 != null">
        grade_2,
      </if>
      <if test="grade_3 != null">
        grade_3,
      </if>
      <if test="origin != null">
        origin,
      </if>
      <if test="sdate != null">
        sdate,
      </if>
      <if test="edate != null">
        edate,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="origin_price != null">
        origin_price,
      </if>
      <if test="sales_price != null">
        sales_price,
      </if>
      <if test="mall_price != null">
        mall_price,
      </if>
      <if test="points != null">
        points,
      </if>
      <if test="points_to_money != null">
        points_to_money,
      </if>
      <if test="maintain_cycle != null">
        maintain_cycle,
      </if>
      <if test="work_hour != null">
        work_hour,
      </if>
      <if test="brief_desc != null">
        brief_desc,
      </if>
      <!-- <if test="desc != null">
        desc,
      </if> -->
      <if test="remark != null">
        remark,
      </if>
      <if test="is_weixin != null">
        is_weixin,
      </if>
      <if test="weixin_mall_type != null">
        weixin_mall_type,
      </if>
      <if test="base_num != null">
        base_num,
      </if>
      <if test="cost_type != null">
        cost_type,
      </if>
      <if test="apply_serie != null">
        apply_serie,
      </if>
      <if test="apply_type != null">
        apply_type,
      </if>
      <if test="is_common != null">
        is_common,
      </if>
      <if test="is_fav != null">
        is_fav,
      </if>
      <if test="is_member_discount != null">
        is_member_discount,
      </if>
      <if test="unit != null">
        unit,
      </if>
      <if test="last_price != null">
        last_price,
      </if>
      <if test="last_price_notax != null">
        last_price_notax,
      </if>
      <if test="last_buy_price != null">
        last_buy_price,
      </if>
      <if test="heavy_buyer_price != null">
        heavy_buyer_price,
      </if>
      <if test="repair_price != null">
        repair_price,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="c_time != null">
        c_time,
      </if>
      <if test="proxy_count != null">
        proxy_count,
      </if>
      <if test="refund_count != null">
        refund_count,
      </if>
      <if test="act_count != null">
        act_count,
      </if>
      <if test="car_model != null">
        car_model,
      </if>
      <if test="location_name != null">
        location_name,
      </if>
      <if test="product_type_id != null">
        product_type_id,
      </if>
      <if test="stock_lowest != null">
        stock_lowest,
      </if>
      <if test="product_brand != null">
        product_brand,
      </if>
      <if test="figure != null">
        figure,
      </if>
      <if test="load_index != null">
        load_index,
      </if>
      <if test="speed_level != null">
        speed_level,
      </if>
      <if test="install_way != null">
        install_way,
      </if>
      <if test="is_del != null">
        is_del,
      </if>
      <if test="tire_width != null">
        tire_width,
      </if>
      <if test="tire_flat != null">
        tire_flat,
      </if>
      <if test="tire_diameter != null">
        tire_diameter,
      </if>
      <if test="tire_speed_level != null">
        tire_speed_level,
      </if>
      <if test="oil_viscosity != null">
        oil_viscosity,
      </if>
      <if test="oil_capacity != null">
        oil_capacity,
      </if>
      <if test="oil_class != null">
        oil_class,
      </if>
      <if test="rest_payment != null">
        rest_payment,
      </if>
      <if test="is_free != null">
        is_free,
      </if>
      <if test="send_type != null">
        send_type,
      </if>
      <if test="platform != null">
        platform,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="ptype != null">
        #{ptype,jdbcType=CHAR},
      </if>
      <if test="pmodel != null">
        #{pmodel,jdbcType=INTEGER},
      </if>
      <if test="vid != null">
        #{vid,jdbcType=INTEGER},
      </if>
      <if test="store_id != null">
        #{store_id,jdbcType=INTEGER},
      </if>
      <if test="supplier_id != null">
        #{supplier_id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="name_trim != null">
        #{name_trim,jdbcType=VARCHAR},
      </if>
      <if test="pic1 != null">
        #{pic1,jdbcType=VARCHAR},
      </if>
      <if test="pic2 != null">
        #{pic2,jdbcType=VARCHAR},
      </if>
      <if test="pic3 != null">
        #{pic3,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="index_code != null">
        #{index_code,jdbcType=VARCHAR},
      </if>
      <if test="model != null">
        #{model,jdbcType=VARCHAR},
      </if>
      <if test="bar_code != null">
        #{bar_code,jdbcType=VARCHAR},
      </if>
      <if test="good_type_id != null">
        #{good_type_id,jdbcType=INTEGER},
      </if>
      <if test="good_unit_id != null">
        #{good_unit_id,jdbcType=INTEGER},
      </if>
      <if test="grade_1 != null">
        #{grade_1,jdbcType=INTEGER},
      </if>
      <if test="grade_2 != null">
        #{grade_2,jdbcType=INTEGER},
      </if>
      <if test="grade_3 != null">
        #{grade_3,jdbcType=INTEGER},
      </if>
      <if test="origin != null">
        #{origin,jdbcType=VARCHAR},
      </if>
      <if test="sdate != null">
        #{sdate,jdbcType=DATE},
      </if>
      <if test="edate != null">
        #{edate,jdbcType=DATE},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="origin_price != null">
        #{origin_price,jdbcType=DECIMAL},
      </if>
      <if test="sales_price != null">
        #{sales_price,jdbcType=DECIMAL},
      </if>
      <if test="mall_price != null">
        #{mall_price,jdbcType=DECIMAL},
      </if>
      <if test="points != null">
        #{points,jdbcType=INTEGER},
      </if>
      <if test="points_to_money != null">
        #{points_to_money,jdbcType=DECIMAL},
      </if>
      <if test="maintain_cycle != null">
        #{maintain_cycle,jdbcType=INTEGER},
      </if>
      <if test="work_hour != null">
        #{work_hour,jdbcType=INTEGER},
      </if>
      <if test="brief_desc != null">
        #{brief_desc,jdbcType=VARCHAR},
      </if>
      <!-- <if test="desc != null">
        #{desc,jdbcType=VARCHAR},
      </if> -->
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="is_weixin != null">
        #{is_weixin,jdbcType=TINYINT},
      </if>
      <if test="weixin_mall_type != null">
        #{weixin_mall_type,jdbcType=TINYINT},
      </if>
      <if test="base_num != null">
        #{base_num,jdbcType=INTEGER},
      </if>
      <if test="cost_type != null">
        #{cost_type,jdbcType=CHAR},
      </if>
      <if test="apply_serie != null">
        #{apply_serie,jdbcType=VARCHAR},
      </if>
      <if test="apply_type != null">
        #{apply_type,jdbcType=VARCHAR},
      </if>
      <if test="is_common != null">
        #{is_common,jdbcType=TINYINT},
      </if>
      <if test="is_fav != null">
        #{is_fav,jdbcType=TINYINT},
      </if>
      <if test="is_member_discount != null">
        #{is_member_discount,jdbcType=CHAR},
      </if>
      <if test="unit != null">
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="last_price != null">
        #{last_price,jdbcType=DECIMAL},
      </if>
      <if test="last_price_notax != null">
        #{last_price_notax,jdbcType=DECIMAL},
      </if>
      <if test="last_buy_price != null">
        #{last_buy_price,jdbcType=DECIMAL},
      </if>
      <if test="heavy_buyer_price != null">
        #{heavy_buyer_price,jdbcType=DECIMAL},
      </if>
      <if test="repair_price != null">
        #{repair_price,jdbcType=DECIMAL},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=INTEGER},
      </if>
      <if test="c_time != null">
        #{c_time,jdbcType=INTEGER},
      </if>
      <if test="proxy_count != null">
        #{proxy_count,jdbcType=INTEGER},
      </if>
      <if test="refund_count != null">
        #{refund_count,jdbcType=INTEGER},
      </if>
      <if test="act_count != null">
        #{act_count,jdbcType=INTEGER},
      </if>
      <if test="car_model != null">
        #{car_model,jdbcType=VARCHAR},
      </if>
      <if test="location_name != null">
        #{location_name,jdbcType=VARCHAR},
      </if>
      <if test="product_type_id != null">
        #{product_type_id,jdbcType=INTEGER},
      </if>
      <if test="stock_lowest != null">
        #{stock_lowest,jdbcType=DECIMAL},
      </if>
      <if test="product_brand != null">
        #{product_brand,jdbcType=INTEGER},
      </if>
      <if test="figure != null">
        #{figure,jdbcType=VARCHAR},
      </if>
      <if test="load_index != null">
        #{load_index,jdbcType=VARCHAR},
      </if>
      <if test="speed_level != null">
        #{speed_level,jdbcType=VARCHAR},
      </if>
      <if test="install_way != null">
        #{install_way,jdbcType=INTEGER},
      </if>
      <if test="is_del != null">
        #{is_del,jdbcType=TINYINT},
      </if>
      <if test="tire_width != null">
        #{tire_width,jdbcType=VARCHAR},
      </if>
      <if test="tire_flat != null">
        #{tire_flat,jdbcType=VARCHAR},
      </if>
      <if test="tire_diameter != null">
        #{tire_diameter,jdbcType=VARCHAR},
      </if>
      <if test="tire_speed_level != null">
        #{tire_speed_level,jdbcType=VARCHAR},
      </if>
      <if test="oil_viscosity != null">
        #{oil_viscosity,jdbcType=VARCHAR},
      </if>
      <if test="oil_capacity != null">
        #{oil_capacity,jdbcType=VARCHAR},
      </if>
      <if test="oil_class != null">
        #{oil_class,jdbcType=VARCHAR},
      </if>
      <if test="rest_payment != null">
        #{rest_payment,jdbcType=DECIMAL},
      </if>
      <if test="is_free != null">
        #{is_free,jdbcType=TINYINT},
      </if>
      <if test="send_type != null">
        #{send_type,jdbcType=TINYINT},
      </if>
      <if test="platform != null">
        #{platform,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ecarpo.bms.eas.server.crmbaseproduct.entity.CrmBaseProductDO">
    <!-- @mbg.generated 2019-08-05 15:18:43 -->
    update crm_base_product
    <set>
      <if test="ptype != null">
        ptype = #{ptype,jdbcType=CHAR},
      </if>
      <if test="pmodel != null">
        pmodel = #{pmodel,jdbcType=INTEGER},
      </if>
      <if test="vid != null">
        vid = #{vid,jdbcType=INTEGER},
      </if>
      <if test="store_id != null">
        store_id = #{store_id,jdbcType=INTEGER},
      </if>
      <if test="supplier_id != null">
        supplier_id = #{supplier_id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="name_trim != null">
        name_trim = #{name_trim,jdbcType=VARCHAR},
      </if>
      <if test="pic1 != null">
        pic1 = #{pic1,jdbcType=VARCHAR},
      </if>
      <if test="pic2 != null">
        pic2 = #{pic2,jdbcType=VARCHAR},
      </if>
      <if test="pic3 != null">
        pic3 = #{pic3,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="index_code != null">
        index_code = #{index_code,jdbcType=VARCHAR},
      </if>
      <if test="model != null">
        model = #{model,jdbcType=VARCHAR},
      </if>
      <if test="bar_code != null">
        bar_code = #{bar_code,jdbcType=VARCHAR},
      </if>
      <if test="good_type_id != null">
        good_type_id = #{good_type_id,jdbcType=INTEGER},
      </if>
      <if test="good_unit_id != null">
        good_unit_id = #{good_unit_id,jdbcType=INTEGER},
      </if>
      <if test="grade_1 != null">
        grade_1 = #{grade_1,jdbcType=INTEGER},
      </if>
      <if test="grade_2 != null">
        grade_2 = #{grade_2,jdbcType=INTEGER},
      </if>
      <if test="grade_3 != null">
        grade_3 = #{grade_3,jdbcType=INTEGER},
      </if>
      <if test="origin != null">
        origin = #{origin,jdbcType=VARCHAR},
      </if>
      <if test="sdate != null">
        sdate = #{sdate,jdbcType=DATE},
      </if>
      <if test="edate != null">
        edate = #{edate,jdbcType=DATE},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="origin_price != null">
        origin_price = #{origin_price,jdbcType=DECIMAL},
      </if>
      <if test="sales_price != null">
        sales_price = #{sales_price,jdbcType=DECIMAL},
      </if>
      <if test="mall_price != null">
        mall_price = #{mall_price,jdbcType=DECIMAL},
      </if>
      <if test="points != null">
        points = #{points,jdbcType=INTEGER},
      </if>
      <if test="points_to_money != null">
        points_to_money = #{points_to_money,jdbcType=DECIMAL},
      </if>
      <if test="maintain_cycle != null">
        maintain_cycle = #{maintain_cycle,jdbcType=INTEGER},
      </if>
      <if test="work_hour != null">
        work_hour = #{work_hour,jdbcType=INTEGER},
      </if>
      <if test="brief_desc != null">
        brief_desc = #{brief_desc,jdbcType=VARCHAR},
      </if>
      <if test="desc != null">
        desc = #{desc,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="is_weixin != null">
        is_weixin = #{is_weixin,jdbcType=TINYINT},
      </if>
      <if test="weixin_mall_type != null">
        weixin_mall_type = #{weixin_mall_type,jdbcType=TINYINT},
      </if>
      <if test="base_num != null">
        base_num = #{base_num,jdbcType=INTEGER},
      </if>
      <if test="cost_type != null">
        cost_type = #{cost_type,jdbcType=CHAR},
      </if>
      <if test="apply_serie != null">
        apply_serie = #{apply_serie,jdbcType=VARCHAR},
      </if>
      <if test="apply_type != null">
        apply_type = #{apply_type,jdbcType=VARCHAR},
      </if>
      <if test="is_common != null">
        is_common = #{is_common,jdbcType=TINYINT},
      </if>
      <if test="is_fav != null">
        is_fav = #{is_fav,jdbcType=TINYINT},
      </if>
      <if test="is_member_discount != null">
        is_member_discount = #{is_member_discount,jdbcType=CHAR},
      </if>
      <if test="unit != null">
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="last_price != null">
        last_price = #{last_price,jdbcType=DECIMAL},
      </if>
      <if test="last_price_notax != null">
        last_price_notax = #{last_price_notax,jdbcType=DECIMAL},
      </if>
      <if test="last_buy_price != null">
        last_buy_price = #{last_buy_price,jdbcType=DECIMAL},
      </if>
      <if test="heavy_buyer_price != null">
        heavy_buyer_price = #{heavy_buyer_price,jdbcType=DECIMAL},
      </if>
      <if test="repair_price != null">
        repair_price = #{repair_price,jdbcType=DECIMAL},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=INTEGER},
      </if>
      <if test="c_time != null">
        c_time = #{c_time,jdbcType=INTEGER},
      </if>
      <if test="proxy_count != null">
        proxy_count = #{proxy_count,jdbcType=INTEGER},
      </if>
      <if test="refund_count != null">
        refund_count = #{refund_count,jdbcType=INTEGER},
      </if>
      <if test="act_count != null">
        act_count = #{act_count,jdbcType=INTEGER},
      </if>
      <if test="car_model != null">
        car_model = #{car_model,jdbcType=VARCHAR},
      </if>
      <if test="location_name != null">
        location_name = #{location_name,jdbcType=VARCHAR},
      </if>
      <if test="product_type_id != null">
        product_type_id = #{product_type_id,jdbcType=INTEGER},
      </if>
      <if test="stock_lowest != null">
        stock_lowest = #{stock_lowest,jdbcType=DECIMAL},
      </if>
      <if test="product_brand != null">
        product_brand = #{product_brand,jdbcType=INTEGER},
      </if>
      <if test="figure != null">
        figure = #{figure,jdbcType=VARCHAR},
      </if>
      <if test="load_index != null">
        load_index = #{load_index,jdbcType=VARCHAR},
      </if>
      <if test="speed_level != null">
        speed_level = #{speed_level,jdbcType=VARCHAR},
      </if>
      <if test="install_way != null">
        install_way = #{install_way,jdbcType=INTEGER},
      </if>
      <if test="is_del != null">
        is_del = #{is_del,jdbcType=TINYINT},
      </if>
      <if test="tire_width != null">
        tire_width = #{tire_width,jdbcType=VARCHAR},
      </if>
      <if test="tire_flat != null">
        tire_flat = #{tire_flat,jdbcType=VARCHAR},
      </if>
      <if test="tire_diameter != null">
        tire_diameter = #{tire_diameter,jdbcType=VARCHAR},
      </if>
      <if test="tire_speed_level != null">
        tire_speed_level = #{tire_speed_level,jdbcType=VARCHAR},
      </if>
      <if test="oil_viscosity != null">
        oil_viscosity = #{oil_viscosity,jdbcType=VARCHAR},
      </if>
      <if test="oil_capacity != null">
        oil_capacity = #{oil_capacity,jdbcType=VARCHAR},
      </if>
      <if test="oil_class != null">
        oil_class = #{oil_class,jdbcType=VARCHAR},
      </if>
      <if test="rest_payment != null">
        rest_payment = #{rest_payment,jdbcType=DECIMAL},
      </if>
      <if test="is_free != null">
        is_free = #{is_free,jdbcType=TINYINT},
      </if>
      <if test="send_type != null">
        send_type = #{send_type,jdbcType=TINYINT},
      </if>
      <if test="platform != null">
        platform = #{platform,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ecarpo.bms.eas.server.crmbaseproduct.entity.CrmBaseProductDO">
    <!-- @mbg.generated 2019-08-05 15:18:43 -->
    update crm_base_product
    set ptype = #{ptype,jdbcType=CHAR},
      pmodel = #{pmodel,jdbcType=INTEGER},
      vid = #{vid,jdbcType=INTEGER},
      store_id = #{store_id,jdbcType=INTEGER},
      supplier_id = #{supplier_id,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      name_trim = #{name_trim,jdbcType=VARCHAR},
      pic1 = #{pic1,jdbcType=VARCHAR},
      pic2 = #{pic2,jdbcType=VARCHAR},
      pic3 = #{pic3,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      index_code = #{index_code,jdbcType=VARCHAR},
      model = #{model,jdbcType=VARCHAR},
      bar_code = #{bar_code,jdbcType=VARCHAR},
      good_type_id = #{good_type_id,jdbcType=INTEGER},
      good_unit_id = #{good_unit_id,jdbcType=INTEGER},
      grade_1 = #{grade_1,jdbcType=INTEGER},
      grade_2 = #{grade_2,jdbcType=INTEGER},
      grade_3 = #{grade_3,jdbcType=INTEGER},
      origin = #{origin,jdbcType=VARCHAR},
      sdate = #{sdate,jdbcType=DATE},
      edate = #{edate,jdbcType=DATE},
      status = #{status,jdbcType=TINYINT},
      origin_price = #{origin_price,jdbcType=DECIMAL},
      sales_price = #{sales_price,jdbcType=DECIMAL},
      mall_price = #{mall_price,jdbcType=DECIMAL},
      points = #{points,jdbcType=INTEGER},
      points_to_money = #{points_to_money,jdbcType=DECIMAL},
      maintain_cycle = #{maintain_cycle,jdbcType=INTEGER},
      work_hour = #{work_hour,jdbcType=INTEGER},
      brief_desc = #{brief_desc,jdbcType=VARCHAR},
      desc = #{desc,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      is_weixin = #{is_weixin,jdbcType=TINYINT},
      weixin_mall_type = #{weixin_mall_type,jdbcType=TINYINT},
      base_num = #{base_num,jdbcType=INTEGER},
      cost_type = #{cost_type,jdbcType=CHAR},
      apply_serie = #{apply_serie,jdbcType=VARCHAR},
      apply_type = #{apply_type,jdbcType=VARCHAR},
      is_common = #{is_common,jdbcType=TINYINT},
      is_fav = #{is_fav,jdbcType=TINYINT},
      is_member_discount = #{is_member_discount,jdbcType=CHAR},
      unit = #{unit,jdbcType=VARCHAR},
      last_price = #{last_price,jdbcType=DECIMAL},
      last_price_notax = #{last_price_notax,jdbcType=DECIMAL},
      last_buy_price = #{last_buy_price,jdbcType=DECIMAL},
      heavy_buyer_price = #{heavy_buyer_price,jdbcType=DECIMAL},
      repair_price = #{repair_price,jdbcType=DECIMAL},
      creator = #{creator,jdbcType=INTEGER},
      c_time = #{c_time,jdbcType=INTEGER},
      proxy_count = #{proxy_count,jdbcType=INTEGER},
      refund_count = #{refund_count,jdbcType=INTEGER},
      act_count = #{act_count,jdbcType=INTEGER},
      car_model = #{car_model,jdbcType=VARCHAR},
      location_name = #{location_name,jdbcType=VARCHAR},
      product_type_id = #{product_type_id,jdbcType=INTEGER},
      stock_lowest = #{stock_lowest,jdbcType=DECIMAL},
      product_brand = #{product_brand,jdbcType=INTEGER},
      figure = #{figure,jdbcType=VARCHAR},
      load_index = #{load_index,jdbcType=VARCHAR},
      speed_level = #{speed_level,jdbcType=VARCHAR},
      install_way = #{install_way,jdbcType=INTEGER},
      is_del = #{is_del,jdbcType=TINYINT},
      tire_width = #{tire_width,jdbcType=VARCHAR},
      tire_flat = #{tire_flat,jdbcType=VARCHAR},
      tire_diameter = #{tire_diameter,jdbcType=VARCHAR},
      tire_speed_level = #{tire_speed_level,jdbcType=VARCHAR},
      oil_viscosity = #{oil_viscosity,jdbcType=VARCHAR},
      oil_capacity = #{oil_capacity,jdbcType=VARCHAR},
      oil_class = #{oil_class,jdbcType=VARCHAR},
      rest_payment = #{rest_payment,jdbcType=DECIMAL},
      is_free = #{is_free,jdbcType=TINYINT},
      send_type = #{send_type,jdbcType=TINYINT},
      platform = #{platform,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
    
  <!-- user define -->
  <select id="existsByCode" resultType="java.lang.Long">
    select 1 from crm_base_product
    where code = #{code,jdbcType=VARCHAR}
    limit 0, 1
  </select>
  
</mapper>