<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecarpo.bms.eas.server.crmbaseproduct.dao.CrmBaseProductMapper">
  <resultMap id="BaseResultMap" type="com.ecarpo.bms.eas.server.crmbaseproduct.entity.CrmBaseProductDO">
    <!-- @mbg.generated 2019-07-26 15:13:45 -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="ptype" jdbcType="CHAR" property="ptype" />
    <result column="pmodel" jdbcType="INTEGER" property="pmodel" />
    <result column="vid" jdbcType="INTEGER" property="vid" />
    <result column="store_id" jdbcType="INTEGER" property="storeId" />
    <result column="supplier_id" jdbcType="INTEGER" property="supplierId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="name_trim" jdbcType="VARCHAR" property="nameTrim" />
    <result column="pic1" jdbcType="VARCHAR" property="pic1" />
    <result column="pic2" jdbcType="VARCHAR" property="pic2" />
    <result column="pic3" jdbcType="VARCHAR" property="pic3" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="index_code" jdbcType="VARCHAR" property="indexCode" />
    <result column="model" jdbcType="VARCHAR" property="model" />
    <result column="bar_code" jdbcType="VARCHAR" property="barCode" />
    <result column="good_type_id" jdbcType="INTEGER" property="goodTypeId" />
    <result column="good_unit_id" jdbcType="INTEGER" property="goodUnitId" />
    <result column="grade_1" jdbcType="INTEGER" property="grade1" />
    <result column="grade_2" jdbcType="INTEGER" property="grade2" />
    <result column="grade_3" jdbcType="INTEGER" property="grade3" />
    <result column="origin" jdbcType="VARCHAR" property="origin" />
    <result column="sdate" jdbcType="DATE" property="sdate" />
    <result column="edate" jdbcType="DATE" property="edate" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="origin_price" jdbcType="DECIMAL" property="originPrice" />
    <result column="sales_price" jdbcType="DECIMAL" property="salesPrice" />
    <result column="mall_price" jdbcType="DECIMAL" property="mallPrice" />
    <result column="points" jdbcType="INTEGER" property="points" />
    <result column="points_to_money" jdbcType="DECIMAL" property="pointsToMoney" />
    <result column="maintain_cycle" jdbcType="INTEGER" property="maintainCycle" />
    <result column="work_hour" jdbcType="INTEGER" property="workHour" />
    <result column="brief_desc" jdbcType="VARCHAR" property="briefDesc" />
    <result column="desc" jdbcType="VARCHAR" property="desc" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="is_weixin" jdbcType="TINYINT" property="isWeixin" />
    <result column="weixin_mall_type" jdbcType="TINYINT" property="weixinMallType" />
    <result column="base_num" jdbcType="INTEGER" property="baseNum" />
    <result column="cost_type" jdbcType="CHAR" property="costType" />
    <result column="apply_serie" jdbcType="VARCHAR" property="applySerie" />
    <result column="apply_type" jdbcType="VARCHAR" property="applyType" />
    <result column="is_common" jdbcType="TINYINT" property="isCommon" />
    <result column="is_fav" jdbcType="TINYINT" property="isFav" />
    <result column="is_member_discount" jdbcType="CHAR" property="isMemberDiscount" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="last_price" jdbcType="DECIMAL" property="lastPrice" />
    <result column="last_price_notax" jdbcType="DECIMAL" property="lastPriceNotax" />
    <result column="last_buy_price" jdbcType="DECIMAL" property="lastBuyPrice" />
    <result column="heavy_buyer_price" jdbcType="DECIMAL" property="heavyBuyerPrice" />
    <result column="repair_price" jdbcType="DECIMAL" property="repairPrice" />
    <result column="creator" jdbcType="INTEGER" property="creator" />
    <result column="c_time" jdbcType="TIMESTAMP" property="cTime" />
    <result column="proxy_count" jdbcType="INTEGER" property="proxyCount" />
    <result column="refund_count" jdbcType="INTEGER" property="refundCount" />
    <result column="act_count" jdbcType="INTEGER" property="actCount" />
    <result column="car_model" jdbcType="VARCHAR" property="carModel" />
    <result column="location_name" jdbcType="VARCHAR" property="locationName" />
    <result column="product_type_id" jdbcType="INTEGER" property="productTypeId" />
    <result column="stock_lowest" jdbcType="DECIMAL" property="stockLowest" />
    <result column="product_brand" jdbcType="INTEGER" property="productBrand" />
    <result column="figure" jdbcType="VARCHAR" property="figure" />
    <result column="load_index" jdbcType="VARCHAR" property="loadIndex" />
    <result column="speed_level" jdbcType="VARCHAR" property="speedLevel" />
    <result column="install_way" jdbcType="INTEGER" property="installWay" />
    <result column="is_del" jdbcType="TINYINT" property="isDel" />
    <result column="tire_width" jdbcType="VARCHAR" property="tireWidth" />
    <result column="tire_flat" jdbcType="VARCHAR" property="tireFlat" />
    <result column="tire_diameter" jdbcType="VARCHAR" property="tireDiameter" />
    <result column="tire_speed_level" jdbcType="VARCHAR" property="tireSpeedLevel" />
    <result column="oil_viscosity" jdbcType="VARCHAR" property="oilViscosity" />
    <result column="oil_capacity" jdbcType="VARCHAR" property="oilCapacity" />
    <result column="oil_class" jdbcType="VARCHAR" property="oilClass" />
    <result column="rest_payment" jdbcType="DECIMAL" property="restPayment" />
    <result column="is_free" jdbcType="TINYINT" property="isFree" />
    <result column="send_type" jdbcType="TINYINT" property="sendType" />
    <result column="platform" jdbcType="TINYINT" property="platform" />
  </resultMap>
  <sql id="Base_Column_List">
    <!-- @mbg.generated 2019-07-26 15:13:45 -->
    id, ptype, pmodel, vid, store_id, supplier_id, name, name_trim, pic1, pic2, pic3, 
    code, index_code, model, bar_code, good_type_id, good_unit_id, grade_1, grade_2, 
    grade_3, origin, sdate, edate, status, origin_price, sales_price, mall_price, points, 
    points_to_money, maintain_cycle, work_hour, brief_desc, desc, remark, is_weixin, 
    weixin_mall_type, base_num, cost_type, apply_serie, apply_type, is_common, is_fav, 
    is_member_discount, unit, last_price, last_price_notax, last_buy_price, heavy_buyer_price, 
    repair_price, creator, c_time, proxy_count, refund_count, act_count, car_model, location_name, 
    product_type_id, stock_lowest, product_brand, figure, load_index, speed_level, install_way, 
    is_del, tire_width, tire_flat, tire_diameter, tire_speed_level, oil_viscosity, oil_capacity, 
    oil_class, rest_payment, is_free, send_type, platform
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!-- @mbg.generated 2019-07-26 15:13:45 -->
    select 
    <include refid="Base_Column_List" />
    from crm_base_product
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!-- @mbg.generated 2019-07-26 15:13:45 -->
    delete from crm_base_product
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ecarpo.bms.eas.server.crmbaseproduct.entity.CrmBaseProductDO">
    <!-- @mbg.generated 2019-07-26 15:13:45 -->
    insert into crm_base_product (id, ptype, pmodel, 
      vid, store_id, supplier_id, 
      name, name_trim, pic1, 
      pic2, pic3, code, index_code, 
      model, bar_code, good_type_id, 
      good_unit_id, grade_1, grade_2, 
      grade_3, origin, sdate, 
      edate, status, origin_price, 
      sales_price, mall_price, points, 
      points_to_money, maintain_cycle, work_hour, 
      brief_desc, desc, remark, 
      is_weixin, weixin_mall_type, base_num, 
      cost_type, apply_serie, apply_type, 
      is_common, is_fav, is_member_discount, 
      unit, last_price, last_price_notax, 
      last_buy_price, heavy_buyer_price, repair_price, 
      creator, c_time, proxy_count, 
      refund_count, act_count, car_model, 
      location_name, product_type_id, stock_lowest, 
      product_brand, figure, load_index, 
      speed_level, install_way, is_del, 
      tire_width, tire_flat, tire_diameter, 
      tire_speed_level, oil_viscosity, oil_capacity, 
      oil_class, rest_payment, is_free, 
      send_type, platform)
    values (#{id,jdbcType=INTEGER}, #{ptype,jdbcType=CHAR}, #{pmodel,jdbcType=INTEGER}, 
      #{vid,jdbcType=INTEGER}, #{storeId,jdbcType=INTEGER}, #{supplierId,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR}, #{nameTrim,jdbcType=VARCHAR}, #{pic1,jdbcType=VARCHAR}, 
      #{pic2,jdbcType=VARCHAR}, #{pic3,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, #{indexCode,jdbcType=VARCHAR}, 
      #{model,jdbcType=VARCHAR}, #{barCode,jdbcType=VARCHAR}, #{goodTypeId,jdbcType=INTEGER}, 
      #{goodUnitId,jdbcType=INTEGER}, #{grade1,jdbcType=INTEGER}, #{grade2,jdbcType=INTEGER}, 
      #{grade3,jdbcType=INTEGER}, #{origin,jdbcType=VARCHAR}, #{sdate,jdbcType=DATE}, 
      #{edate,jdbcType=DATE}, #{status,jdbcType=TINYINT}, #{originPrice,jdbcType=DECIMAL}, 
      #{salesPrice,jdbcType=DECIMAL}, #{mallPrice,jdbcType=DECIMAL}, #{points,jdbcType=INTEGER}, 
      #{pointsToMoney,jdbcType=DECIMAL}, #{maintainCycle,jdbcType=INTEGER}, #{workHour,jdbcType=INTEGER}, 
      #{briefDesc,jdbcType=VARCHAR}, #{desc,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, 
      #{isWeixin,jdbcType=TINYINT}, #{weixinMallType,jdbcType=TINYINT}, #{baseNum,jdbcType=INTEGER}, 
      #{costType,jdbcType=CHAR}, #{applySerie,jdbcType=VARCHAR}, #{applyType,jdbcType=VARCHAR}, 
      #{isCommon,jdbcType=TINYINT}, #{isFav,jdbcType=TINYINT}, #{isMemberDiscount,jdbcType=CHAR}, 
      #{unit,jdbcType=VARCHAR}, #{lastPrice,jdbcType=DECIMAL}, #{lastPriceNotax,jdbcType=DECIMAL}, 
      #{lastBuyPrice,jdbcType=DECIMAL}, #{heavyBuyerPrice,jdbcType=DECIMAL}, #{repairPrice,jdbcType=DECIMAL}, 
      #{creator,jdbcType=INTEGER}, #{cTime,jdbcType=TIMESTAMP}, #{proxyCount,jdbcType=INTEGER}, 
      #{refundCount,jdbcType=INTEGER}, #{actCount,jdbcType=INTEGER}, #{carModel,jdbcType=VARCHAR}, 
      #{locationName,jdbcType=VARCHAR}, #{productTypeId,jdbcType=INTEGER}, #{stockLowest,jdbcType=DECIMAL}, 
      #{productBrand,jdbcType=INTEGER}, #{figure,jdbcType=VARCHAR}, #{loadIndex,jdbcType=VARCHAR}, 
      #{speedLevel,jdbcType=VARCHAR}, #{installWay,jdbcType=INTEGER}, #{isDel,jdbcType=TINYINT}, 
      #{tireWidth,jdbcType=VARCHAR}, #{tireFlat,jdbcType=VARCHAR}, #{tireDiameter,jdbcType=VARCHAR}, 
      #{tireSpeedLevel,jdbcType=VARCHAR}, #{oilViscosity,jdbcType=VARCHAR}, #{oilCapacity,jdbcType=VARCHAR}, 
      #{oilClass,jdbcType=VARCHAR}, #{restPayment,jdbcType=DECIMAL}, #{isFree,jdbcType=TINYINT}, 
      #{sendType,jdbcType=TINYINT}, #{platform,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.ecarpo.bms.eas.server.crmbaseproduct.entity.CrmBaseProductDO">
    <!-- @mbg.generated 2019-07-26 15:13:45 -->
    insert into crm_base_product
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="ptype != null">
        ptype,
      </if>
      <if test="pmodel != null">
        pmodel,
      </if>
      <if test="vid != null">
        vid,
      </if>
      <if test="storeId != null">
        store_id,
      </if>
      <if test="supplierId != null">
        supplier_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="nameTrim != null">
        name_trim,
      </if>
      <if test="pic1 != null">
        pic1,
      </if>
      <if test="pic2 != null">
        pic2,
      </if>
      <if test="pic3 != null">
        pic3,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="indexCode != null">
        index_code,
      </if>
      <if test="model != null">
        model,
      </if>
      <if test="barCode != null">
        bar_code,
      </if>
      <if test="goodTypeId != null">
        good_type_id,
      </if>
      <if test="goodUnitId != null">
        good_unit_id,
      </if>
      <if test="grade1 != null">
        grade_1,
      </if>
      <if test="grade2 != null">
        grade_2,
      </if>
      <if test="grade3 != null">
        grade_3,
      </if>
      <if test="origin != null">
        origin,
      </if>
      <if test="sdate != null">
        sdate,
      </if>
      <if test="edate != null">
        edate,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="originPrice != null">
        origin_price,
      </if>
      <if test="salesPrice != null">
        sales_price,
      </if>
      <if test="mallPrice != null">
        mall_price,
      </if>
      <if test="points != null">
        points,
      </if>
      <if test="pointsToMoney != null">
        points_to_money,
      </if>
      <if test="maintainCycle != null">
        maintain_cycle,
      </if>
      <if test="workHour != null">
        work_hour,
      </if>
      <if test="briefDesc != null">
        brief_desc,
      </if>
      <if test="desc != null">
        desc,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="isWeixin != null">
        is_weixin,
      </if>
      <if test="weixinMallType != null">
        weixin_mall_type,
      </if>
      <if test="baseNum != null">
        base_num,
      </if>
      <if test="costType != null">
        cost_type,
      </if>
      <if test="applySerie != null">
        apply_serie,
      </if>
      <if test="applyType != null">
        apply_type,
      </if>
      <if test="isCommon != null">
        is_common,
      </if>
      <if test="isFav != null">
        is_fav,
      </if>
      <if test="isMemberDiscount != null">
        is_member_discount,
      </if>
      <if test="unit != null">
        unit,
      </if>
      <if test="lastPrice != null">
        last_price,
      </if>
      <if test="lastPriceNotax != null">
        last_price_notax,
      </if>
      <if test="lastBuyPrice != null">
        last_buy_price,
      </if>
      <if test="heavyBuyerPrice != null">
        heavy_buyer_price,
      </if>
      <if test="repairPrice != null">
        repair_price,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="cTime != null">
        c_time,
      </if>
      <if test="proxyCount != null">
        proxy_count,
      </if>
      <if test="refundCount != null">
        refund_count,
      </if>
      <if test="actCount != null">
        act_count,
      </if>
      <if test="carModel != null">
        car_model,
      </if>
      <if test="locationName != null">
        location_name,
      </if>
      <if test="productTypeId != null">
        product_type_id,
      </if>
      <if test="stockLowest != null">
        stock_lowest,
      </if>
      <if test="productBrand != null">
        product_brand,
      </if>
      <if test="figure != null">
        figure,
      </if>
      <if test="loadIndex != null">
        load_index,
      </if>
      <if test="speedLevel != null">
        speed_level,
      </if>
      <if test="installWay != null">
        install_way,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="tireWidth != null">
        tire_width,
      </if>
      <if test="tireFlat != null">
        tire_flat,
      </if>
      <if test="tireDiameter != null">
        tire_diameter,
      </if>
      <if test="tireSpeedLevel != null">
        tire_speed_level,
      </if>
      <if test="oilViscosity != null">
        oil_viscosity,
      </if>
      <if test="oilCapacity != null">
        oil_capacity,
      </if>
      <if test="oilClass != null">
        oil_class,
      </if>
      <if test="restPayment != null">
        rest_payment,
      </if>
      <if test="isFree != null">
        is_free,
      </if>
      <if test="sendType != null">
        send_type,
      </if>
      <if test="platform != null">
        platform,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="ptype != null">
        #{ptype,jdbcType=CHAR},
      </if>
      <if test="pmodel != null">
        #{pmodel,jdbcType=INTEGER},
      </if>
      <if test="vid != null">
        #{vid,jdbcType=INTEGER},
      </if>
      <if test="storeId != null">
        #{storeId,jdbcType=INTEGER},
      </if>
      <if test="supplierId != null">
        #{supplierId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="nameTrim != null">
        #{nameTrim,jdbcType=VARCHAR},
      </if>
      <if test="pic1 != null">
        #{pic1,jdbcType=VARCHAR},
      </if>
      <if test="pic2 != null">
        #{pic2,jdbcType=VARCHAR},
      </if>
      <if test="pic3 != null">
        #{pic3,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="indexCode != null">
        #{indexCode,jdbcType=VARCHAR},
      </if>
      <if test="model != null">
        #{model,jdbcType=VARCHAR},
      </if>
      <if test="barCode != null">
        #{barCode,jdbcType=VARCHAR},
      </if>
      <if test="goodTypeId != null">
        #{goodTypeId,jdbcType=INTEGER},
      </if>
      <if test="goodUnitId != null">
        #{goodUnitId,jdbcType=INTEGER},
      </if>
      <if test="grade1 != null">
        #{grade1,jdbcType=INTEGER},
      </if>
      <if test="grade2 != null">
        #{grade2,jdbcType=INTEGER},
      </if>
      <if test="grade3 != null">
        #{grade3,jdbcType=INTEGER},
      </if>
      <if test="origin != null">
        #{origin,jdbcType=VARCHAR},
      </if>
      <if test="sdate != null">
        #{sdate,jdbcType=DATE},
      </if>
      <if test="edate != null">
        #{edate,jdbcType=DATE},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="originPrice != null">
        #{originPrice,jdbcType=DECIMAL},
      </if>
      <if test="salesPrice != null">
        #{salesPrice,jdbcType=DECIMAL},
      </if>
      <if test="mallPrice != null">
        #{mallPrice,jdbcType=DECIMAL},
      </if>
      <if test="points != null">
        #{points,jdbcType=INTEGER},
      </if>
      <if test="pointsToMoney != null">
        #{pointsToMoney,jdbcType=DECIMAL},
      </if>
      <if test="maintainCycle != null">
        #{maintainCycle,jdbcType=INTEGER},
      </if>
      <if test="workHour != null">
        #{workHour,jdbcType=INTEGER},
      </if>
      <if test="briefDesc != null">
        #{briefDesc,jdbcType=VARCHAR},
      </if>
      <if test="desc != null">
        #{desc,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isWeixin != null">
        #{isWeixin,jdbcType=TINYINT},
      </if>
      <if test="weixinMallType != null">
        #{weixinMallType,jdbcType=TINYINT},
      </if>
      <if test="baseNum != null">
        #{baseNum,jdbcType=INTEGER},
      </if>
      <if test="costType != null">
        #{costType,jdbcType=CHAR},
      </if>
      <if test="applySerie != null">
        #{applySerie,jdbcType=VARCHAR},
      </if>
      <if test="applyType != null">
        #{applyType,jdbcType=VARCHAR},
      </if>
      <if test="isCommon != null">
        #{isCommon,jdbcType=TINYINT},
      </if>
      <if test="isFav != null">
        #{isFav,jdbcType=TINYINT},
      </if>
      <if test="isMemberDiscount != null">
        #{isMemberDiscount,jdbcType=CHAR},
      </if>
      <if test="unit != null">
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="lastPrice != null">
        #{lastPrice,jdbcType=DECIMAL},
      </if>
      <if test="lastPriceNotax != null">
        #{lastPriceNotax,jdbcType=DECIMAL},
      </if>
      <if test="lastBuyPrice != null">
        #{lastBuyPrice,jdbcType=DECIMAL},
      </if>
      <if test="heavyBuyerPrice != null">
        #{heavyBuyerPrice,jdbcType=DECIMAL},
      </if>
      <if test="repairPrice != null">
        #{repairPrice,jdbcType=DECIMAL},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=INTEGER},
      </if>
      <if test="cTime != null">
        #{cTime,jdbcType=TIMESTAMP},
      </if>
      <if test="proxyCount != null">
        #{proxyCount,jdbcType=INTEGER},
      </if>
      <if test="refundCount != null">
        #{refundCount,jdbcType=INTEGER},
      </if>
      <if test="actCount != null">
        #{actCount,jdbcType=INTEGER},
      </if>
      <if test="carModel != null">
        #{carModel,jdbcType=VARCHAR},
      </if>
      <if test="locationName != null">
        #{locationName,jdbcType=VARCHAR},
      </if>
      <if test="productTypeId != null">
        #{productTypeId,jdbcType=INTEGER},
      </if>
      <if test="stockLowest != null">
        #{stockLowest,jdbcType=DECIMAL},
      </if>
      <if test="productBrand != null">
        #{productBrand,jdbcType=INTEGER},
      </if>
      <if test="figure != null">
        #{figure,jdbcType=VARCHAR},
      </if>
      <if test="loadIndex != null">
        #{loadIndex,jdbcType=VARCHAR},
      </if>
      <if test="speedLevel != null">
        #{speedLevel,jdbcType=VARCHAR},
      </if>
      <if test="installWay != null">
        #{installWay,jdbcType=INTEGER},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=TINYINT},
      </if>
      <if test="tireWidth != null">
        #{tireWidth,jdbcType=VARCHAR},
      </if>
      <if test="tireFlat != null">
        #{tireFlat,jdbcType=VARCHAR},
      </if>
      <if test="tireDiameter != null">
        #{tireDiameter,jdbcType=VARCHAR},
      </if>
      <if test="tireSpeedLevel != null">
        #{tireSpeedLevel,jdbcType=VARCHAR},
      </if>
      <if test="oilViscosity != null">
        #{oilViscosity,jdbcType=VARCHAR},
      </if>
      <if test="oilCapacity != null">
        #{oilCapacity,jdbcType=VARCHAR},
      </if>
      <if test="oilClass != null">
        #{oilClass,jdbcType=VARCHAR},
      </if>
      <if test="restPayment != null">
        #{restPayment,jdbcType=DECIMAL},
      </if>
      <if test="isFree != null">
        #{isFree,jdbcType=TINYINT},
      </if>
      <if test="sendType != null">
        #{sendType,jdbcType=TINYINT},
      </if>
      <if test="platform != null">
        #{platform,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ecarpo.bms.eas.server.crmbaseproduct.entity.CrmBaseProductDO">
    <!-- @mbg.generated 2019-07-26 15:13:45 -->
    update crm_base_product
    <set>
      <if test="ptype != null">
        ptype = #{ptype,jdbcType=CHAR},
      </if>
      <if test="pmodel != null">
        pmodel = #{pmodel,jdbcType=INTEGER},
      </if>
      <if test="vid != null">
        vid = #{vid,jdbcType=INTEGER},
      </if>
      <if test="storeId != null">
        store_id = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="supplierId != null">
        supplier_id = #{supplierId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="nameTrim != null">
        name_trim = #{nameTrim,jdbcType=VARCHAR},
      </if>
      <if test="pic1 != null">
        pic1 = #{pic1,jdbcType=VARCHAR},
      </if>
      <if test="pic2 != null">
        pic2 = #{pic2,jdbcType=VARCHAR},
      </if>
      <if test="pic3 != null">
        pic3 = #{pic3,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="indexCode != null">
        index_code = #{indexCode,jdbcType=VARCHAR},
      </if>
      <if test="model != null">
        model = #{model,jdbcType=VARCHAR},
      </if>
      <if test="barCode != null">
        bar_code = #{barCode,jdbcType=VARCHAR},
      </if>
      <if test="goodTypeId != null">
        good_type_id = #{goodTypeId,jdbcType=INTEGER},
      </if>
      <if test="goodUnitId != null">
        good_unit_id = #{goodUnitId,jdbcType=INTEGER},
      </if>
      <if test="grade1 != null">
        grade_1 = #{grade1,jdbcType=INTEGER},
      </if>
      <if test="grade2 != null">
        grade_2 = #{grade2,jdbcType=INTEGER},
      </if>
      <if test="grade3 != null">
        grade_3 = #{grade3,jdbcType=INTEGER},
      </if>
      <if test="origin != null">
        origin = #{origin,jdbcType=VARCHAR},
      </if>
      <if test="sdate != null">
        sdate = #{sdate,jdbcType=DATE},
      </if>
      <if test="edate != null">
        edate = #{edate,jdbcType=DATE},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="originPrice != null">
        origin_price = #{originPrice,jdbcType=DECIMAL},
      </if>
      <if test="salesPrice != null">
        sales_price = #{salesPrice,jdbcType=DECIMAL},
      </if>
      <if test="mallPrice != null">
        mall_price = #{mallPrice,jdbcType=DECIMAL},
      </if>
      <if test="points != null">
        points = #{points,jdbcType=INTEGER},
      </if>
      <if test="pointsToMoney != null">
        points_to_money = #{pointsToMoney,jdbcType=DECIMAL},
      </if>
      <if test="maintainCycle != null">
        maintain_cycle = #{maintainCycle,jdbcType=INTEGER},
      </if>
      <if test="workHour != null">
        work_hour = #{workHour,jdbcType=INTEGER},
      </if>
      <if test="briefDesc != null">
        brief_desc = #{briefDesc,jdbcType=VARCHAR},
      </if>
      <if test="desc != null">
        desc = #{desc,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="isWeixin != null">
        is_weixin = #{isWeixin,jdbcType=TINYINT},
      </if>
      <if test="weixinMallType != null">
        weixin_mall_type = #{weixinMallType,jdbcType=TINYINT},
      </if>
      <if test="baseNum != null">
        base_num = #{baseNum,jdbcType=INTEGER},
      </if>
      <if test="costType != null">
        cost_type = #{costType,jdbcType=CHAR},
      </if>
      <if test="applySerie != null">
        apply_serie = #{applySerie,jdbcType=VARCHAR},
      </if>
      <if test="applyType != null">
        apply_type = #{applyType,jdbcType=VARCHAR},
      </if>
      <if test="isCommon != null">
        is_common = #{isCommon,jdbcType=TINYINT},
      </if>
      <if test="isFav != null">
        is_fav = #{isFav,jdbcType=TINYINT},
      </if>
      <if test="isMemberDiscount != null">
        is_member_discount = #{isMemberDiscount,jdbcType=CHAR},
      </if>
      <if test="unit != null">
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="lastPrice != null">
        last_price = #{lastPrice,jdbcType=DECIMAL},
      </if>
      <if test="lastPriceNotax != null">
        last_price_notax = #{lastPriceNotax,jdbcType=DECIMAL},
      </if>
      <if test="lastBuyPrice != null">
        last_buy_price = #{lastBuyPrice,jdbcType=DECIMAL},
      </if>
      <if test="heavyBuyerPrice != null">
        heavy_buyer_price = #{heavyBuyerPrice,jdbcType=DECIMAL},
      </if>
      <if test="repairPrice != null">
        repair_price = #{repairPrice,jdbcType=DECIMAL},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=INTEGER},
      </if>
      <if test="cTime != null">
        c_time = #{cTime,jdbcType=TIMESTAMP},
      </if>
      <if test="proxyCount != null">
        proxy_count = #{proxyCount,jdbcType=INTEGER},
      </if>
      <if test="refundCount != null">
        refund_count = #{refundCount,jdbcType=INTEGER},
      </if>
      <if test="actCount != null">
        act_count = #{actCount,jdbcType=INTEGER},
      </if>
      <if test="carModel != null">
        car_model = #{carModel,jdbcType=VARCHAR},
      </if>
      <if test="locationName != null">
        location_name = #{locationName,jdbcType=VARCHAR},
      </if>
      <if test="productTypeId != null">
        product_type_id = #{productTypeId,jdbcType=INTEGER},
      </if>
      <if test="stockLowest != null">
        stock_lowest = #{stockLowest,jdbcType=DECIMAL},
      </if>
      <if test="productBrand != null">
        product_brand = #{productBrand,jdbcType=INTEGER},
      </if>
      <if test="figure != null">
        figure = #{figure,jdbcType=VARCHAR},
      </if>
      <if test="loadIndex != null">
        load_index = #{loadIndex,jdbcType=VARCHAR},
      </if>
      <if test="speedLevel != null">
        speed_level = #{speedLevel,jdbcType=VARCHAR},
      </if>
      <if test="installWay != null">
        install_way = #{installWay,jdbcType=INTEGER},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=TINYINT},
      </if>
      <if test="tireWidth != null">
        tire_width = #{tireWidth,jdbcType=VARCHAR},
      </if>
      <if test="tireFlat != null">
        tire_flat = #{tireFlat,jdbcType=VARCHAR},
      </if>
      <if test="tireDiameter != null">
        tire_diameter = #{tireDiameter,jdbcType=VARCHAR},
      </if>
      <if test="tireSpeedLevel != null">
        tire_speed_level = #{tireSpeedLevel,jdbcType=VARCHAR},
      </if>
      <if test="oilViscosity != null">
        oil_viscosity = #{oilViscosity,jdbcType=VARCHAR},
      </if>
      <if test="oilCapacity != null">
        oil_capacity = #{oilCapacity,jdbcType=VARCHAR},
      </if>
      <if test="oilClass != null">
        oil_class = #{oilClass,jdbcType=VARCHAR},
      </if>
      <if test="restPayment != null">
        rest_payment = #{restPayment,jdbcType=DECIMAL},
      </if>
      <if test="isFree != null">
        is_free = #{isFree,jdbcType=TINYINT},
      </if>
      <if test="sendType != null">
        send_type = #{sendType,jdbcType=TINYINT},
      </if>
      <if test="platform != null">
        platform = #{platform,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ecarpo.bms.eas.server.crmbaseproduct.entity.CrmBaseProductDO">
    <!-- @mbg.generated 2019-07-26 15:13:45 -->
    update crm_base_product
    set ptype = #{ptype,jdbcType=CHAR},
      pmodel = #{pmodel,jdbcType=INTEGER},
      vid = #{vid,jdbcType=INTEGER},
      store_id = #{storeId,jdbcType=INTEGER},
      supplier_id = #{supplierId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      name_trim = #{nameTrim,jdbcType=VARCHAR},
      pic1 = #{pic1,jdbcType=VARCHAR},
      pic2 = #{pic2,jdbcType=VARCHAR},
      pic3 = #{pic3,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      index_code = #{indexCode,jdbcType=VARCHAR},
      model = #{model,jdbcType=VARCHAR},
      bar_code = #{barCode,jdbcType=VARCHAR},
      good_type_id = #{goodTypeId,jdbcType=INTEGER},
      good_unit_id = #{goodUnitId,jdbcType=INTEGER},
      grade_1 = #{grade1,jdbcType=INTEGER},
      grade_2 = #{grade2,jdbcType=INTEGER},
      grade_3 = #{grade3,jdbcType=INTEGER},
      origin = #{origin,jdbcType=VARCHAR},
      sdate = #{sdate,jdbcType=DATE},
      edate = #{edate,jdbcType=DATE},
      status = #{status,jdbcType=TINYINT},
      origin_price = #{originPrice,jdbcType=DECIMAL},
      sales_price = #{salesPrice,jdbcType=DECIMAL},
      mall_price = #{mallPrice,jdbcType=DECIMAL},
      points = #{points,jdbcType=INTEGER},
      points_to_money = #{pointsToMoney,jdbcType=DECIMAL},
      maintain_cycle = #{maintainCycle,jdbcType=INTEGER},
      work_hour = #{workHour,jdbcType=INTEGER},
      brief_desc = #{briefDesc,jdbcType=VARCHAR},
      desc = #{desc,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR},
      is_weixin = #{isWeixin,jdbcType=TINYINT},
      weixin_mall_type = #{weixinMallType,jdbcType=TINYINT},
      base_num = #{baseNum,jdbcType=INTEGER},
      cost_type = #{costType,jdbcType=CHAR},
      apply_serie = #{applySerie,jdbcType=VARCHAR},
      apply_type = #{applyType,jdbcType=VARCHAR},
      is_common = #{isCommon,jdbcType=TINYINT},
      is_fav = #{isFav,jdbcType=TINYINT},
      is_member_discount = #{isMemberDiscount,jdbcType=CHAR},
      unit = #{unit,jdbcType=VARCHAR},
      last_price = #{lastPrice,jdbcType=DECIMAL},
      last_price_notax = #{lastPriceNotax,jdbcType=DECIMAL},
      last_buy_price = #{lastBuyPrice,jdbcType=DECIMAL},
      heavy_buyer_price = #{heavyBuyerPrice,jdbcType=DECIMAL},
      repair_price = #{repairPrice,jdbcType=DECIMAL},
      creator = #{creator,jdbcType=INTEGER},
      c_time = #{cTime,jdbcType=TIMESTAMP},
      proxy_count = #{proxyCount,jdbcType=INTEGER},
      refund_count = #{refundCount,jdbcType=INTEGER},
      act_count = #{actCount,jdbcType=INTEGER},
      car_model = #{carModel,jdbcType=VARCHAR},
      location_name = #{locationName,jdbcType=VARCHAR},
      product_type_id = #{productTypeId,jdbcType=INTEGER},
      stock_lowest = #{stockLowest,jdbcType=DECIMAL},
      product_brand = #{productBrand,jdbcType=INTEGER},
      figure = #{figure,jdbcType=VARCHAR},
      load_index = #{loadIndex,jdbcType=VARCHAR},
      speed_level = #{speedLevel,jdbcType=VARCHAR},
      install_way = #{installWay,jdbcType=INTEGER},
      is_del = #{isDel,jdbcType=TINYINT},
      tire_width = #{tireWidth,jdbcType=VARCHAR},
      tire_flat = #{tireFlat,jdbcType=VARCHAR},
      tire_diameter = #{tireDiameter,jdbcType=VARCHAR},
      tire_speed_level = #{tireSpeedLevel,jdbcType=VARCHAR},
      oil_viscosity = #{oilViscosity,jdbcType=VARCHAR},
      oil_capacity = #{oilCapacity,jdbcType=VARCHAR},
      oil_class = #{oilClass,jdbcType=VARCHAR},
      rest_payment = #{restPayment,jdbcType=DECIMAL},
      is_free = #{isFree,jdbcType=TINYINT},
      send_type = #{sendType,jdbcType=TINYINT},
      platform = #{platform,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- user define -->
  <select id="existsByCode" resultType="java.lang.Long">
    select 1 from crm_base_product
    where code = #{code,jdbcType=VARCHAR}
    limit 0, 1
  </select>
  
</mapper>