<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecarpo.bms.eas.server.materialgroup.dao.EasMaterialGroupMapper">
  <resultMap id="BaseResultMap" type="com.ecarpo.bms.eas.server.materialgroup.entity.EasMaterialGroupDO">
    <!-- @mbg.generated 2019-07-10 11:45:48 -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="erp_material_group_id" jdbcType="BIGINT" property="erpMaterialGroupId" />
    <result column="encrypt" jdbcType="VARCHAR" property="encrypt" />
    <result column="gradation" jdbcType="TINYINT" property="gradation" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="creator_id_number" jdbcType="VARCHAR" property="creatorIdNumber" />
    <result column="creator_id_name" jdbcType="VARCHAR" property="creatorIdName" />
    <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
    <result column="last_update_user_id_number" jdbcType="VARCHAR" property="lastUpdateUserIdNumber" />
    <result column="last_update_user_id_name" jdbcType="VARCHAR" property="lastUpdateUserIdName" />
    <result column="group_standard_id_number" jdbcType="VARCHAR" property="groupStandardIdNumber" />
    <result column="group_standard_id_name" jdbcType="VARCHAR" property="groupStandardIdName" />
    <result column="deleted_status" jdbcType="TINYINT" property="deletedStatus" />
    <result column="parent_id_level" jdbcType="TINYINT" property="parentIdLevel" />
    <result column="parent_id_name" jdbcType="VARCHAR" property="parentIdName" />
    <result column="control_unit_id_number" jdbcType="VARCHAR" property="controlUnitIdNumber" />
    <result column="control_unit_id_name" jdbcType="VARCHAR" property="controlUnitIdName" />
    <result column="define" jdbcType="VARCHAR" property="define" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="is_leaf" jdbcType="TINYINT" property="isLeaf" />
    <result column="parent_id_number" jdbcType="VARCHAR" property="parentIdNumber" />
    <result column="display_name" jdbcType="VARCHAR" property="displayName" />
    <result column="long_number" jdbcType="VARCHAR" property="longNumber" />
    <result column="simple_name" jdbcType="VARCHAR" property="simpleName" />
  </resultMap>
  <sql id="Base_Column_List">
    <!-- @mbg.generated 2019-07-10 11:45:48 -->
    id, erp_material_group_id, encrypt, gradation, create_time, creator_id_number, creator_id_name, 
    last_update_time, last_update_user_id_number, last_update_user_id_name, group_standard_id_number, 
    group_standard_id_name, deleted_status, parent_id_level, parent_id_name, control_unit_id_number, 
    control_unit_id_name, define, description, is_leaf, parent_id_number, display_name, 
    long_number, simple_name
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!-- @mbg.generated 2019-07-10 11:45:48 -->
    select 
    <include refid="Base_Column_List" />
    from eas_bd_material_group
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!-- @mbg.generated 2019-07-10 11:45:48 -->
    delete from eas_bd_material_group
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ecarpo.bms.eas.server.materialgroup.entity.EasMaterialGroupDO">
    <!-- @mbg.generated 2019-07-10 11:45:48 -->
    insert into eas_bd_material_group (id, erp_material_group_id, encrypt, 
      gradation, create_time, creator_id_number, 
      creator_id_name, last_update_time, last_update_user_id_number, 
      last_update_user_id_name, group_standard_id_number, 
      group_standard_id_name, deleted_status, parent_id_level, 
      parent_id_name, control_unit_id_number, control_unit_id_name, 
      define, description, is_leaf, 
      parent_id_number, display_name, long_number, 
      simple_name)
    values (#{id,jdbcType=VARCHAR}, #{erpMaterialGroupId,jdbcType=BIGINT}, #{encrypt,jdbcType=VARCHAR}, 
      #{gradation,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, #{creatorIdNumber,jdbcType=VARCHAR}, 
      #{creatorIdName,jdbcType=VARCHAR}, #{lastUpdateTime,jdbcType=TIMESTAMP}, #{lastUpdateUserIdNumber,jdbcType=VARCHAR}, 
      #{lastUpdateUserIdName,jdbcType=VARCHAR}, #{groupStandardIdNumber,jdbcType=VARCHAR}, 
      #{groupStandardIdName,jdbcType=VARCHAR}, #{deletedStatus,jdbcType=TINYINT}, #{parentIdLevel,jdbcType=TINYINT}, 
      #{parentIdName,jdbcType=VARCHAR}, #{controlUnitIdNumber,jdbcType=VARCHAR}, #{controlUnitIdName,jdbcType=VARCHAR}, 
      #{define,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{isLeaf,jdbcType=TINYINT}, 
      #{parentIdNumber,jdbcType=VARCHAR}, #{displayName,jdbcType=VARCHAR}, #{longNumber,jdbcType=VARCHAR}, 
      #{simpleName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ecarpo.bms.eas.server.materialgroup.entity.EasMaterialGroupDO">
    <!-- @mbg.generated 2019-07-10 11:45:48 -->
    insert into eas_bd_material_group
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="erpMaterialGroupId != null">
        erp_material_group_id,
      </if>
      <if test="encrypt != null">
        encrypt,
      </if>
      <if test="gradation != null">
        gradation,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="creatorIdNumber != null">
        creator_id_number,
      </if>
      <if test="creatorIdName != null">
        creator_id_name,
      </if>
      <if test="lastUpdateTime != null">
        last_update_time,
      </if>
      <if test="lastUpdateUserIdNumber != null">
        last_update_user_id_number,
      </if>
      <if test="lastUpdateUserIdName != null">
        last_update_user_id_name,
      </if>
      <if test="groupStandardIdNumber != null">
        group_standard_id_number,
      </if>
      <if test="groupStandardIdName != null">
        group_standard_id_name,
      </if>
      <if test="deletedStatus != null">
        deleted_status,
      </if>
      <if test="parentIdLevel != null">
        parent_id_level,
      </if>
      <if test="parentIdName != null">
        parent_id_name,
      </if>
      <if test="controlUnitIdNumber != null">
        control_unit_id_number,
      </if>
      <if test="controlUnitIdName != null">
        control_unit_id_name,
      </if>
      <if test="define != null">
        define,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="isLeaf != null">
        is_leaf,
      </if>
      <if test="parentIdNumber != null">
        parent_id_number,
      </if>
      <if test="displayName != null">
        display_name,
      </if>
      <if test="longNumber != null">
        long_number,
      </if>
      <if test="simpleName != null">
        simple_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="erpMaterialGroupId != null">
        #{erpMaterialGroupId,jdbcType=BIGINT},
      </if>
      <if test="encrypt != null">
        #{encrypt,jdbcType=VARCHAR},
      </if>
      <if test="gradation != null">
        #{gradation,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorIdNumber != null">
        #{creatorIdNumber,jdbcType=VARCHAR},
      </if>
      <if test="creatorIdName != null">
        #{creatorIdName,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateUserIdNumber != null">
        #{lastUpdateUserIdNumber,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateUserIdName != null">
        #{lastUpdateUserIdName,jdbcType=VARCHAR},
      </if>
      <if test="groupStandardIdNumber != null">
        #{groupStandardIdNumber,jdbcType=VARCHAR},
      </if>
      <if test="groupStandardIdName != null">
        #{groupStandardIdName,jdbcType=VARCHAR},
      </if>
      <if test="deletedStatus != null">
        #{deletedStatus,jdbcType=TINYINT},
      </if>
      <if test="parentIdLevel != null">
        #{parentIdLevel,jdbcType=TINYINT},
      </if>
      <if test="parentIdName != null">
        #{parentIdName,jdbcType=VARCHAR},
      </if>
      <if test="controlUnitIdNumber != null">
        #{controlUnitIdNumber,jdbcType=VARCHAR},
      </if>
      <if test="controlUnitIdName != null">
        #{controlUnitIdName,jdbcType=VARCHAR},
      </if>
      <if test="define != null">
        #{define,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="isLeaf != null">
        #{isLeaf,jdbcType=TINYINT},
      </if>
      <if test="parentIdNumber != null">
        #{parentIdNumber,jdbcType=VARCHAR},
      </if>
      <if test="displayName != null">
        #{displayName,jdbcType=VARCHAR},
      </if>
      <if test="longNumber != null">
        #{longNumber,jdbcType=VARCHAR},
      </if>
      <if test="simpleName != null">
        #{simpleName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ecarpo.bms.eas.server.materialgroup.entity.EasMaterialGroupDO">
    <!-- @mbg.generated 2019-07-10 11:45:48 -->
    update eas_bd_material_group
    <set>
      <if test="erpMaterialGroupId != null">
        erp_material_group_id = #{erpMaterialGroupId,jdbcType=BIGINT},
      </if>
      <if test="encrypt != null">
        encrypt = #{encrypt,jdbcType=VARCHAR},
      </if>
      <if test="gradation != null">
        gradation = #{gradation,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorIdNumber != null">
        creator_id_number = #{creatorIdNumber,jdbcType=VARCHAR},
      </if>
      <if test="creatorIdName != null">
        creator_id_name = #{creatorIdName,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateUserIdNumber != null">
        last_update_user_id_number = #{lastUpdateUserIdNumber,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateUserIdName != null">
        last_update_user_id_name = #{lastUpdateUserIdName,jdbcType=VARCHAR},
      </if>
      <if test="groupStandardIdNumber != null">
        group_standard_id_number = #{groupStandardIdNumber,jdbcType=VARCHAR},
      </if>
      <if test="groupStandardIdName != null">
        group_standard_id_name = #{groupStandardIdName,jdbcType=VARCHAR},
      </if>
      <if test="deletedStatus != null">
        deleted_status = #{deletedStatus,jdbcType=TINYINT},
      </if>
      <if test="parentIdLevel != null">
        parent_id_level = #{parentIdLevel,jdbcType=TINYINT},
      </if>
      <if test="parentIdName != null">
        parent_id_name = #{parentIdName,jdbcType=VARCHAR},
      </if>
      <if test="controlUnitIdNumber != null">
        control_unit_id_number = #{controlUnitIdNumber,jdbcType=VARCHAR},
      </if>
      <if test="controlUnitIdName != null">
        control_unit_id_name = #{controlUnitIdName,jdbcType=VARCHAR},
      </if>
      <if test="define != null">
        define = #{define,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="isLeaf != null">
        is_leaf = #{isLeaf,jdbcType=TINYINT},
      </if>
      <if test="parentIdNumber != null">
        parent_id_number = #{parentIdNumber,jdbcType=VARCHAR},
      </if>
      <if test="displayName != null">
        display_name = #{displayName,jdbcType=VARCHAR},
      </if>
      <if test="longNumber != null">
        long_number = #{longNumber,jdbcType=VARCHAR},
      </if>
      <if test="simpleName != null">
        simple_name = #{simpleName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ecarpo.bms.eas.server.materialgroup.entity.EasMaterialGroupDO">
    <!-- @mbg.generated 2019-07-10 11:45:48 -->
    update eas_bd_material_group
    set erp_material_group_id = #{erpMaterialGroupId,jdbcType=BIGINT},
      encrypt = #{encrypt,jdbcType=VARCHAR},
      gradation = #{gradation,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      creator_id_number = #{creatorIdNumber,jdbcType=VARCHAR},
      creator_id_name = #{creatorIdName,jdbcType=VARCHAR},
      last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      last_update_user_id_number = #{lastUpdateUserIdNumber,jdbcType=VARCHAR},
      last_update_user_id_name = #{lastUpdateUserIdName,jdbcType=VARCHAR},
      group_standard_id_number = #{groupStandardIdNumber,jdbcType=VARCHAR},
      group_standard_id_name = #{groupStandardIdName,jdbcType=VARCHAR},
      deleted_status = #{deletedStatus,jdbcType=TINYINT},
      parent_id_level = #{parentIdLevel,jdbcType=TINYINT},
      parent_id_name = #{parentIdName,jdbcType=VARCHAR},
      control_unit_id_number = #{controlUnitIdNumber,jdbcType=VARCHAR},
      control_unit_id_name = #{controlUnitIdName,jdbcType=VARCHAR},
      define = #{define,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      is_leaf = #{isLeaf,jdbcType=TINYINT},
      parent_id_number = #{parentIdNumber,jdbcType=VARCHAR},
      display_name = #{displayName,jdbcType=VARCHAR},
      long_number = #{longNumber,jdbcType=VARCHAR},
      simple_name = #{simpleName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <!-- 主键获取DO   lhf 2019.06.13 -->
  <select id="selectById" resultType="com.ecarpo.bms.eas.server.materialgroup.entity.EasMaterialGroupDO">
    select
      <include refid="Base_Column_List" />
    from
      eas_bd_material_group
    where
      id = #{id,jdbcType=VARCHAR}
  </select>
</mapper>