<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecarpo.bms.eas.server.orgbaseunit.dao.EasOrgBaseUnitMapper">
  <resultMap id="BaseResultMap" type="com.ecarpo.bms.eas.server.orgbaseunit.entity.EasOrgBaseUnitDO">
    <!-- @mbg.generated 2019-06-12 11:46:44 -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="last_update_user_id_number" jdbcType="VARCHAR" property="lastUpdateUserIdNumber" />
    <result column="part_transport_id" jdbcType="VARCHAR" property="partTransportId" />
    <result column="is_admin_org_unit" jdbcType="TINYINT" property="isAdminOrgUnit" />
    <result column="part_hr_id" jdbcType="VARCHAR" property="partHrId" />
    <result column="parent_id_level" jdbcType="VARCHAR" property="parentIdLevel" />
    <result column="part_cost_center_id" jdbcType="VARCHAR" property="partCostCenterId" />
    <result column="is_transport_org_unit" jdbcType="TINYINT" property="isTransportOrgUnit" />
    <result column="invalid_date" jdbcType="TIMESTAMP" property="invalidDate" />
    <result column="maintain_cu_id_name" jdbcType="VARCHAR" property="maintainCuIdName" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="is_leaf" jdbcType="TINYINT" property="isLeaf" />
    <result column="is_hr_org_unit" jdbcType="TINYINT" property="isHrOrgUnit" />
    <result column="is_union" jdbcType="TINYINT" property="isUnion" />
    <result column="part_admin_id" jdbcType="VARCHAR" property="partAdminId" />
    <result column="part_fi_id" jdbcType="VARCHAR" property="partFiId" />
    <result column="simple_name" jdbcType="VARCHAR" property="simpleName" />
    <result column="part_quality_id" jdbcType="VARCHAR" property="partQualityId" />
    <result column="is_profit_org_unit" jdbcType="TINYINT" property="isProfitOrgUnit" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="parent_id__name" jdbcType="VARCHAR" property="parentIdName" />
    <result column="main_org_id_number" jdbcType="VARCHAR" property="mainOrgIdNumber" />
    <result column="english_name" jdbcType="VARCHAR" property="englishName" />
    <result column="control_unit_id_number" jdbcType="VARCHAR" property="controlUnitIdNumber" />
    <result column="part_sale_id" jdbcType="VARCHAR" property="partSaleId" />
    <result column="control_unit_id_name" jdbcType="VARCHAR" property="controlUnitIdName" />
    <result column="is_sale_org_unit" jdbcType="TINYINT" property="isSaleOrgUnit" />
    <result column="is_assistant_org" jdbcType="TINYINT" property="isAssistantOrg" />
    <result column="is_storage_org_unit" jdbcType="TINYINT" property="isStorageOrgUnit" />
    <result column="part_profit_center_id" jdbcType="VARCHAR" property="partProfitCenterId" />
    <result column="parent_id_number" jdbcType="VARCHAR" property="parentIdNumber" />
    <result column="version_number" jdbcType="VARCHAR" property="versionNumber" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="is_purchase_org_unit" jdbcType="TINYINT" property="isPurchaseOrgUnit" />
    <result column="is_grouping" jdbcType="TINYINT" property="isGrouping" />
    <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
    <result column="is_start" jdbcType="TINYINT" property="isStart" />
    <result column="is_freeze" jdbcType="TINYINT" property="isFreeze" />
    <result column="part_storage_id" jdbcType="VARCHAR" property="partStorageId" />
    <result column="is_quality_org_unit" jdbcType="TINYINT" property="isQualityOrgUnit" />
    <result column="maintain_cu_id_number" jdbcType="VARCHAR" property="maintainCuIdNumber" />
    <result column="part_ctrl_id" jdbcType="VARCHAR" property="partCtrlId" />
    <result column="part_purchase_id" jdbcType="VARCHAR" property="partPurchaseId" />
    <result column="last_update_user_id_name" jdbcType="VARCHAR" property="lastUpdateUserIdName" />
    <result column="part_union_group_id" jdbcType="VARCHAR" property="partUnionGroupId" />
    <result column="is_cost_org_unit" jdbcType="TINYINT" property="isCostOrgUnit" />
    <result column="creator_id_number" jdbcType="VARCHAR" property="creatorIdNumber" />
    <result column="org_type_str" jdbcType="VARCHAR" property="orgTypeStr" />
    <result column="is_ou_seal_up" jdbcType="TINYINT" property="isOuSealUp" />
    <result column="creator_id_name" jdbcType="VARCHAR" property="creatorIdName" />
    <result column="main_org_id_name" jdbcType="VARCHAR" property="mainOrgIdName" />
    <result column="effect_date" jdbcType="TIMESTAMP" property="effectDate" />
    <result column="is_cu" jdbcType="TINYINT" property="isCu" />
    <result column="long_number" jdbcType="VARCHAR" property="longNumber" />
    <result column="org_id" jdbcType="BIGINT" property="orgId" />
    <result column="gradation" jdbcType="TINYINT" property="gradation" />
    <result column="define" jdbcType="VARCHAR" property="define" />
    <result column="encrypt" jdbcType="VARCHAR" property="encrypt" />
  </resultMap>
  <sql id="Base_Column_List">
    <!-- @mbg.generated 2019-06-12 11:46:44 -->
    id, last_update_user_id_number, part_transport_id, is_admin_org_unit, part_hr_id, 
    parent_id_level, part_cost_center_id, is_transport_org_unit, invalid_date, maintain_cu_id_name, 
    description, is_leaf, is_hr_org_unit, is_union, part_admin_id, part_fi_id, simple_name, 
    part_quality_id, is_profit_org_unit, code, parent_id__name, main_org_id_number, english_name, 
    control_unit_id_number, part_sale_id, control_unit_id_name, is_sale_org_unit, is_assistant_org, 
    is_storage_org_unit, part_profit_center_id, parent_id_number, version_number, create_time, 
    is_purchase_org_unit, is_grouping, last_update_time, is_start, is_freeze, part_storage_id, 
    is_quality_org_unit, maintain_cu_id_number, part_ctrl_id, part_purchase_id, last_update_user_id_name, 
    part_union_group_id, is_cost_org_unit, creator_id_number, org_type_str, is_ou_seal_up, 
    creator_id_name, main_org_id_name, effect_date, is_cu, long_number, org_id, gradation, 
    define, encrypt
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!-- @mbg.generated 2019-06-12 11:46:44 -->
    select 
    <include refid="Base_Column_List" />
    from eas_org_base_unit
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!-- @mbg.generated 2019-06-12 11:46:44 -->
    delete from eas_org_base_unit
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ecarpo.bms.eas.server.orgbaseunit.entity.EasOrgBaseUnitDO">
    <!-- @mbg.generated 2019-06-12 11:46:44 -->
    insert into eas_org_base_unit (id, last_update_user_id_number, part_transport_id, 
      is_admin_org_unit, part_hr_id, parent_id_level, 
      part_cost_center_id, is_transport_org_unit, invalid_date, 
      maintain_cu_id_name, description, is_leaf, 
      is_hr_org_unit, is_union, part_admin_id, 
      part_fi_id, simple_name, part_quality_id, 
      is_profit_org_unit, code, parent_id__name, 
      main_org_id_number, english_name, control_unit_id_number, 
      part_sale_id, control_unit_id_name, is_sale_org_unit, 
      is_assistant_org, is_storage_org_unit, part_profit_center_id, 
      parent_id_number, version_number, create_time, 
      is_purchase_org_unit, is_grouping, last_update_time, 
      is_start, is_freeze, part_storage_id, 
      is_quality_org_unit, maintain_cu_id_number, part_ctrl_id, 
      part_purchase_id, last_update_user_id_name, part_union_group_id, 
      is_cost_org_unit, creator_id_number, org_type_str, 
      is_ou_seal_up, creator_id_name, main_org_id_name, 
      effect_date, is_cu, long_number, 
      org_id, gradation, define, 
      encrypt)
    values (#{id,jdbcType=VARCHAR}, #{lastUpdateUserIdNumber,jdbcType=VARCHAR}, #{partTransportId,jdbcType=VARCHAR}, 
      #{isAdminOrgUnit,jdbcType=TINYINT}, #{partHrId,jdbcType=VARCHAR}, #{parentIdLevel,jdbcType=VARCHAR}, 
      #{partCostCenterId,jdbcType=VARCHAR}, #{isTransportOrgUnit,jdbcType=TINYINT}, #{invalidDate,jdbcType=TIMESTAMP}, 
      #{maintainCuIdName,jdbcType=VARCHAR}, #{description,jdbcType=VARCHAR}, #{isLeaf,jdbcType=TINYINT}, 
      #{isHrOrgUnit,jdbcType=TINYINT}, #{isUnion,jdbcType=TINYINT}, #{partAdminId,jdbcType=VARCHAR}, 
      #{partFiId,jdbcType=VARCHAR}, #{simpleName,jdbcType=VARCHAR}, #{partQualityId,jdbcType=VARCHAR}, 
      #{isProfitOrgUnit,jdbcType=TINYINT}, #{code,jdbcType=VARCHAR}, #{parentIdName,jdbcType=VARCHAR}, 
      #{mainOrgIdNumber,jdbcType=VARCHAR}, #{englishName,jdbcType=VARCHAR}, #{controlUnitIdNumber,jdbcType=VARCHAR}, 
      #{partSaleId,jdbcType=VARCHAR}, #{controlUnitIdName,jdbcType=VARCHAR}, #{isSaleOrgUnit,jdbcType=TINYINT}, 
      #{isAssistantOrg,jdbcType=TINYINT}, #{isStorageOrgUnit,jdbcType=TINYINT}, #{partProfitCenterId,jdbcType=VARCHAR}, 
      #{parentIdNumber,jdbcType=VARCHAR}, #{versionNumber,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{isPurchaseOrgUnit,jdbcType=TINYINT}, #{isGrouping,jdbcType=TINYINT}, #{lastUpdateTime,jdbcType=TIMESTAMP}, 
      #{isStart,jdbcType=TINYINT}, #{isFreeze,jdbcType=TINYINT}, #{partStorageId,jdbcType=VARCHAR}, 
      #{isQualityOrgUnit,jdbcType=TINYINT}, #{maintainCuIdNumber,jdbcType=VARCHAR}, #{partCtrlId,jdbcType=VARCHAR}, 
      #{partPurchaseId,jdbcType=VARCHAR}, #{lastUpdateUserIdName,jdbcType=VARCHAR}, #{partUnionGroupId,jdbcType=VARCHAR}, 
      #{isCostOrgUnit,jdbcType=TINYINT}, #{creatorIdNumber,jdbcType=VARCHAR}, #{orgTypeStr,jdbcType=VARCHAR}, 
      #{isOuSealUp,jdbcType=TINYINT}, #{creatorIdName,jdbcType=VARCHAR}, #{mainOrgIdName,jdbcType=VARCHAR}, 
      #{effectDate,jdbcType=TIMESTAMP}, #{isCu,jdbcType=TINYINT}, #{longNumber,jdbcType=VARCHAR}, 
      #{orgId,jdbcType=BIGINT}, #{gradation,jdbcType=TINYINT}, #{define,jdbcType=VARCHAR}, 
      #{encrypt,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ecarpo.bms.eas.server.orgbaseunit.entity.EasOrgBaseUnitDO">
    <!-- @mbg.generated 2019-06-12 11:46:44 -->
    insert into eas_org_base_unit
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="lastUpdateUserIdNumber != null">
        last_update_user_id_number,
      </if>
      <if test="partTransportId != null">
        part_transport_id,
      </if>
      <if test="isAdminOrgUnit != null">
        is_admin_org_unit,
      </if>
      <if test="partHrId != null">
        part_hr_id,
      </if>
      <if test="parentIdLevel != null">
        parent_id_level,
      </if>
      <if test="partCostCenterId != null">
        part_cost_center_id,
      </if>
      <if test="isTransportOrgUnit != null">
        is_transport_org_unit,
      </if>
      <if test="invalidDate != null">
        invalid_date,
      </if>
      <if test="maintainCuIdName != null">
        maintain_cu_id_name,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="isLeaf != null">
        is_leaf,
      </if>
      <if test="isHrOrgUnit != null">
        is_hr_org_unit,
      </if>
      <if test="isUnion != null">
        is_union,
      </if>
      <if test="partAdminId != null">
        part_admin_id,
      </if>
      <if test="partFiId != null">
        part_fi_id,
      </if>
      <if test="simpleName != null">
        simple_name,
      </if>
      <if test="partQualityId != null">
        part_quality_id,
      </if>
      <if test="isProfitOrgUnit != null">
        is_profit_org_unit,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="parentIdName != null">
        parent_id__name,
      </if>
      <if test="mainOrgIdNumber != null">
        main_org_id_number,
      </if>
      <if test="englishName != null">
        english_name,
      </if>
      <if test="controlUnitIdNumber != null">
        control_unit_id_number,
      </if>
      <if test="partSaleId != null">
        part_sale_id,
      </if>
      <if test="controlUnitIdName != null">
        control_unit_id_name,
      </if>
      <if test="isSaleOrgUnit != null">
        is_sale_org_unit,
      </if>
      <if test="isAssistantOrg != null">
        is_assistant_org,
      </if>
      <if test="isStorageOrgUnit != null">
        is_storage_org_unit,
      </if>
      <if test="partProfitCenterId != null">
        part_profit_center_id,
      </if>
      <if test="parentIdNumber != null">
        parent_id_number,
      </if>
      <if test="versionNumber != null">
        version_number,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="isPurchaseOrgUnit != null">
        is_purchase_org_unit,
      </if>
      <if test="isGrouping != null">
        is_grouping,
      </if>
      <if test="lastUpdateTime != null">
        last_update_time,
      </if>
      <if test="isStart != null">
        is_start,
      </if>
      <if test="isFreeze != null">
        is_freeze,
      </if>
      <if test="partStorageId != null">
        part_storage_id,
      </if>
      <if test="isQualityOrgUnit != null">
        is_quality_org_unit,
      </if>
      <if test="maintainCuIdNumber != null">
        maintain_cu_id_number,
      </if>
      <if test="partCtrlId != null">
        part_ctrl_id,
      </if>
      <if test="partPurchaseId != null">
        part_purchase_id,
      </if>
      <if test="lastUpdateUserIdName != null">
        last_update_user_id_name,
      </if>
      <if test="partUnionGroupId != null">
        part_union_group_id,
      </if>
      <if test="isCostOrgUnit != null">
        is_cost_org_unit,
      </if>
      <if test="creatorIdNumber != null">
        creator_id_number,
      </if>
      <if test="orgTypeStr != null">
        org_type_str,
      </if>
      <if test="isOuSealUp != null">
        is_ou_seal_up,
      </if>
      <if test="creatorIdName != null">
        creator_id_name,
      </if>
      <if test="mainOrgIdName != null">
        main_org_id_name,
      </if>
      <if test="effectDate != null">
        effect_date,
      </if>
      <if test="isCu != null">
        is_cu,
      </if>
      <if test="longNumber != null">
        long_number,
      </if>
      <if test="orgId != null">
        org_id,
      </if>
      <if test="gradation != null">
        gradation,
      </if>
      <if test="define != null">
        define,
      </if>
      <if test="encrypt != null">
        encrypt,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateUserIdNumber != null">
        #{lastUpdateUserIdNumber,jdbcType=VARCHAR},
      </if>
      <if test="partTransportId != null">
        #{partTransportId,jdbcType=VARCHAR},
      </if>
      <if test="isAdminOrgUnit != null">
        #{isAdminOrgUnit,jdbcType=TINYINT},
      </if>
      <if test="partHrId != null">
        #{partHrId,jdbcType=VARCHAR},
      </if>
      <if test="parentIdLevel != null">
        #{parentIdLevel,jdbcType=VARCHAR},
      </if>
      <if test="partCostCenterId != null">
        #{partCostCenterId,jdbcType=VARCHAR},
      </if>
      <if test="isTransportOrgUnit != null">
        #{isTransportOrgUnit,jdbcType=TINYINT},
      </if>
      <if test="invalidDate != null">
        #{invalidDate,jdbcType=TIMESTAMP},
      </if>
      <if test="maintainCuIdName != null">
        #{maintainCuIdName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="isLeaf != null">
        #{isLeaf,jdbcType=TINYINT},
      </if>
      <if test="isHrOrgUnit != null">
        #{isHrOrgUnit,jdbcType=TINYINT},
      </if>
      <if test="isUnion != null">
        #{isUnion,jdbcType=TINYINT},
      </if>
      <if test="partAdminId != null">
        #{partAdminId,jdbcType=VARCHAR},
      </if>
      <if test="partFiId != null">
        #{partFiId,jdbcType=VARCHAR},
      </if>
      <if test="simpleName != null">
        #{simpleName,jdbcType=VARCHAR},
      </if>
      <if test="partQualityId != null">
        #{partQualityId,jdbcType=VARCHAR},
      </if>
      <if test="isProfitOrgUnit != null">
        #{isProfitOrgUnit,jdbcType=TINYINT},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="parentIdName != null">
        #{parentIdName,jdbcType=VARCHAR},
      </if>
      <if test="mainOrgIdNumber != null">
        #{mainOrgIdNumber,jdbcType=VARCHAR},
      </if>
      <if test="englishName != null">
        #{englishName,jdbcType=VARCHAR},
      </if>
      <if test="controlUnitIdNumber != null">
        #{controlUnitIdNumber,jdbcType=VARCHAR},
      </if>
      <if test="partSaleId != null">
        #{partSaleId,jdbcType=VARCHAR},
      </if>
      <if test="controlUnitIdName != null">
        #{controlUnitIdName,jdbcType=VARCHAR},
      </if>
      <if test="isSaleOrgUnit != null">
        #{isSaleOrgUnit,jdbcType=TINYINT},
      </if>
      <if test="isAssistantOrg != null">
        #{isAssistantOrg,jdbcType=TINYINT},
      </if>
      <if test="isStorageOrgUnit != null">
        #{isStorageOrgUnit,jdbcType=TINYINT},
      </if>
      <if test="partProfitCenterId != null">
        #{partProfitCenterId,jdbcType=VARCHAR},
      </if>
      <if test="parentIdNumber != null">
        #{parentIdNumber,jdbcType=VARCHAR},
      </if>
      <if test="versionNumber != null">
        #{versionNumber,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isPurchaseOrgUnit != null">
        #{isPurchaseOrgUnit,jdbcType=TINYINT},
      </if>
      <if test="isGrouping != null">
        #{isGrouping,jdbcType=TINYINT},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isStart != null">
        #{isStart,jdbcType=TINYINT},
      </if>
      <if test="isFreeze != null">
        #{isFreeze,jdbcType=TINYINT},
      </if>
      <if test="partStorageId != null">
        #{partStorageId,jdbcType=VARCHAR},
      </if>
      <if test="isQualityOrgUnit != null">
        #{isQualityOrgUnit,jdbcType=TINYINT},
      </if>
      <if test="maintainCuIdNumber != null">
        #{maintainCuIdNumber,jdbcType=VARCHAR},
      </if>
      <if test="partCtrlId != null">
        #{partCtrlId,jdbcType=VARCHAR},
      </if>
      <if test="partPurchaseId != null">
        #{partPurchaseId,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateUserIdName != null">
        #{lastUpdateUserIdName,jdbcType=VARCHAR},
      </if>
      <if test="partUnionGroupId != null">
        #{partUnionGroupId,jdbcType=VARCHAR},
      </if>
      <if test="isCostOrgUnit != null">
        #{isCostOrgUnit,jdbcType=TINYINT},
      </if>
      <if test="creatorIdNumber != null">
        #{creatorIdNumber,jdbcType=VARCHAR},
      </if>
      <if test="orgTypeStr != null">
        #{orgTypeStr,jdbcType=VARCHAR},
      </if>
      <if test="isOuSealUp != null">
        #{isOuSealUp,jdbcType=TINYINT},
      </if>
      <if test="creatorIdName != null">
        #{creatorIdName,jdbcType=VARCHAR},
      </if>
      <if test="mainOrgIdName != null">
        #{mainOrgIdName,jdbcType=VARCHAR},
      </if>
      <if test="effectDate != null">
        #{effectDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isCu != null">
        #{isCu,jdbcType=TINYINT},
      </if>
      <if test="longNumber != null">
        #{longNumber,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null">
        #{orgId,jdbcType=BIGINT},
      </if>
      <if test="gradation != null">
        #{gradation,jdbcType=TINYINT},
      </if>
      <if test="define != null">
        #{define,jdbcType=VARCHAR},
      </if>
      <if test="encrypt != null">
        #{encrypt,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ecarpo.bms.eas.server.orgbaseunit.entity.EasOrgBaseUnitDO">
    <!-- @mbg.generated 2019-06-12 11:46:44 -->
    update eas_org_base_unit
    <set>
      <if test="lastUpdateUserIdNumber != null">
        last_update_user_id_number = #{lastUpdateUserIdNumber,jdbcType=VARCHAR},
      </if>
      <if test="partTransportId != null">
        part_transport_id = #{partTransportId,jdbcType=VARCHAR},
      </if>
      <if test="isAdminOrgUnit != null">
        is_admin_org_unit = #{isAdminOrgUnit,jdbcType=TINYINT},
      </if>
      <if test="partHrId != null">
        part_hr_id = #{partHrId,jdbcType=VARCHAR},
      </if>
      <if test="parentIdLevel != null">
        parent_id_level = #{parentIdLevel,jdbcType=VARCHAR},
      </if>
      <if test="partCostCenterId != null">
        part_cost_center_id = #{partCostCenterId,jdbcType=VARCHAR},
      </if>
      <if test="isTransportOrgUnit != null">
        is_transport_org_unit = #{isTransportOrgUnit,jdbcType=TINYINT},
      </if>
      <if test="invalidDate != null">
        invalid_date = #{invalidDate,jdbcType=TIMESTAMP},
      </if>
      <if test="maintainCuIdName != null">
        maintain_cu_id_name = #{maintainCuIdName,jdbcType=VARCHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="isLeaf != null">
        is_leaf = #{isLeaf,jdbcType=TINYINT},
      </if>
      <if test="isHrOrgUnit != null">
        is_hr_org_unit = #{isHrOrgUnit,jdbcType=TINYINT},
      </if>
      <if test="isUnion != null">
        is_union = #{isUnion,jdbcType=TINYINT},
      </if>
      <if test="partAdminId != null">
        part_admin_id = #{partAdminId,jdbcType=VARCHAR},
      </if>
      <if test="partFiId != null">
        part_fi_id = #{partFiId,jdbcType=VARCHAR},
      </if>
      <if test="simpleName != null">
        simple_name = #{simpleName,jdbcType=VARCHAR},
      </if>
      <if test="partQualityId != null">
        part_quality_id = #{partQualityId,jdbcType=VARCHAR},
      </if>
      <if test="isProfitOrgUnit != null">
        is_profit_org_unit = #{isProfitOrgUnit,jdbcType=TINYINT},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="parentIdName != null">
        parent_id__name = #{parentIdName,jdbcType=VARCHAR},
      </if>
      <if test="mainOrgIdNumber != null">
        main_org_id_number = #{mainOrgIdNumber,jdbcType=VARCHAR},
      </if>
      <if test="englishName != null">
        english_name = #{englishName,jdbcType=VARCHAR},
      </if>
      <if test="controlUnitIdNumber != null">
        control_unit_id_number = #{controlUnitIdNumber,jdbcType=VARCHAR},
      </if>
      <if test="partSaleId != null">
        part_sale_id = #{partSaleId,jdbcType=VARCHAR},
      </if>
      <if test="controlUnitIdName != null">
        control_unit_id_name = #{controlUnitIdName,jdbcType=VARCHAR},
      </if>
      <if test="isSaleOrgUnit != null">
        is_sale_org_unit = #{isSaleOrgUnit,jdbcType=TINYINT},
      </if>
      <if test="isAssistantOrg != null">
        is_assistant_org = #{isAssistantOrg,jdbcType=TINYINT},
      </if>
      <if test="isStorageOrgUnit != null">
        is_storage_org_unit = #{isStorageOrgUnit,jdbcType=TINYINT},
      </if>
      <if test="partProfitCenterId != null">
        part_profit_center_id = #{partProfitCenterId,jdbcType=VARCHAR},
      </if>
      <if test="parentIdNumber != null">
        parent_id_number = #{parentIdNumber,jdbcType=VARCHAR},
      </if>
      <if test="versionNumber != null">
        version_number = #{versionNumber,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isPurchaseOrgUnit != null">
        is_purchase_org_unit = #{isPurchaseOrgUnit,jdbcType=TINYINT},
      </if>
      <if test="isGrouping != null">
        is_grouping = #{isGrouping,jdbcType=TINYINT},
      </if>
      <if test="lastUpdateTime != null">
        last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isStart != null">
        is_start = #{isStart,jdbcType=TINYINT},
      </if>
      <if test="isFreeze != null">
        is_freeze = #{isFreeze,jdbcType=TINYINT},
      </if>
      <if test="partStorageId != null">
        part_storage_id = #{partStorageId,jdbcType=VARCHAR},
      </if>
      <if test="isQualityOrgUnit != null">
        is_quality_org_unit = #{isQualityOrgUnit,jdbcType=TINYINT},
      </if>
      <if test="maintainCuIdNumber != null">
        maintain_cu_id_number = #{maintainCuIdNumber,jdbcType=VARCHAR},
      </if>
      <if test="partCtrlId != null">
        part_ctrl_id = #{partCtrlId,jdbcType=VARCHAR},
      </if>
      <if test="partPurchaseId != null">
        part_purchase_id = #{partPurchaseId,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateUserIdName != null">
        last_update_user_id_name = #{lastUpdateUserIdName,jdbcType=VARCHAR},
      </if>
      <if test="partUnionGroupId != null">
        part_union_group_id = #{partUnionGroupId,jdbcType=VARCHAR},
      </if>
      <if test="isCostOrgUnit != null">
        is_cost_org_unit = #{isCostOrgUnit,jdbcType=TINYINT},
      </if>
      <if test="creatorIdNumber != null">
        creator_id_number = #{creatorIdNumber,jdbcType=VARCHAR},
      </if>
      <if test="orgTypeStr != null">
        org_type_str = #{orgTypeStr,jdbcType=VARCHAR},
      </if>
      <if test="isOuSealUp != null">
        is_ou_seal_up = #{isOuSealUp,jdbcType=TINYINT},
      </if>
      <if test="creatorIdName != null">
        creator_id_name = #{creatorIdName,jdbcType=VARCHAR},
      </if>
      <if test="mainOrgIdName != null">
        main_org_id_name = #{mainOrgIdName,jdbcType=VARCHAR},
      </if>
      <if test="effectDate != null">
        effect_date = #{effectDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isCu != null">
        is_cu = #{isCu,jdbcType=TINYINT},
      </if>
      <if test="longNumber != null">
        long_number = #{longNumber,jdbcType=VARCHAR},
      </if>
      <if test="orgId != null">
        org_id = #{orgId,jdbcType=BIGINT},
      </if>
      <if test="gradation != null">
        gradation = #{gradation,jdbcType=TINYINT},
      </if>
      <if test="define != null">
        define = #{define,jdbcType=VARCHAR},
      </if>
      <if test="encrypt != null">
        encrypt = #{encrypt,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ecarpo.bms.eas.server.orgbaseunit.entity.EasOrgBaseUnitDO">
    <!-- @mbg.generated 2019-06-12 11:46:44 -->
    update eas_org_base_unit
    set last_update_user_id_number = #{lastUpdateUserIdNumber,jdbcType=VARCHAR},
      part_transport_id = #{partTransportId,jdbcType=VARCHAR},
      is_admin_org_unit = #{isAdminOrgUnit,jdbcType=TINYINT},
      part_hr_id = #{partHrId,jdbcType=VARCHAR},
      parent_id_level = #{parentIdLevel,jdbcType=VARCHAR},
      part_cost_center_id = #{partCostCenterId,jdbcType=VARCHAR},
      is_transport_org_unit = #{isTransportOrgUnit,jdbcType=TINYINT},
      invalid_date = #{invalidDate,jdbcType=TIMESTAMP},
      maintain_cu_id_name = #{maintainCuIdName,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      is_leaf = #{isLeaf,jdbcType=TINYINT},
      is_hr_org_unit = #{isHrOrgUnit,jdbcType=TINYINT},
      is_union = #{isUnion,jdbcType=TINYINT},
      part_admin_id = #{partAdminId,jdbcType=VARCHAR},
      part_fi_id = #{partFiId,jdbcType=VARCHAR},
      simple_name = #{simpleName,jdbcType=VARCHAR},
      part_quality_id = #{partQualityId,jdbcType=VARCHAR},
      is_profit_org_unit = #{isProfitOrgUnit,jdbcType=TINYINT},
      code = #{code,jdbcType=VARCHAR},
      parent_id__name = #{parentIdName,jdbcType=VARCHAR},
      main_org_id_number = #{mainOrgIdNumber,jdbcType=VARCHAR},
      english_name = #{englishName,jdbcType=VARCHAR},
      control_unit_id_number = #{controlUnitIdNumber,jdbcType=VARCHAR},
      part_sale_id = #{partSaleId,jdbcType=VARCHAR},
      control_unit_id_name = #{controlUnitIdName,jdbcType=VARCHAR},
      is_sale_org_unit = #{isSaleOrgUnit,jdbcType=TINYINT},
      is_assistant_org = #{isAssistantOrg,jdbcType=TINYINT},
      is_storage_org_unit = #{isStorageOrgUnit,jdbcType=TINYINT},
      part_profit_center_id = #{partProfitCenterId,jdbcType=VARCHAR},
      parent_id_number = #{parentIdNumber,jdbcType=VARCHAR},
      version_number = #{versionNumber,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      is_purchase_org_unit = #{isPurchaseOrgUnit,jdbcType=TINYINT},
      is_grouping = #{isGrouping,jdbcType=TINYINT},
      last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      is_start = #{isStart,jdbcType=TINYINT},
      is_freeze = #{isFreeze,jdbcType=TINYINT},
      part_storage_id = #{partStorageId,jdbcType=VARCHAR},
      is_quality_org_unit = #{isQualityOrgUnit,jdbcType=TINYINT},
      maintain_cu_id_number = #{maintainCuIdNumber,jdbcType=VARCHAR},
      part_ctrl_id = #{partCtrlId,jdbcType=VARCHAR},
      part_purchase_id = #{partPurchaseId,jdbcType=VARCHAR},
      last_update_user_id_name = #{lastUpdateUserIdName,jdbcType=VARCHAR},
      part_union_group_id = #{partUnionGroupId,jdbcType=VARCHAR},
      is_cost_org_unit = #{isCostOrgUnit,jdbcType=TINYINT},
      creator_id_number = #{creatorIdNumber,jdbcType=VARCHAR},
      org_type_str = #{orgTypeStr,jdbcType=VARCHAR},
      is_ou_seal_up = #{isOuSealUp,jdbcType=TINYINT},
      creator_id_name = #{creatorIdName,jdbcType=VARCHAR},
      main_org_id_name = #{mainOrgIdName,jdbcType=VARCHAR},
      effect_date = #{effectDate,jdbcType=TIMESTAMP},
      is_cu = #{isCu,jdbcType=TINYINT},
      long_number = #{longNumber,jdbcType=VARCHAR},
      org_id = #{orgId,jdbcType=BIGINT},
      gradation = #{gradation,jdbcType=TINYINT},
      define = #{define,jdbcType=VARCHAR},
      encrypt = #{encrypt,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  
  <!-- user define  -->
  
  
  <!--组织编码获取组织基类信息  xin   2019.06.12  -->
  <select id="selectByNumber" resultType="com.ecarpo.bms.eas.server.orgbaseunit.entity.EasOrgBaseUnitDO">
    select
      <include refid="Base_Column_List"/>
    from
      eas_org_base_unit
    where
      encrypt = #{encrypt,jdbcType=VARCHAR}
      limit 0,1
  </select>
  
  <!--id 获取DO  xin  2019.06.14  -->
  <select id="selectById"  resultType="com.ecarpo.bms.eas.server.orgbaseunit.entity.EasOrgBaseUnitDO">
    select
      <include refid="Base_Column_List"/>
    from
      eas_org_base_unit
    where
  		id = #{id,jdbcType=VARCHAR}
  </select>
  
  
  <!-- 组织id 获取EAS对应的组织信息   xin 2019.07.01 -->
  <select id="selectInfoByOrgId" resultType="com.ecarpo.bms.eas.server.orgbaseunit.entity.EasOrgBaseUnitDO">
    select
      <include refid="Base_Column_List"/>
    from
      eas_org_base_unit
    where
      org_id = #{orgId,jdbcType=BIGINT}
  </select>
  
</mapper>