<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecarpo.bms.eas.server.crmmembercar.dao.CrmMemberCarMapper">
  <resultMap id="BaseResultMap" type="com.ecarpo.bms.eas.server.crmmembercar.entity.CrmMemberCarDO">
    <!-- @mbg.generated 2019-08-05 16:38:00 -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="custom_id" jdbcType="INTEGER" property="custom_id" />
    <result column="store_id" jdbcType="INTEGER" property="store_id" />
    <result column="plate_no" jdbcType="VARCHAR" property="plate_no" />
    <result column="province_id" jdbcType="INTEGER" property="province_id" />
    <result column="vin_num" jdbcType="VARCHAR" property="vin_num" />
    <result column="transmission" jdbcType="VARCHAR" property="transmission" />
    <result column="emissions_standards" jdbcType="VARCHAR" property="emissions_standards" />
    <result column="brand" jdbcType="INTEGER" property="brand" />
    <result column="brand_name" jdbcType="VARCHAR" property="brand_name" />
    <result column="car_series" jdbcType="INTEGER" property="car_series" />
    <result column="series_name" jdbcType="VARCHAR" property="series_name" />
    <result column="car_model" jdbcType="INTEGER" property="car_model" />
    <result column="model_name" jdbcType="VARCHAR" property="model_name" />
    <result column="color" jdbcType="VARCHAR" property="color" />
    <result column="car_frame_num" jdbcType="VARCHAR" property="car_frame_num" />
    <result column="engine_num" jdbcType="VARCHAR" property="engine_num" />
    <result column="invoice_date" jdbcType="DATE" property="invoice_date" />
    <result column="cost" jdbcType="DECIMAL" property="cost" />
    <result column="plate_install_date" jdbcType="DATE" property="plate_install_date" />
    <result column="use_car_province" jdbcType="TINYINT" property="use_car_province" />
    <result column="use_car_city" jdbcType="SMALLINT" property="use_car_city" />
    <result column="use_car_city_name" jdbcType="VARCHAR" property="use_car_city_name" />
    <result column="sales_channels" jdbcType="TINYINT" property="sales_channels" />
    <result column="is_ext_maintain" jdbcType="TINYINT" property="is_ext_maintain" />
    <result column="maintain_sdate" jdbcType="DATE" property="maintain_sdate" />
    <result column="inspection_date" jdbcType="DATE" property="inspection_date" />
    <result column="next_mdate" jdbcType="DATE" property="next_mdate" />
    <result column="insurance_company" jdbcType="VARCHAR" property="insurance_company" />
    <result column="insurance_edate" jdbcType="DATE" property="insurance_edate" />
    <result column="end_mileage" jdbcType="INTEGER" property="end_mileage" />
    <result column="change_odograph_mileage" jdbcType="INTEGER" property="change_odograph_mileage" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="is_intention" jdbcType="TINYINT" property="is_intention" />
    <result column="task_id" jdbcType="INTEGER" property="task_id" />
    <result column="is_replace" jdbcType="TINYINT" property="is_replace" />
    <result column="is_shop_insurance" jdbcType="TINYINT" property="is_shop_insurance" />
    <result column="insurance_money" jdbcType="DECIMAL" property="insurance_money" />
    <result column="insurance_time" jdbcType="TIMESTAMP" property="insurance_time" />
    <result column="insurance_creator" jdbcType="INTEGER" property="insurance_creator" />
    <result column="carsource_num" jdbcType="VARCHAR" property="carsource_num" />
  </resultMap>
  <sql id="Base_Column_List">
    <!-- @mbg.generated 2019-08-05 16:38:00 -->
    id, custom_id, store_id, plate_no, province_id, vin_num, transmission, emissions_standards, 
    brand, brand_name, car_series, series_name, car_model, model_name, color, car_frame_num, 
    engine_num, invoice_date, cost, plate_install_date, use_car_province, use_car_city, 
    use_car_city_name, sales_channels, is_ext_maintain, maintain_sdate, inspection_date, 
    next_mdate, insurance_company, insurance_edate, end_mileage, change_odograph_mileage, 
    remark, is_intention, task_id, is_replace, is_shop_insurance, insurance_money, insurance_time, 
    insurance_creator, carsource_num
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!-- @mbg.generated 2019-08-05 16:38:00 -->
    select 
    <include refid="Base_Column_List" />
    from crm_member_car
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!-- @mbg.generated 2019-08-05 16:38:00 -->
    delete from crm_member_car
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ecarpo.bms.eas.server.crmmembercar.entity.CrmMemberCarDO">
    <!-- @mbg.generated 2019-08-05 16:38:00 -->
    insert into crm_member_car (id, custom_id, store_id, 
      plate_no, province_id, vin_num, 
      transmission, emissions_standards, brand, 
      brand_name, car_series, series_name, 
      car_model, model_name, color, 
      car_frame_num, engine_num, invoice_date, 
      cost, plate_install_date, use_car_province, 
      use_car_city, use_car_city_name, sales_channels, 
      is_ext_maintain, maintain_sdate, inspection_date, 
      next_mdate, insurance_company, insurance_edate, 
      end_mileage, change_odograph_mileage, remark, 
      is_intention, task_id, is_replace, 
      is_shop_insurance, insurance_money, insurance_time, 
      insurance_creator, carsource_num)
    values (#{id,jdbcType=INTEGER}, #{custom_id,jdbcType=INTEGER}, #{store_id,jdbcType=INTEGER}, 
      #{plate_no,jdbcType=VARCHAR}, #{province_id,jdbcType=INTEGER}, #{vin_num,jdbcType=VARCHAR}, 
      #{transmission,jdbcType=VARCHAR}, #{emissions_standards,jdbcType=VARCHAR}, #{brand,jdbcType=INTEGER}, 
      #{brand_name,jdbcType=VARCHAR}, #{car_series,jdbcType=INTEGER}, #{series_name,jdbcType=VARCHAR}, 
      #{car_model,jdbcType=INTEGER}, #{model_name,jdbcType=VARCHAR}, #{color,jdbcType=VARCHAR}, 
      #{car_frame_num,jdbcType=VARCHAR}, #{engine_num,jdbcType=VARCHAR}, #{invoice_date,jdbcType=DATE}, 
      #{cost,jdbcType=DECIMAL}, #{plate_install_date,jdbcType=DATE}, #{use_car_province,jdbcType=TINYINT}, 
      #{use_car_city,jdbcType=SMALLINT}, #{use_car_city_name,jdbcType=VARCHAR}, #{sales_channels,jdbcType=TINYINT}, 
      #{is_ext_maintain,jdbcType=TINYINT}, #{maintain_sdate,jdbcType=DATE}, #{inspection_date,jdbcType=DATE}, 
      #{next_mdate,jdbcType=DATE}, #{insurance_company,jdbcType=VARCHAR}, #{insurance_edate,jdbcType=DATE}, 
      #{end_mileage,jdbcType=INTEGER}, #{change_odograph_mileage,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, 
      #{is_intention,jdbcType=TINYINT}, #{task_id,jdbcType=INTEGER}, #{is_replace,jdbcType=TINYINT}, 
      #{is_shop_insurance,jdbcType=TINYINT}, #{insurance_money,jdbcType=DECIMAL}, #{insurance_time,jdbcType=TIMESTAMP}, 
      #{insurance_creator,jdbcType=INTEGER}, #{carsource_num,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ecarpo.bms.eas.server.crmmembercar.entity.CrmMemberCarDO">
    <!-- @mbg.generated 2019-08-05 16:38:00 -->
    insert into crm_member_car
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="custom_id != null">
        custom_id,
      </if>
      <if test="store_id != null">
        store_id,
      </if>
      <if test="plate_no != null">
        plate_no,
      </if>
      <if test="province_id != null">
        province_id,
      </if>
      <if test="vin_num != null">
        vin_num,
      </if>
      <if test="transmission != null">
        transmission,
      </if>
      <if test="emissions_standards != null">
        emissions_standards,
      </if>
      <if test="brand != null">
        brand,
      </if>
      <if test="brand_name != null">
        brand_name,
      </if>
      <if test="car_series != null">
        car_series,
      </if>
      <if test="series_name != null">
        series_name,
      </if>
      <if test="car_model != null">
        car_model,
      </if>
      <if test="model_name != null">
        model_name,
      </if>
      <if test="color != null">
        color,
      </if>
      <if test="car_frame_num != null">
        car_frame_num,
      </if>
      <if test="engine_num != null">
        engine_num,
      </if>
      <if test="invoice_date != null">
        invoice_date,
      </if>
      <if test="cost != null">
        cost,
      </if>
      <if test="plate_install_date != null">
        plate_install_date,
      </if>
      <if test="use_car_province != null">
        use_car_province,
      </if>
      <if test="use_car_city != null">
        use_car_city,
      </if>
      <if test="use_car_city_name != null">
        use_car_city_name,
      </if>
      <if test="sales_channels != null">
        sales_channels,
      </if>
      <if test="is_ext_maintain != null">
        is_ext_maintain,
      </if>
      <if test="maintain_sdate != null">
        maintain_sdate,
      </if>
      <if test="inspection_date != null">
        inspection_date,
      </if>
      <if test="next_mdate != null">
        next_mdate,
      </if>
      <if test="insurance_company != null">
        insurance_company,
      </if>
      <if test="insurance_edate != null">
        insurance_edate,
      </if>
      <if test="end_mileage != null">
        end_mileage,
      </if>
      <if test="change_odograph_mileage != null">
        change_odograph_mileage,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="is_intention != null">
        is_intention,
      </if>
      <if test="task_id != null">
        task_id,
      </if>
      <if test="is_replace != null">
        is_replace,
      </if>
      <if test="is_shop_insurance != null">
        is_shop_insurance,
      </if>
      <if test="insurance_money != null">
        insurance_money,
      </if>
      <if test="insurance_time != null">
        insurance_time,
      </if>
      <if test="insurance_creator != null">
        insurance_creator,
      </if>
      <if test="carsource_num != null">
        carsource_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="custom_id != null">
        #{custom_id,jdbcType=INTEGER},
      </if>
      <if test="store_id != null">
        #{store_id,jdbcType=INTEGER},
      </if>
      <if test="plate_no != null">
        #{plate_no,jdbcType=VARCHAR},
      </if>
      <if test="province_id != null">
        #{province_id,jdbcType=INTEGER},
      </if>
      <if test="vin_num != null">
        #{vin_num,jdbcType=VARCHAR},
      </if>
      <if test="transmission != null">
        #{transmission,jdbcType=VARCHAR},
      </if>
      <if test="emissions_standards != null">
        #{emissions_standards,jdbcType=VARCHAR},
      </if>
      <if test="brand != null">
        #{brand,jdbcType=INTEGER},
      </if>
      <if test="brand_name != null">
        #{brand_name,jdbcType=VARCHAR},
      </if>
      <if test="car_series != null">
        #{car_series,jdbcType=INTEGER},
      </if>
      <if test="series_name != null">
        #{series_name,jdbcType=VARCHAR},
      </if>
      <if test="car_model != null">
        #{car_model,jdbcType=INTEGER},
      </if>
      <if test="model_name != null">
        #{model_name,jdbcType=VARCHAR},
      </if>
      <if test="color != null">
        #{color,jdbcType=VARCHAR},
      </if>
      <if test="car_frame_num != null">
        #{car_frame_num,jdbcType=VARCHAR},
      </if>
      <if test="engine_num != null">
        #{engine_num,jdbcType=VARCHAR},
      </if>
      <if test="invoice_date != null">
        #{invoice_date,jdbcType=DATE},
      </if>
      <if test="cost != null">
        #{cost,jdbcType=DECIMAL},
      </if>
      <if test="plate_install_date != null">
        #{plate_install_date,jdbcType=DATE},
      </if>
      <if test="use_car_province != null">
        #{use_car_province,jdbcType=TINYINT},
      </if>
      <if test="use_car_city != null">
        #{use_car_city,jdbcType=SMALLINT},
      </if>
      <if test="use_car_city_name != null">
        #{use_car_city_name,jdbcType=VARCHAR},
      </if>
      <if test="sales_channels != null">
        #{sales_channels,jdbcType=TINYINT},
      </if>
      <if test="is_ext_maintain != null">
        #{is_ext_maintain,jdbcType=TINYINT},
      </if>
      <if test="maintain_sdate != null">
        #{maintain_sdate,jdbcType=DATE},
      </if>
      <if test="inspection_date != null">
        #{inspection_date,jdbcType=DATE},
      </if>
      <if test="next_mdate != null">
        #{next_mdate,jdbcType=DATE},
      </if>
      <if test="insurance_company != null">
        #{insurance_company,jdbcType=VARCHAR},
      </if>
      <if test="insurance_edate != null">
        #{insurance_edate,jdbcType=DATE},
      </if>
      <if test="end_mileage != null">
        #{end_mileage,jdbcType=INTEGER},
      </if>
      <if test="change_odograph_mileage != null">
        #{change_odograph_mileage,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="is_intention != null">
        #{is_intention,jdbcType=TINYINT},
      </if>
      <if test="task_id != null">
        #{task_id,jdbcType=INTEGER},
      </if>
      <if test="is_replace != null">
        #{is_replace,jdbcType=TINYINT},
      </if>
      <if test="is_shop_insurance != null">
        #{is_shop_insurance,jdbcType=TINYINT},
      </if>
      <if test="insurance_money != null">
        #{insurance_money,jdbcType=DECIMAL},
      </if>
      <if test="insurance_time != null">
        #{insurance_time,jdbcType=TIMESTAMP},
      </if>
      <if test="insurance_creator != null">
        #{insurance_creator,jdbcType=INTEGER},
      </if>
      <if test="carsource_num != null">
        #{carsource_num,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ecarpo.bms.eas.server.crmmembercar.entity.CrmMemberCarDO">
    <!-- @mbg.generated 2019-08-05 16:38:00 -->
    update crm_member_car
    <set>
      <if test="custom_id != null">
        custom_id = #{custom_id,jdbcType=INTEGER},
      </if>
      <if test="store_id != null">
        store_id = #{store_id,jdbcType=INTEGER},
      </if>
      <if test="plate_no != null">
        plate_no = #{plate_no,jdbcType=VARCHAR},
      </if>
      <if test="province_id != null">
        province_id = #{province_id,jdbcType=INTEGER},
      </if>
      <if test="vin_num != null">
        vin_num = #{vin_num,jdbcType=VARCHAR},
      </if>
      <if test="transmission != null">
        transmission = #{transmission,jdbcType=VARCHAR},
      </if>
      <if test="emissions_standards != null">
        emissions_standards = #{emissions_standards,jdbcType=VARCHAR},
      </if>
      <if test="brand != null">
        brand = #{brand,jdbcType=INTEGER},
      </if>
      <if test="brand_name != null">
        brand_name = #{brand_name,jdbcType=VARCHAR},
      </if>
      <if test="car_series != null">
        car_series = #{car_series,jdbcType=INTEGER},
      </if>
      <if test="series_name != null">
        series_name = #{series_name,jdbcType=VARCHAR},
      </if>
      <if test="car_model != null">
        car_model = #{car_model,jdbcType=INTEGER},
      </if>
      <if test="model_name != null">
        model_name = #{model_name,jdbcType=VARCHAR},
      </if>
      <if test="color != null">
        color = #{color,jdbcType=VARCHAR},
      </if>
      <if test="car_frame_num != null">
        car_frame_num = #{car_frame_num,jdbcType=VARCHAR},
      </if>
      <if test="engine_num != null">
        engine_num = #{engine_num,jdbcType=VARCHAR},
      </if>
      <if test="invoice_date != null">
        invoice_date = #{invoice_date,jdbcType=DATE},
      </if>
      <if test="cost != null">
        cost = #{cost,jdbcType=DECIMAL},
      </if>
      <if test="plate_install_date != null">
        plate_install_date = #{plate_install_date,jdbcType=DATE},
      </if>
      <if test="use_car_province != null">
        use_car_province = #{use_car_province,jdbcType=TINYINT},
      </if>
      <if test="use_car_city != null">
        use_car_city = #{use_car_city,jdbcType=SMALLINT},
      </if>
      <if test="use_car_city_name != null">
        use_car_city_name = #{use_car_city_name,jdbcType=VARCHAR},
      </if>
      <if test="sales_channels != null">
        sales_channels = #{sales_channels,jdbcType=TINYINT},
      </if>
      <if test="is_ext_maintain != null">
        is_ext_maintain = #{is_ext_maintain,jdbcType=TINYINT},
      </if>
      <if test="maintain_sdate != null">
        maintain_sdate = #{maintain_sdate,jdbcType=DATE},
      </if>
      <if test="inspection_date != null">
        inspection_date = #{inspection_date,jdbcType=DATE},
      </if>
      <if test="next_mdate != null">
        next_mdate = #{next_mdate,jdbcType=DATE},
      </if>
      <if test="insurance_company != null">
        insurance_company = #{insurance_company,jdbcType=VARCHAR},
      </if>
      <if test="insurance_edate != null">
        insurance_edate = #{insurance_edate,jdbcType=DATE},
      </if>
      <if test="end_mileage != null">
        end_mileage = #{end_mileage,jdbcType=INTEGER},
      </if>
      <if test="change_odograph_mileage != null">
        change_odograph_mileage = #{change_odograph_mileage,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="is_intention != null">
        is_intention = #{is_intention,jdbcType=TINYINT},
      </if>
      <if test="task_id != null">
        task_id = #{task_id,jdbcType=INTEGER},
      </if>
      <if test="is_replace != null">
        is_replace = #{is_replace,jdbcType=TINYINT},
      </if>
      <if test="is_shop_insurance != null">
        is_shop_insurance = #{is_shop_insurance,jdbcType=TINYINT},
      </if>
      <if test="insurance_money != null">
        insurance_money = #{insurance_money,jdbcType=DECIMAL},
      </if>
      <if test="insurance_time != null">
        insurance_time = #{insurance_time,jdbcType=TIMESTAMP},
      </if>
      <if test="insurance_creator != null">
        insurance_creator = #{insurance_creator,jdbcType=INTEGER},
      </if>
      <if test="carsource_num != null">
        carsource_num = #{carsource_num,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ecarpo.bms.eas.server.crmmembercar.entity.CrmMemberCarDO">
    <!-- @mbg.generated 2019-08-05 16:38:00 -->
    update crm_member_car
    set custom_id = #{custom_id,jdbcType=INTEGER},
      store_id = #{store_id,jdbcType=INTEGER},
      plate_no = #{plate_no,jdbcType=VARCHAR},
      province_id = #{province_id,jdbcType=INTEGER},
      vin_num = #{vin_num,jdbcType=VARCHAR},
      transmission = #{transmission,jdbcType=VARCHAR},
      emissions_standards = #{emissions_standards,jdbcType=VARCHAR},
      brand = #{brand,jdbcType=INTEGER},
      brand_name = #{brand_name,jdbcType=VARCHAR},
      car_series = #{car_series,jdbcType=INTEGER},
      series_name = #{series_name,jdbcType=VARCHAR},
      car_model = #{car_model,jdbcType=INTEGER},
      model_name = #{model_name,jdbcType=VARCHAR},
      color = #{color,jdbcType=VARCHAR},
      car_frame_num = #{car_frame_num,jdbcType=VARCHAR},
      engine_num = #{engine_num,jdbcType=VARCHAR},
      invoice_date = #{invoice_date,jdbcType=DATE},
      cost = #{cost,jdbcType=DECIMAL},
      plate_install_date = #{plate_install_date,jdbcType=DATE},
      use_car_province = #{use_car_province,jdbcType=TINYINT},
      use_car_city = #{use_car_city,jdbcType=SMALLINT},
      use_car_city_name = #{use_car_city_name,jdbcType=VARCHAR},
      sales_channels = #{sales_channels,jdbcType=TINYINT},
      is_ext_maintain = #{is_ext_maintain,jdbcType=TINYINT},
      maintain_sdate = #{maintain_sdate,jdbcType=DATE},
      inspection_date = #{inspection_date,jdbcType=DATE},
      next_mdate = #{next_mdate,jdbcType=DATE},
      insurance_company = #{insurance_company,jdbcType=VARCHAR},
      insurance_edate = #{insurance_edate,jdbcType=DATE},
      end_mileage = #{end_mileage,jdbcType=INTEGER},
      change_odograph_mileage = #{change_odograph_mileage,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      is_intention = #{is_intention,jdbcType=TINYINT},
      task_id = #{task_id,jdbcType=INTEGER},
      is_replace = #{is_replace,jdbcType=TINYINT},
      is_shop_insurance = #{is_shop_insurance,jdbcType=TINYINT},
      insurance_money = #{insurance_money,jdbcType=DECIMAL},
      insurance_time = #{insurance_time,jdbcType=TIMESTAMP},
      insurance_creator = #{insurance_creator,jdbcType=INTEGER},
      carsource_num = #{carsource_num,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- user define -->
  <select id="existsByCode" resultType="java.lang.Long">
    select 1 from crm_member_car
    where code = #{code,jdbcType=VARCHAR}
    limit 0, 1
  </select>
  
</mapper>