<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecarpo.bms.eas.server.material.dao.EasMaterialMapper">
  <resultMap id="BaseResultMap" type="com.ecarpo.bms.eas.server.material.entity.EasMaterialDO">
    <!-- @mbg.generated 2019-07-10 10:36:01 -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="encrypt" jdbcType="VARCHAR" property="encrypt" />
    <result column="define" jdbcType="VARCHAR" property="define" />
    <result column="last_update_user_id_number" jdbcType="VARCHAR" property="lastUpdateUserIdNumber" />
    <result column="effected_status" jdbcType="TINYINT" property="effectedStatus" />
    <result column="base_unit_name" jdbcType="VARCHAR" property="baseUnitName" />
    <result column="volumn_unit_number" jdbcType="VARCHAR" property="volumnUnitNumber" />
    <result column="is_outsourced_part" jdbcType="TINYINT" property="isOutsourcedPart" />
    <result column="height" jdbcType="DECIMAL" property="height" />
    <result column="description" jdbcType="VARCHAR" property="description" />
    <result column="assist_unit_name" jdbcType="VARCHAR" property="assistUnitName" />
    <result column="material_group_level" jdbcType="TINYINT" property="materialGroupLevel" />
    <result column="price_precision" jdbcType="TINYINT" property="pricePrecision" />
    <result column="bar_code" jdbcType="VARCHAR" property="barCode" />
    <result column="assist_unit_number" jdbcType="VARCHAR" property="assistUnitNumber" />
    <result column="freeze_org_unit_name" jdbcType="VARCHAR" property="freezeOrgUnitName" />
    <result column="equip_property" jdbcType="TINYINT" property="equipProperty" />
    <result column="name_pin_yin" jdbcType="VARCHAR" property="namePinYin" />
    <result column="simple_name" jdbcType="VARCHAR" property="simpleName" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="number4idx" jdbcType="VARCHAR" property="number4idx" />
    <result column="material_trademark_name" jdbcType="VARCHAR" property="materialTrademarkName" />
    <result column="width" jdbcType="DECIMAL" property="width" />
    <result column="length_unit_name" jdbcType="VARCHAR" property="lengthUnitName" />
    <result column="gross_weight" jdbcType="DECIMAL" property="grossWeight" />
    <result column="material_group_name" jdbcType="VARCHAR" property="materialGroupName" />
    <result column="freeze_org_unit_number" jdbcType="VARCHAR" property="freezeOrgUnitNumber" />
    <result column="control_unit_id_number" jdbcType="VARCHAR" property="controlUnitIdNumber" />
    <result column="control_unit_id_name" jdbcType="VARCHAR" property="controlUnitIdName" />
    <result column="picture_number" jdbcType="VARCHAR" property="pictureNumber" />
    <result column="weight_unit_number" jdbcType="VARCHAR" property="weightUnitNumber" />
    <result column="is_weighted" jdbcType="TINYINT" property="isWeighted" />
    <result column="material_group_number" jdbcType="VARCHAR" property="materialGroupNumber" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="material_trademark_number" jdbcType="VARCHAR" property="materialTrademarkNumber" />
    <result column="model" jdbcType="VARCHAR" property="model" />
    <result column="name4idx" jdbcType="VARCHAR" property="name4idx" />
    <result column="last_update_time" jdbcType="TIMESTAMP" property="lastUpdateTime" />
    <result column="assist_attr_name" jdbcType="VARCHAR" property="assistAttrName" />
    <result column="is_goods" jdbcType="TINYINT" property="isGoods" />
    <result column="assist_attr_number" jdbcType="VARCHAR" property="assistAttrNumber" />
    <result column="version" jdbcType="TINYINT" property="version" />
    <result column="admin_cu_id_number" jdbcType="VARCHAR" property="adminCuIdNumber" />
    <result column="use_asst_attr_relation" jdbcType="TINYINT" property="useAsstAttrRelation" />
    <result column="is_synochronous" jdbcType="TINYINT" property="isSynochronous" />
    <result column="warrant_number" jdbcType="VARCHAR" property="warrantNumber" />
    <result column="length" jdbcType="DECIMAL" property="length" />
    <result column="registered_mark" jdbcType="VARCHAR" property="registeredMark" />
    <result column="last_update_user_id_name" jdbcType="VARCHAR" property="lastUpdateUserIdName" />
    <result column="name_short_pin_yin" jdbcType="VARCHAR" property="nameShortPinYin" />
    <result column="volumn_unit_name" jdbcType="VARCHAR" property="volumnUnitName" />
    <result column="creator_id_number" jdbcType="VARCHAR" property="creatorIdNumber" />
    <result column="foreign_ame" jdbcType="VARCHAR" property="foreignAme" />
    <result column="creator_id_name" jdbcType="VARCHAR" property="creatorIdName" />
    <result column="alias" jdbcType="VARCHAR" property="alias" />
    <result column="base_unit_number" jdbcType="VARCHAR" property="baseUnitNumber" />
    <result column="length_unit_number" jdbcType="VARCHAR" property="lengthUnitNumber" />
    <result column="weight_unit_name" jdbcType="VARCHAR" property="weightUnitName" />
    <result column="seq_unit_name" jdbcType="VARCHAR" property="seqUnitName" />
    <result column="net_weight" jdbcType="DECIMAL" property="netWeight" />
    <result column="seq_unit_number" jdbcType="VARCHAR" property="seqUnitNumber" />
    <result column="old_number" jdbcType="VARCHAR" property="oldNumber" />
    <result column="volume" jdbcType="DECIMAL" property="volume" />
    <result column="help_code" jdbcType="VARCHAR" property="helpCode" />
    <result column="short_name" jdbcType="VARCHAR" property="shortName" />
    <result column="long_number" jdbcType="VARCHAR" property="longNumber" />
    <result column="admin_cu_id_name" jdbcType="VARCHAR" property="adminCuIdName" />
    <result column="erp_material_id" jdbcType="BIGINT" property="erpMaterialId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!-- @mbg.generated 2019-07-10 10:36:01 -->
    id, encrypt, define, last_update_user_id_number, effected_status, base_unit_name, 
    volumn_unit_number, is_outsourced_part, height, description, assist_unit_name, material_group_level, 
    price_precision, bar_code, assist_unit_number, freeze_org_unit_name, equip_property, 
    name_pin_yin, simple_name, status, number4idx, material_trademark_name, width, length_unit_name, 
    gross_weight, material_group_name, freeze_org_unit_number, control_unit_id_number, 
    control_unit_id_name, picture_number, weight_unit_number, is_weighted, material_group_number, 
    create_time, material_trademark_number, model, name4idx, last_update_time, assist_attr_name, 
    is_goods, assist_attr_number, version, admin_cu_id_number, use_asst_attr_relation, 
    is_synochronous, warrant_number, length, registered_mark, last_update_user_id_name, 
    name_short_pin_yin, volumn_unit_name, creator_id_number, foreign_ame, creator_id_name, 
    alias, base_unit_number, length_unit_number, weight_unit_name, seq_unit_name, net_weight, 
    seq_unit_number, old_number, volume, help_code, short_name, long_number, admin_cu_id_name, 
    erp_material_id
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    <!-- @mbg.generated 2019-07-10 10:36:01 -->
    select 
    <include refid="Base_Column_List" />
    from eas_bd_material
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    <!-- @mbg.generated 2019-07-10 10:36:01 -->
    delete from eas_bd_material
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.ecarpo.bms.eas.server.material.entity.EasMaterialDO">
    <!-- @mbg.generated 2019-07-10 10:36:01 -->
    insert into eas_bd_material (id, encrypt, define, 
      last_update_user_id_number, effected_status, 
      base_unit_name, volumn_unit_number, is_outsourced_part, 
      height, description, assist_unit_name, 
      material_group_level, price_precision, bar_code, 
      assist_unit_number, freeze_org_unit_name, equip_property, 
      name_pin_yin, simple_name, status, 
      number4idx, material_trademark_name, width, 
      length_unit_name, gross_weight, material_group_name, 
      freeze_org_unit_number, control_unit_id_number, 
      control_unit_id_name, picture_number, weight_unit_number, 
      is_weighted, material_group_number, create_time, 
      material_trademark_number, model, name4idx, 
      last_update_time, assist_attr_name, is_goods, 
      assist_attr_number, version, admin_cu_id_number, 
      use_asst_attr_relation, is_synochronous, warrant_number, 
      length, registered_mark, last_update_user_id_name, 
      name_short_pin_yin, volumn_unit_name, creator_id_number, 
      foreign_ame, creator_id_name, alias, 
      base_unit_number, length_unit_number, weight_unit_name, 
      seq_unit_name, net_weight, seq_unit_number, 
      old_number, volume, help_code, 
      short_name, long_number, admin_cu_id_name, 
      erp_material_id)
    values (#{id,jdbcType=VARCHAR}, #{encrypt,jdbcType=VARCHAR}, #{define,jdbcType=VARCHAR}, 
      #{lastUpdateUserIdNumber,jdbcType=VARCHAR}, #{effectedStatus,jdbcType=TINYINT}, 
      #{baseUnitName,jdbcType=VARCHAR}, #{volumnUnitNumber,jdbcType=VARCHAR}, #{isOutsourcedPart,jdbcType=TINYINT}, 
      #{height,jdbcType=DECIMAL}, #{description,jdbcType=VARCHAR}, #{assistUnitName,jdbcType=VARCHAR}, 
      #{materialGroupLevel,jdbcType=TINYINT}, #{pricePrecision,jdbcType=TINYINT}, #{barCode,jdbcType=VARCHAR}, 
      #{assistUnitNumber,jdbcType=VARCHAR}, #{freezeOrgUnitName,jdbcType=VARCHAR}, #{equipProperty,jdbcType=TINYINT}, 
      #{namePinYin,jdbcType=VARCHAR}, #{simpleName,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, 
      #{number4idx,jdbcType=VARCHAR}, #{materialTrademarkName,jdbcType=VARCHAR}, #{width,jdbcType=DECIMAL}, 
      #{lengthUnitName,jdbcType=VARCHAR}, #{grossWeight,jdbcType=DECIMAL}, #{materialGroupName,jdbcType=VARCHAR}, 
      #{freezeOrgUnitNumber,jdbcType=VARCHAR}, #{controlUnitIdNumber,jdbcType=VARCHAR}, 
      #{controlUnitIdName,jdbcType=VARCHAR}, #{pictureNumber,jdbcType=VARCHAR}, #{weightUnitNumber,jdbcType=VARCHAR}, 
      #{isWeighted,jdbcType=TINYINT}, #{materialGroupNumber,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, 
      #{materialTrademarkNumber,jdbcType=VARCHAR}, #{model,jdbcType=VARCHAR}, #{name4idx,jdbcType=VARCHAR}, 
      #{lastUpdateTime,jdbcType=TIMESTAMP}, #{assistAttrName,jdbcType=VARCHAR}, #{isGoods,jdbcType=TINYINT}, 
      #{assistAttrNumber,jdbcType=VARCHAR}, #{version,jdbcType=TINYINT}, #{adminCuIdNumber,jdbcType=VARCHAR}, 
      #{useAsstAttrRelation,jdbcType=TINYINT}, #{isSynochronous,jdbcType=TINYINT}, #{warrantNumber,jdbcType=VARCHAR}, 
      #{length,jdbcType=DECIMAL}, #{registeredMark,jdbcType=VARCHAR}, #{lastUpdateUserIdName,jdbcType=VARCHAR}, 
      #{nameShortPinYin,jdbcType=VARCHAR}, #{volumnUnitName,jdbcType=VARCHAR}, #{creatorIdNumber,jdbcType=VARCHAR}, 
      #{foreignAme,jdbcType=VARCHAR}, #{creatorIdName,jdbcType=VARCHAR}, #{alias,jdbcType=VARCHAR}, 
      #{baseUnitNumber,jdbcType=VARCHAR}, #{lengthUnitNumber,jdbcType=VARCHAR}, #{weightUnitName,jdbcType=VARCHAR}, 
      #{seqUnitName,jdbcType=VARCHAR}, #{netWeight,jdbcType=DECIMAL}, #{seqUnitNumber,jdbcType=VARCHAR}, 
      #{oldNumber,jdbcType=VARCHAR}, #{volume,jdbcType=DECIMAL}, #{helpCode,jdbcType=VARCHAR}, 
      #{shortName,jdbcType=VARCHAR}, #{longNumber,jdbcType=VARCHAR}, #{adminCuIdName,jdbcType=VARCHAR}, 
      #{erpMaterialId,jdbcType=BIGINT})
  </insert>
  <insert id="insertSelective" parameterType="com.ecarpo.bms.eas.server.material.entity.EasMaterialDO">
    <!-- @mbg.generated 2019-07-10 10:36:01 -->
    insert into eas_bd_material
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="encrypt != null">
        encrypt,
      </if>
      <if test="define != null">
        define,
      </if>
      <if test="lastUpdateUserIdNumber != null">
        last_update_user_id_number,
      </if>
      <if test="effectedStatus != null">
        effected_status,
      </if>
      <if test="baseUnitName != null">
        base_unit_name,
      </if>
      <if test="volumnUnitNumber != null">
        volumn_unit_number,
      </if>
      <if test="isOutsourcedPart != null">
        is_outsourced_part,
      </if>
      <if test="height != null">
        height,
      </if>
      <if test="description != null">
        description,
      </if>
      <if test="assistUnitName != null">
        assist_unit_name,
      </if>
      <if test="materialGroupLevel != null">
        material_group_level,
      </if>
      <if test="pricePrecision != null">
        price_precision,
      </if>
      <if test="barCode != null">
        bar_code,
      </if>
      <if test="assistUnitNumber != null">
        assist_unit_number,
      </if>
      <if test="freezeOrgUnitName != null">
        freeze_org_unit_name,
      </if>
      <if test="equipProperty != null">
        equip_property,
      </if>
      <if test="namePinYin != null">
        name_pin_yin,
      </if>
      <if test="simpleName != null">
        simple_name,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="number4idx != null">
        number4idx,
      </if>
      <if test="materialTrademarkName != null">
        material_trademark_name,
      </if>
      <if test="width != null">
        width,
      </if>
      <if test="lengthUnitName != null">
        length_unit_name,
      </if>
      <if test="grossWeight != null">
        gross_weight,
      </if>
      <if test="materialGroupName != null">
        material_group_name,
      </if>
      <if test="freezeOrgUnitNumber != null">
        freeze_org_unit_number,
      </if>
      <if test="controlUnitIdNumber != null">
        control_unit_id_number,
      </if>
      <if test="controlUnitIdName != null">
        control_unit_id_name,
      </if>
      <if test="pictureNumber != null">
        picture_number,
      </if>
      <if test="weightUnitNumber != null">
        weight_unit_number,
      </if>
      <if test="isWeighted != null">
        is_weighted,
      </if>
      <if test="materialGroupNumber != null">
        material_group_number,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="materialTrademarkNumber != null">
        material_trademark_number,
      </if>
      <if test="model != null">
        model,
      </if>
      <if test="name4idx != null">
        name4idx,
      </if>
      <if test="lastUpdateTime != null">
        last_update_time,
      </if>
      <if test="assistAttrName != null">
        assist_attr_name,
      </if>
      <if test="isGoods != null">
        is_goods,
      </if>
      <if test="assistAttrNumber != null">
        assist_attr_number,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="adminCuIdNumber != null">
        admin_cu_id_number,
      </if>
      <if test="useAsstAttrRelation != null">
        use_asst_attr_relation,
      </if>
      <if test="isSynochronous != null">
        is_synochronous,
      </if>
      <if test="warrantNumber != null">
        warrant_number,
      </if>
      <if test="length != null">
        length,
      </if>
      <if test="registeredMark != null">
        registered_mark,
      </if>
      <if test="lastUpdateUserIdName != null">
        last_update_user_id_name,
      </if>
      <if test="nameShortPinYin != null">
        name_short_pin_yin,
      </if>
      <if test="volumnUnitName != null">
        volumn_unit_name,
      </if>
      <if test="creatorIdNumber != null">
        creator_id_number,
      </if>
      <if test="foreignAme != null">
        foreign_ame,
      </if>
      <if test="creatorIdName != null">
        creator_id_name,
      </if>
      <if test="alias != null">
        alias,
      </if>
      <if test="baseUnitNumber != null">
        base_unit_number,
      </if>
      <if test="lengthUnitNumber != null">
        length_unit_number,
      </if>
      <if test="weightUnitName != null">
        weight_unit_name,
      </if>
      <if test="seqUnitName != null">
        seq_unit_name,
      </if>
      <if test="netWeight != null">
        net_weight,
      </if>
      <if test="seqUnitNumber != null">
        seq_unit_number,
      </if>
      <if test="oldNumber != null">
        old_number,
      </if>
      <if test="volume != null">
        volume,
      </if>
      <if test="helpCode != null">
        help_code,
      </if>
      <if test="shortName != null">
        short_name,
      </if>
      <if test="longNumber != null">
        long_number,
      </if>
      <if test="adminCuIdName != null">
        admin_cu_id_name,
      </if>
      <if test="erpMaterialId != null">
        erp_material_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="encrypt != null">
        #{encrypt,jdbcType=VARCHAR},
      </if>
      <if test="define != null">
        #{define,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateUserIdNumber != null">
        #{lastUpdateUserIdNumber,jdbcType=VARCHAR},
      </if>
      <if test="effectedStatus != null">
        #{effectedStatus,jdbcType=TINYINT},
      </if>
      <if test="baseUnitName != null">
        #{baseUnitName,jdbcType=VARCHAR},
      </if>
      <if test="volumnUnitNumber != null">
        #{volumnUnitNumber,jdbcType=VARCHAR},
      </if>
      <if test="isOutsourcedPart != null">
        #{isOutsourcedPart,jdbcType=TINYINT},
      </if>
      <if test="height != null">
        #{height,jdbcType=DECIMAL},
      </if>
      <if test="description != null">
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="assistUnitName != null">
        #{assistUnitName,jdbcType=VARCHAR},
      </if>
      <if test="materialGroupLevel != null">
        #{materialGroupLevel,jdbcType=TINYINT},
      </if>
      <if test="pricePrecision != null">
        #{pricePrecision,jdbcType=TINYINT},
      </if>
      <if test="barCode != null">
        #{barCode,jdbcType=VARCHAR},
      </if>
      <if test="assistUnitNumber != null">
        #{assistUnitNumber,jdbcType=VARCHAR},
      </if>
      <if test="freezeOrgUnitName != null">
        #{freezeOrgUnitName,jdbcType=VARCHAR},
      </if>
      <if test="equipProperty != null">
        #{equipProperty,jdbcType=TINYINT},
      </if>
      <if test="namePinYin != null">
        #{namePinYin,jdbcType=VARCHAR},
      </if>
      <if test="simpleName != null">
        #{simpleName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="number4idx != null">
        #{number4idx,jdbcType=VARCHAR},
      </if>
      <if test="materialTrademarkName != null">
        #{materialTrademarkName,jdbcType=VARCHAR},
      </if>
      <if test="width != null">
        #{width,jdbcType=DECIMAL},
      </if>
      <if test="lengthUnitName != null">
        #{lengthUnitName,jdbcType=VARCHAR},
      </if>
      <if test="grossWeight != null">
        #{grossWeight,jdbcType=DECIMAL},
      </if>
      <if test="materialGroupName != null">
        #{materialGroupName,jdbcType=VARCHAR},
      </if>
      <if test="freezeOrgUnitNumber != null">
        #{freezeOrgUnitNumber,jdbcType=VARCHAR},
      </if>
      <if test="controlUnitIdNumber != null">
        #{controlUnitIdNumber,jdbcType=VARCHAR},
      </if>
      <if test="controlUnitIdName != null">
        #{controlUnitIdName,jdbcType=VARCHAR},
      </if>
      <if test="pictureNumber != null">
        #{pictureNumber,jdbcType=VARCHAR},
      </if>
      <if test="weightUnitNumber != null">
        #{weightUnitNumber,jdbcType=VARCHAR},
      </if>
      <if test="isWeighted != null">
        #{isWeighted,jdbcType=TINYINT},
      </if>
      <if test="materialGroupNumber != null">
        #{materialGroupNumber,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="materialTrademarkNumber != null">
        #{materialTrademarkNumber,jdbcType=VARCHAR},
      </if>
      <if test="model != null">
        #{model,jdbcType=VARCHAR},
      </if>
      <if test="name4idx != null">
        #{name4idx,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="assistAttrName != null">
        #{assistAttrName,jdbcType=VARCHAR},
      </if>
      <if test="isGoods != null">
        #{isGoods,jdbcType=TINYINT},
      </if>
      <if test="assistAttrNumber != null">
        #{assistAttrNumber,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        #{version,jdbcType=TINYINT},
      </if>
      <if test="adminCuIdNumber != null">
        #{adminCuIdNumber,jdbcType=VARCHAR},
      </if>
      <if test="useAsstAttrRelation != null">
        #{useAsstAttrRelation,jdbcType=TINYINT},
      </if>
      <if test="isSynochronous != null">
        #{isSynochronous,jdbcType=TINYINT},
      </if>
      <if test="warrantNumber != null">
        #{warrantNumber,jdbcType=VARCHAR},
      </if>
      <if test="length != null">
        #{length,jdbcType=DECIMAL},
      </if>
      <if test="registeredMark != null">
        #{registeredMark,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateUserIdName != null">
        #{lastUpdateUserIdName,jdbcType=VARCHAR},
      </if>
      <if test="nameShortPinYin != null">
        #{nameShortPinYin,jdbcType=VARCHAR},
      </if>
      <if test="volumnUnitName != null">
        #{volumnUnitName,jdbcType=VARCHAR},
      </if>
      <if test="creatorIdNumber != null">
        #{creatorIdNumber,jdbcType=VARCHAR},
      </if>
      <if test="foreignAme != null">
        #{foreignAme,jdbcType=VARCHAR},
      </if>
      <if test="creatorIdName != null">
        #{creatorIdName,jdbcType=VARCHAR},
      </if>
      <if test="alias != null">
        #{alias,jdbcType=VARCHAR},
      </if>
      <if test="baseUnitNumber != null">
        #{baseUnitNumber,jdbcType=VARCHAR},
      </if>
      <if test="lengthUnitNumber != null">
        #{lengthUnitNumber,jdbcType=VARCHAR},
      </if>
      <if test="weightUnitName != null">
        #{weightUnitName,jdbcType=VARCHAR},
      </if>
      <if test="seqUnitName != null">
        #{seqUnitName,jdbcType=VARCHAR},
      </if>
      <if test="netWeight != null">
        #{netWeight,jdbcType=DECIMAL},
      </if>
      <if test="seqUnitNumber != null">
        #{seqUnitNumber,jdbcType=VARCHAR},
      </if>
      <if test="oldNumber != null">
        #{oldNumber,jdbcType=VARCHAR},
      </if>
      <if test="volume != null">
        #{volume,jdbcType=DECIMAL},
      </if>
      <if test="helpCode != null">
        #{helpCode,jdbcType=VARCHAR},
      </if>
      <if test="shortName != null">
        #{shortName,jdbcType=VARCHAR},
      </if>
      <if test="longNumber != null">
        #{longNumber,jdbcType=VARCHAR},
      </if>
      <if test="adminCuIdName != null">
        #{adminCuIdName,jdbcType=VARCHAR},
      </if>
      <if test="erpMaterialId != null">
        #{erpMaterialId,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ecarpo.bms.eas.server.material.entity.EasMaterialDO">
    <!-- @mbg.generated 2019-07-10 10:36:01 -->
    update eas_bd_material
    <set>
      <if test="encrypt != null">
        encrypt = #{encrypt,jdbcType=VARCHAR},
      </if>
      <if test="define != null">
        define = #{define,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateUserIdNumber != null">
        last_update_user_id_number = #{lastUpdateUserIdNumber,jdbcType=VARCHAR},
      </if>
      <if test="effectedStatus != null">
        effected_status = #{effectedStatus,jdbcType=TINYINT},
      </if>
      <if test="baseUnitName != null">
        base_unit_name = #{baseUnitName,jdbcType=VARCHAR},
      </if>
      <if test="volumnUnitNumber != null">
        volumn_unit_number = #{volumnUnitNumber,jdbcType=VARCHAR},
      </if>
      <if test="isOutsourcedPart != null">
        is_outsourced_part = #{isOutsourcedPart,jdbcType=TINYINT},
      </if>
      <if test="height != null">
        height = #{height,jdbcType=DECIMAL},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="assistUnitName != null">
        assist_unit_name = #{assistUnitName,jdbcType=VARCHAR},
      </if>
      <if test="materialGroupLevel != null">
        material_group_level = #{materialGroupLevel,jdbcType=TINYINT},
      </if>
      <if test="pricePrecision != null">
        price_precision = #{pricePrecision,jdbcType=TINYINT},
      </if>
      <if test="barCode != null">
        bar_code = #{barCode,jdbcType=VARCHAR},
      </if>
      <if test="assistUnitNumber != null">
        assist_unit_number = #{assistUnitNumber,jdbcType=VARCHAR},
      </if>
      <if test="freezeOrgUnitName != null">
        freeze_org_unit_name = #{freezeOrgUnitName,jdbcType=VARCHAR},
      </if>
      <if test="equipProperty != null">
        equip_property = #{equipProperty,jdbcType=TINYINT},
      </if>
      <if test="namePinYin != null">
        name_pin_yin = #{namePinYin,jdbcType=VARCHAR},
      </if>
      <if test="simpleName != null">
        simple_name = #{simpleName,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="number4idx != null">
        number4idx = #{number4idx,jdbcType=VARCHAR},
      </if>
      <if test="materialTrademarkName != null">
        material_trademark_name = #{materialTrademarkName,jdbcType=VARCHAR},
      </if>
      <if test="width != null">
        width = #{width,jdbcType=DECIMAL},
      </if>
      <if test="lengthUnitName != null">
        length_unit_name = #{lengthUnitName,jdbcType=VARCHAR},
      </if>
      <if test="grossWeight != null">
        gross_weight = #{grossWeight,jdbcType=DECIMAL},
      </if>
      <if test="materialGroupName != null">
        material_group_name = #{materialGroupName,jdbcType=VARCHAR},
      </if>
      <if test="freezeOrgUnitNumber != null">
        freeze_org_unit_number = #{freezeOrgUnitNumber,jdbcType=VARCHAR},
      </if>
      <if test="controlUnitIdNumber != null">
        control_unit_id_number = #{controlUnitIdNumber,jdbcType=VARCHAR},
      </if>
      <if test="controlUnitIdName != null">
        control_unit_id_name = #{controlUnitIdName,jdbcType=VARCHAR},
      </if>
      <if test="pictureNumber != null">
        picture_number = #{pictureNumber,jdbcType=VARCHAR},
      </if>
      <if test="weightUnitNumber != null">
        weight_unit_number = #{weightUnitNumber,jdbcType=VARCHAR},
      </if>
      <if test="isWeighted != null">
        is_weighted = #{isWeighted,jdbcType=TINYINT},
      </if>
      <if test="materialGroupNumber != null">
        material_group_number = #{materialGroupNumber,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="materialTrademarkNumber != null">
        material_trademark_number = #{materialTrademarkNumber,jdbcType=VARCHAR},
      </if>
      <if test="model != null">
        model = #{model,jdbcType=VARCHAR},
      </if>
      <if test="name4idx != null">
        name4idx = #{name4idx,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateTime != null">
        last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="assistAttrName != null">
        assist_attr_name = #{assistAttrName,jdbcType=VARCHAR},
      </if>
      <if test="isGoods != null">
        is_goods = #{isGoods,jdbcType=TINYINT},
      </if>
      <if test="assistAttrNumber != null">
        assist_attr_number = #{assistAttrNumber,jdbcType=VARCHAR},
      </if>
      <if test="version != null">
        version = #{version,jdbcType=TINYINT},
      </if>
      <if test="adminCuIdNumber != null">
        admin_cu_id_number = #{adminCuIdNumber,jdbcType=VARCHAR},
      </if>
      <if test="useAsstAttrRelation != null">
        use_asst_attr_relation = #{useAsstAttrRelation,jdbcType=TINYINT},
      </if>
      <if test="isSynochronous != null">
        is_synochronous = #{isSynochronous,jdbcType=TINYINT},
      </if>
      <if test="warrantNumber != null">
        warrant_number = #{warrantNumber,jdbcType=VARCHAR},
      </if>
      <if test="length != null">
        length = #{length,jdbcType=DECIMAL},
      </if>
      <if test="registeredMark != null">
        registered_mark = #{registeredMark,jdbcType=VARCHAR},
      </if>
      <if test="lastUpdateUserIdName != null">
        last_update_user_id_name = #{lastUpdateUserIdName,jdbcType=VARCHAR},
      </if>
      <if test="nameShortPinYin != null">
        name_short_pin_yin = #{nameShortPinYin,jdbcType=VARCHAR},
      </if>
      <if test="volumnUnitName != null">
        volumn_unit_name = #{volumnUnitName,jdbcType=VARCHAR},
      </if>
      <if test="creatorIdNumber != null">
        creator_id_number = #{creatorIdNumber,jdbcType=VARCHAR},
      </if>
      <if test="foreignAme != null">
        foreign_ame = #{foreignAme,jdbcType=VARCHAR},
      </if>
      <if test="creatorIdName != null">
        creator_id_name = #{creatorIdName,jdbcType=VARCHAR},
      </if>
      <if test="alias != null">
        alias = #{alias,jdbcType=VARCHAR},
      </if>
      <if test="baseUnitNumber != null">
        base_unit_number = #{baseUnitNumber,jdbcType=VARCHAR},
      </if>
      <if test="lengthUnitNumber != null">
        length_unit_number = #{lengthUnitNumber,jdbcType=VARCHAR},
      </if>
      <if test="weightUnitName != null">
        weight_unit_name = #{weightUnitName,jdbcType=VARCHAR},
      </if>
      <if test="seqUnitName != null">
        seq_unit_name = #{seqUnitName,jdbcType=VARCHAR},
      </if>
      <if test="netWeight != null">
        net_weight = #{netWeight,jdbcType=DECIMAL},
      </if>
      <if test="seqUnitNumber != null">
        seq_unit_number = #{seqUnitNumber,jdbcType=VARCHAR},
      </if>
      <if test="oldNumber != null">
        old_number = #{oldNumber,jdbcType=VARCHAR},
      </if>
      <if test="volume != null">
        volume = #{volume,jdbcType=DECIMAL},
      </if>
      <if test="helpCode != null">
        help_code = #{helpCode,jdbcType=VARCHAR},
      </if>
      <if test="shortName != null">
        short_name = #{shortName,jdbcType=VARCHAR},
      </if>
      <if test="longNumber != null">
        long_number = #{longNumber,jdbcType=VARCHAR},
      </if>
      <if test="adminCuIdName != null">
        admin_cu_id_name = #{adminCuIdName,jdbcType=VARCHAR},
      </if>
      <if test="erpMaterialId != null">
        erp_material_id = #{erpMaterialId,jdbcType=BIGINT},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ecarpo.bms.eas.server.material.entity.EasMaterialDO">
    <!-- @mbg.generated 2019-07-10 10:36:01 -->
    update eas_bd_material
    set encrypt = #{encrypt,jdbcType=VARCHAR},
      define = #{define,jdbcType=VARCHAR},
      last_update_user_id_number = #{lastUpdateUserIdNumber,jdbcType=VARCHAR},
      effected_status = #{effectedStatus,jdbcType=TINYINT},
      base_unit_name = #{baseUnitName,jdbcType=VARCHAR},
      volumn_unit_number = #{volumnUnitNumber,jdbcType=VARCHAR},
      is_outsourced_part = #{isOutsourcedPart,jdbcType=TINYINT},
      height = #{height,jdbcType=DECIMAL},
      description = #{description,jdbcType=VARCHAR},
      assist_unit_name = #{assistUnitName,jdbcType=VARCHAR},
      material_group_level = #{materialGroupLevel,jdbcType=TINYINT},
      price_precision = #{pricePrecision,jdbcType=TINYINT},
      bar_code = #{barCode,jdbcType=VARCHAR},
      assist_unit_number = #{assistUnitNumber,jdbcType=VARCHAR},
      freeze_org_unit_name = #{freezeOrgUnitName,jdbcType=VARCHAR},
      equip_property = #{equipProperty,jdbcType=TINYINT},
      name_pin_yin = #{namePinYin,jdbcType=VARCHAR},
      simple_name = #{simpleName,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      number4idx = #{number4idx,jdbcType=VARCHAR},
      material_trademark_name = #{materialTrademarkName,jdbcType=VARCHAR},
      width = #{width,jdbcType=DECIMAL},
      length_unit_name = #{lengthUnitName,jdbcType=VARCHAR},
      gross_weight = #{grossWeight,jdbcType=DECIMAL},
      material_group_name = #{materialGroupName,jdbcType=VARCHAR},
      freeze_org_unit_number = #{freezeOrgUnitNumber,jdbcType=VARCHAR},
      control_unit_id_number = #{controlUnitIdNumber,jdbcType=VARCHAR},
      control_unit_id_name = #{controlUnitIdName,jdbcType=VARCHAR},
      picture_number = #{pictureNumber,jdbcType=VARCHAR},
      weight_unit_number = #{weightUnitNumber,jdbcType=VARCHAR},
      is_weighted = #{isWeighted,jdbcType=TINYINT},
      material_group_number = #{materialGroupNumber,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      material_trademark_number = #{materialTrademarkNumber,jdbcType=VARCHAR},
      model = #{model,jdbcType=VARCHAR},
      name4idx = #{name4idx,jdbcType=VARCHAR},
      last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      assist_attr_name = #{assistAttrName,jdbcType=VARCHAR},
      is_goods = #{isGoods,jdbcType=TINYINT},
      assist_attr_number = #{assistAttrNumber,jdbcType=VARCHAR},
      version = #{version,jdbcType=TINYINT},
      admin_cu_id_number = #{adminCuIdNumber,jdbcType=VARCHAR},
      use_asst_attr_relation = #{useAsstAttrRelation,jdbcType=TINYINT},
      is_synochronous = #{isSynochronous,jdbcType=TINYINT},
      warrant_number = #{warrantNumber,jdbcType=VARCHAR},
      length = #{length,jdbcType=DECIMAL},
      registered_mark = #{registeredMark,jdbcType=VARCHAR},
      last_update_user_id_name = #{lastUpdateUserIdName,jdbcType=VARCHAR},
      name_short_pin_yin = #{nameShortPinYin,jdbcType=VARCHAR},
      volumn_unit_name = #{volumnUnitName,jdbcType=VARCHAR},
      creator_id_number = #{creatorIdNumber,jdbcType=VARCHAR},
      foreign_ame = #{foreignAme,jdbcType=VARCHAR},
      creator_id_name = #{creatorIdName,jdbcType=VARCHAR},
      alias = #{alias,jdbcType=VARCHAR},
      base_unit_number = #{baseUnitNumber,jdbcType=VARCHAR},
      length_unit_number = #{lengthUnitNumber,jdbcType=VARCHAR},
      weight_unit_name = #{weightUnitName,jdbcType=VARCHAR},
      seq_unit_name = #{seqUnitName,jdbcType=VARCHAR},
      net_weight = #{netWeight,jdbcType=DECIMAL},
      seq_unit_number = #{seqUnitNumber,jdbcType=VARCHAR},
      old_number = #{oldNumber,jdbcType=VARCHAR},
      volume = #{volume,jdbcType=DECIMAL},
      help_code = #{helpCode,jdbcType=VARCHAR},
      short_name = #{shortName,jdbcType=VARCHAR},
      long_number = #{longNumber,jdbcType=VARCHAR},
      admin_cu_id_name = #{adminCuIdName,jdbcType=VARCHAR},
      erp_material_id = #{erpMaterialId,jdbcType=BIGINT}
    where id = #{id,jdbcType=VARCHAR}
  </update>

  <!-- 主键获取DO lhf 2019.06.05  -->
  <select id="selectByPK" resultType="com.ecarpo.bms.eas.server.material.entity.EasMaterialDO">
    select
      <include refid="Base_Column_List" />
    from
      eas_bd_material
    where
      id = #{id,jdbcType=VARCHAR}
  </select>
</mapper>