<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecarpo.bms.eas.server.storeroomshelflocation.dao.DmsStoreroomShelflocationMapper">
  <resultMap id="BaseResultMap" type="com.ecarpo.bms.eas.server.storeroomshelflocation.entity.DmsStoreroomShelflocationDO">
    <!-- @mbg.generated 2019-08-06 11:42:27 -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="store_id" jdbcType="INTEGER" property="store_id" />
    <result column="location_code" jdbcType="VARCHAR" property="location_code" />
    <result column="location_name" jdbcType="VARCHAR" property="location_name" />
    <result column="location_area" jdbcType="VARCHAR" property="location_area" />
    <result column="function_type" jdbcType="TINYINT" property="function_type" />
    <result column="occupy_status" jdbcType="TINYINT" property="occupy_status" />
    <result column="room_type" jdbcType="CHAR" property="room_type" />
    <result column="from_store_id" jdbcType="INTEGER" property="from_store_id" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="status" jdbcType="TINYINT" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    <!-- @mbg.generated 2019-08-06 11:42:27 -->
    id, store_id, location_code, location_name, location_area, function_type, occupy_status, 
    room_type, from_store_id, remark, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!-- @mbg.generated 2019-08-06 11:42:27 -->
    select 
    <include refid="Base_Column_List" />
    from dms_storeroom_shelflocation
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!-- @mbg.generated 2019-08-06 11:42:27 -->
    delete from dms_storeroom_shelflocation
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ecarpo.bms.eas.server.storeroomshelflocation.entity.DmsStoreroomShelflocationDO">
    <!-- @mbg.generated 2019-08-06 11:42:27 -->
    insert into dms_storeroom_shelflocation (id, store_id, location_code, 
      location_name, location_area, function_type, 
      occupy_status, room_type, from_store_id, 
      remark, status)
    values (#{id,jdbcType=INTEGER}, #{store_id,jdbcType=INTEGER}, #{location_code,jdbcType=VARCHAR}, 
      #{location_name,jdbcType=VARCHAR}, #{location_area,jdbcType=VARCHAR}, #{function_type,jdbcType=TINYINT}, 
      #{occupy_status,jdbcType=TINYINT}, #{room_type,jdbcType=CHAR}, #{from_store_id,jdbcType=INTEGER}, 
      #{remark,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.ecarpo.bms.eas.server.storeroomshelflocation.entity.DmsStoreroomShelflocationDO">
    <!-- @mbg.generated 2019-08-06 11:42:27 -->
    insert into dms_storeroom_shelflocation
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="store_id != null">
        store_id,
      </if>
      <if test="location_code != null">
        location_code,
      </if>
      <if test="location_name != null">
        location_name,
      </if>
      <if test="location_area != null">
        location_area,
      </if>
      <if test="function_type != null">
        function_type,
      </if>
      <if test="occupy_status != null">
        occupy_status,
      </if>
      <if test="room_type != null">
        room_type,
      </if>
      <if test="from_store_id != null">
        from_store_id,
      </if>
      <if test="remark != null">
        remark,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="store_id != null">
        #{store_id,jdbcType=INTEGER},
      </if>
      <if test="location_code != null">
        #{location_code,jdbcType=VARCHAR},
      </if>
      <if test="location_name != null">
        #{location_name,jdbcType=VARCHAR},
      </if>
      <if test="location_area != null">
        #{location_area,jdbcType=VARCHAR},
      </if>
      <if test="function_type != null">
        #{function_type,jdbcType=TINYINT},
      </if>
      <if test="occupy_status != null">
        #{occupy_status,jdbcType=TINYINT},
      </if>
      <if test="room_type != null">
        #{room_type,jdbcType=CHAR},
      </if>
      <if test="from_store_id != null">
        #{from_store_id,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ecarpo.bms.eas.server.storeroomshelflocation.entity.DmsStoreroomShelflocationDO">
    <!-- @mbg.generated 2019-08-06 11:42:27 -->
    update dms_storeroom_shelflocation
    <set>
      <if test="store_id != null">
        store_id = #{store_id,jdbcType=INTEGER},
      </if>
      <if test="location_code != null">
        location_code = #{location_code,jdbcType=VARCHAR},
      </if>
      <if test="location_name != null">
        location_name = #{location_name,jdbcType=VARCHAR},
      </if>
      <if test="location_area != null">
        location_area = #{location_area,jdbcType=VARCHAR},
      </if>
      <if test="function_type != null">
        function_type = #{function_type,jdbcType=TINYINT},
      </if>
      <if test="occupy_status != null">
        occupy_status = #{occupy_status,jdbcType=TINYINT},
      </if>
      <if test="room_type != null">
        room_type = #{room_type,jdbcType=CHAR},
      </if>
      <if test="from_store_id != null">
        from_store_id = #{from_store_id,jdbcType=INTEGER},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ecarpo.bms.eas.server.storeroomshelflocation.entity.DmsStoreroomShelflocationDO">
    <!-- @mbg.generated 2019-08-06 11:42:27 -->
    update dms_storeroom_shelflocation
    set store_id = #{store_id,jdbcType=INTEGER},
      location_code = #{location_code,jdbcType=VARCHAR},
      location_name = #{location_name,jdbcType=VARCHAR},
      location_area = #{location_area,jdbcType=VARCHAR},
      function_type = #{function_type,jdbcType=TINYINT},
      occupy_status = #{occupy_status,jdbcType=TINYINT},
      room_type = #{room_type,jdbcType=CHAR},
      from_store_id = #{from_store_id,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
    
  <!-- user define -->
  <select id="existsByCode" resultType="java.lang.Long">
    select 1 from dms_storeroom_shelflocation
    where code = #{location_code,jdbcType=VARCHAR}
    limit 0, 1
  </select>
      
  <!-- user define -->
  <select id="selectIdByCode" resultType="java.lang.Long">
    select id from dms_storeroom_shelflocation
    where code = #{location_code,jdbcType=VARCHAR}
    limit 0, 1
  </select>
  
</mapper>