<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecarpo.bms.eas.server.dmshisrepairorder.dao.DmsHisRepairOrderMapper">
  <resultMap id="BaseResultMap" type="com.ecarpo.bms.eas.server.dmshisrepairorder.entity.DmsHisRepairOrderDO">
    <!-- @mbg.generated 2019-07-22 16:52:54 -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="store_id" jdbcType="INTEGER" property="storeId" />
    <result column="order_no" jdbcType="VARCHAR" property="orderNo" />
    <result column="repair_type" jdbcType="VARCHAR" property="repairType" />
    <result column="custom_name" jdbcType="VARCHAR" property="customName" />
    <result column="custom_mobile" jdbcType="VARCHAR" property="customMobile" />
    <result column="repair_time" jdbcType="DATE" property="repairTime" />
    <result column="plate_no" jdbcType="VARCHAR" property="plateNo" />
    <result column="model_name" jdbcType="VARCHAR" property="modelName" />
    <result column="mileage" jdbcType="INTEGER" property="mileage" />
    <result column="consultant_name" jdbcType="VARCHAR" property="consultantName" />
    <result column="product_money" jdbcType="DECIMAL" property="productMoney" />
    <result column="workhour_money" jdbcType="DECIMAL" property="workhourMoney" />
    <result column="package_money" jdbcType="DECIMAL" property="packageMoney" />
    <result column="additional_money" jdbcType="DECIMAL" property="additionalMoney" />
    <result column="total_discount" jdbcType="DECIMAL" property="totalDiscount" />
    <result column="predict_date" jdbcType="DATE" property="predictDate" />
    <result column="create_time" jdbcType="DATE" property="createTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!-- @mbg.generated 2019-07-22 16:52:54 -->
    id, store_id, order_no, repair_type, custom_name, custom_mobile, repair_time, plate_no, 
    model_name, mileage, consultant_name, product_money, workhour_money, package_money, 
    additional_money, total_discount, predict_date, create_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!-- @mbg.generated 2019-07-22 16:52:54 -->
    select 
    <include refid="Base_Column_List" />
    from dms_his_repair_order
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!-- @mbg.generated 2019-07-22 16:52:54 -->
    delete from dms_his_repair_order
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.ecarpo.bms.eas.server.dmshisrepairorder.entity.DmsHisRepairOrderDO">
    <!-- @mbg.generated 2019-07-22 16:52:54 -->
    insert into dms_his_repair_order (id, store_id, order_no, 
      repair_type, custom_name, custom_mobile, 
      repair_time, plate_no, model_name, 
      mileage, consultant_name, product_money, 
      workhour_money, package_money, additional_money, 
      total_discount, predict_date, create_time
      )
    values (#{id,jdbcType=INTEGER}, #{storeId,jdbcType=INTEGER}, #{orderNo,jdbcType=VARCHAR}, 
      #{repairType,jdbcType=VARCHAR}, #{customName,jdbcType=VARCHAR}, #{customMobile,jdbcType=VARCHAR}, 
      #{repairTime,jdbcType=DATE}, #{plateNo,jdbcType=VARCHAR}, #{modelName,jdbcType=VARCHAR}, 
      #{mileage,jdbcType=INTEGER}, #{consultantName,jdbcType=VARCHAR}, #{productMoney,jdbcType=DECIMAL}, 
      #{workhourMoney,jdbcType=DECIMAL}, #{packageMoney,jdbcType=DECIMAL}, #{additionalMoney,jdbcType=DECIMAL}, 
      #{totalDiscount,jdbcType=DECIMAL}, #{predictDate,jdbcType=DATE}, #{createTime,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.ecarpo.bms.eas.server.dmshisrepairorder.entity.DmsHisRepairOrderDO">
    <!-- @mbg.generated 2019-07-22 16:52:54 -->
    insert into dms_his_repair_order
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="storeId != null">
        store_id,
      </if>
      <if test="orderNo != null">
        order_no,
      </if>
      <if test="repairType != null">
        repair_type,
      </if>
      <if test="customName != null">
        custom_name,
      </if>
      <if test="customMobile != null">
        custom_mobile,
      </if>
      <if test="repairTime != null">
        repair_time,
      </if>
      <if test="plateNo != null">
        plate_no,
      </if>
      <if test="modelName != null">
        model_name,
      </if>
      <if test="mileage != null">
        mileage,
      </if>
      <if test="consultantName != null">
        consultant_name,
      </if>
      <if test="productMoney != null">
        product_money,
      </if>
      <if test="workhourMoney != null">
        workhour_money,
      </if>
      <if test="packageMoney != null">
        package_money,
      </if>
      <if test="additionalMoney != null">
        additional_money,
      </if>
      <if test="totalDiscount != null">
        total_discount,
      </if>
      <if test="predictDate != null">
        predict_date,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="storeId != null">
        #{storeId,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null">
        #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="repairType != null">
        #{repairType,jdbcType=VARCHAR},
      </if>
      <if test="customName != null">
        #{customName,jdbcType=VARCHAR},
      </if>
      <if test="customMobile != null">
        #{customMobile,jdbcType=VARCHAR},
      </if>
      <if test="repairTime != null">
        #{repairTime,jdbcType=DATE},
      </if>
      <if test="plateNo != null">
        #{plateNo,jdbcType=VARCHAR},
      </if>
      <if test="modelName != null">
        #{modelName,jdbcType=VARCHAR},
      </if>
      <if test="mileage != null">
        #{mileage,jdbcType=INTEGER},
      </if>
      <if test="consultantName != null">
        #{consultantName,jdbcType=VARCHAR},
      </if>
      <if test="productMoney != null">
        #{productMoney,jdbcType=DECIMAL},
      </if>
      <if test="workhourMoney != null">
        #{workhourMoney,jdbcType=DECIMAL},
      </if>
      <if test="packageMoney != null">
        #{packageMoney,jdbcType=DECIMAL},
      </if>
      <if test="additionalMoney != null">
        #{additionalMoney,jdbcType=DECIMAL},
      </if>
      <if test="totalDiscount != null">
        #{totalDiscount,jdbcType=DECIMAL},
      </if>
      <if test="predictDate != null">
        #{predictDate,jdbcType=DATE},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ecarpo.bms.eas.server.dmshisrepairorder.entity.DmsHisRepairOrderDO">
    <!-- @mbg.generated 2019-07-22 16:52:54 -->
    update dms_his_repair_order
    <set>
      <if test="storeId != null">
        store_id = #{storeId,jdbcType=INTEGER},
      </if>
      <if test="orderNo != null">
        order_no = #{orderNo,jdbcType=VARCHAR},
      </if>
      <if test="repairType != null">
        repair_type = #{repairType,jdbcType=VARCHAR},
      </if>
      <if test="customName != null">
        custom_name = #{customName,jdbcType=VARCHAR},
      </if>
      <if test="customMobile != null">
        custom_mobile = #{customMobile,jdbcType=VARCHAR},
      </if>
      <if test="repairTime != null">
        repair_time = #{repairTime,jdbcType=DATE},
      </if>
      <if test="plateNo != null">
        plate_no = #{plateNo,jdbcType=VARCHAR},
      </if>
      <if test="modelName != null">
        model_name = #{modelName,jdbcType=VARCHAR},
      </if>
      <if test="mileage != null">
        mileage = #{mileage,jdbcType=INTEGER},
      </if>
      <if test="consultantName != null">
        consultant_name = #{consultantName,jdbcType=VARCHAR},
      </if>
      <if test="productMoney != null">
        product_money = #{productMoney,jdbcType=DECIMAL},
      </if>
      <if test="workhourMoney != null">
        workhour_money = #{workhourMoney,jdbcType=DECIMAL},
      </if>
      <if test="packageMoney != null">
        package_money = #{packageMoney,jdbcType=DECIMAL},
      </if>
      <if test="additionalMoney != null">
        additional_money = #{additionalMoney,jdbcType=DECIMAL},
      </if>
      <if test="totalDiscount != null">
        total_discount = #{totalDiscount,jdbcType=DECIMAL},
      </if>
      <if test="predictDate != null">
        predict_date = #{predictDate,jdbcType=DATE},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ecarpo.bms.eas.server.dmshisrepairorder.entity.DmsHisRepairOrderDO">
    <!-- @mbg.generated 2019-07-22 16:52:54 -->
    update dms_his_repair_order
    set store_id = #{storeId,jdbcType=INTEGER},
      order_no = #{orderNo,jdbcType=VARCHAR},
      repair_type = #{repairType,jdbcType=VARCHAR},
      custom_name = #{customName,jdbcType=VARCHAR},
      custom_mobile = #{customMobile,jdbcType=VARCHAR},
      repair_time = #{repairTime,jdbcType=DATE},
      plate_no = #{plateNo,jdbcType=VARCHAR},
      model_name = #{modelName,jdbcType=VARCHAR},
      mileage = #{mileage,jdbcType=INTEGER},
      consultant_name = #{consultantName,jdbcType=VARCHAR},
      product_money = #{productMoney,jdbcType=DECIMAL},
      workhour_money = #{workhourMoney,jdbcType=DECIMAL},
      package_money = #{packageMoney,jdbcType=DECIMAL},
      additional_money = #{additionalMoney,jdbcType=DECIMAL},
      total_discount = #{totalDiscount,jdbcType=DECIMAL},
      predict_date = #{predictDate,jdbcType=DATE},
      create_time = #{createTime,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- user define -->
  <select id="existsByCode" resultType="java.lang.Long">
    select 1 from dms_his_repair_order
    where code = #{code,jdbcType=VARCHAR}
    limit 0, 1
  </select>
  
</mapper>