<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecarpo.bms.eas.server.dmsbuy.dao.DmsBuyMapper">
  <resultMap id="BaseResultMap" type="com.ecarpo.bms.eas.server.dmsbuy.entity.DmsBuyDO">
    <!-- @mbg.generated 2019-08-06 16:18:30 -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="buy_number" jdbcType="VARCHAR" property="buy_number" />
    <result column="store_id" jdbcType="INTEGER" property="store_id" />
    <result column="contact_name" jdbcType="VARCHAR" property="contact_name" />
    <result column="contact_phone" jdbcType="VARCHAR" property="contact_phone" />
    <result column="buy_type_id" jdbcType="INTEGER" property="buy_type_id" />
    <result column="supplier_id" jdbcType="INTEGER" property="supplier_id" />
    <result column="require_reach_date" jdbcType="VARCHAR" property="require_reach_date" />
    <result column="act_type" jdbcType="TINYINT" property="act_type" />
    <result column="is_sale_proxy" jdbcType="TINYINT" property="is_sale_proxy" />
    <result column="act_name" jdbcType="VARCHAR" property="act_name" />
    <result column="creator" jdbcType="INTEGER" property="creator" />
    <result column="c_time" jdbcType="TIMESTAMP" property="c_time" />
    <result column="buyer_id" jdbcType="INTEGER" property="buyer_id" />
    <result column="buy_time" jdbcType="TIMESTAMP" property="buy_time" />
    <result column="executor" jdbcType="INTEGER" property="executor" />
    <result column="exec_time" jdbcType="TIMESTAMP" property="exec_time" />
    <result column="cashier" jdbcType="INTEGER" property="cashier" />
    <result column="cashier_time" jdbcType="TIMESTAMP" property="cashier_time" />
    <result column="receipts_no" jdbcType="VARCHAR" property="receipts_no" />
    <result column="status" jdbcType="TINYINT" property="status" />
    <result column="desc" jdbcType="VARCHAR" property="desc" />
    <result column="app_number" jdbcType="VARCHAR" property="app_number" />
    <result column="generate_from" jdbcType="VARCHAR" property="generate_from" />
    <result column="original_number" jdbcType="VARCHAR" property="original_number" />
    <result column="delivery_address" jdbcType="VARCHAR" property="delivery_address" />
    <result column="delivery_way_id" jdbcType="INTEGER" property="delivery_way_id" />
    <result column="recipient_name" jdbcType="VARCHAR" property="recipient_name" />
    <result column="recipient_mobile" jdbcType="VARCHAR" property="recipient_mobile" />
  </resultMap>
  <sql id="Base_Column_List">
    <!-- @mbg.generated 2019-08-06 16:18:30 -->
    id, buy_number, store_id, contact_name, contact_phone, buy_type_id, supplier_id, 
    require_reach_date, act_type, is_sale_proxy, act_name, creator, c_time, buyer_id, 
    buy_time, executor, exec_time, cashier, cashier_time, receipts_no, status, `desc`, 
    app_number, generate_from, original_number, delivery_address, delivery_way_id, recipient_name, 
    recipient_mobile
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!-- @mbg.generated 2019-08-06 16:18:30 -->
    select 
    <include refid="Base_Column_List" />
    from dms_buy
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!-- @mbg.generated 2019-08-06 16:18:30 -->
    delete from dms_buy
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.ecarpo.bms.eas.server.dmsbuy.entity.DmsBuyDO">
    <!-- @mbg.generated 2019-08-06 16:18:30 -->
    insert into dms_buy (id, buy_number, store_id, 
      contact_name, contact_phone, buy_type_id, 
      supplier_id, require_reach_date, act_type, 
      is_sale_proxy, act_name, creator, 
      c_time, buyer_id, buy_time, 
      executor, exec_time, cashier,
      cashier_time, receipts_no, status, 
      app_number, generate_from, 
      original_number, delivery_address, delivery_way_id, 
      recipient_name, recipient_mobile)
    values (#{id,jdbcType=INTEGER}, #{buy_number,jdbcType=VARCHAR}, #{store_id,jdbcType=INTEGER}, 
      #{contact_name,jdbcType=VARCHAR}, #{contact_phone,jdbcType=VARCHAR}, #{buy_type_id,jdbcType=INTEGER}, 
      #{supplier_id,jdbcType=INTEGER}, #{require_reach_date,jdbcType=VARCHAR}, #{act_type,jdbcType=TINYINT}, 
      #{is_sale_proxy,jdbcType=TINYINT}, #{act_name,jdbcType=VARCHAR}, #{creator,jdbcType=INTEGER}, 
      #{c_time,jdbcType=TIMESTAMP}, #{buyer_id,jdbcType=INTEGER}, #{buy_time,jdbcType=TIMESTAMP}, 
      #{executor,jdbcType=INTEGER}, #{exec_time,jdbcType=TIMESTAMP}, #{cashier,jdbcType=INTEGER}, 
      #{cashier_time,jdbcType=TIMESTAMP}, #{receipts_no,jdbcType=VARCHAR}, #{status,jdbcType=TINYINT}, 
      #{app_number,jdbcType=VARCHAR}, #{generate_from,jdbcType=VARCHAR}, 
      #{original_number,jdbcType=VARCHAR}, #{delivery_address,jdbcType=VARCHAR}, #{delivery_way_id,jdbcType=INTEGER}, 
      #{recipient_name,jdbcType=VARCHAR}, #{recipient_mobile,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.ecarpo.bms.eas.server.dmsbuy.entity.DmsBuyDO">
    <!-- @mbg.generated 2019-08-06 16:18:30 -->
    insert into dms_buy
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="buy_number != null">
        buy_number,
      </if>
      <if test="store_id != null">
        store_id,
      </if>
      <if test="contact_name != null">
        contact_name,
      </if>
      <if test="contact_phone != null">
        contact_phone,
      </if>
      <if test="buy_type_id != null">
        buy_type_id,
      </if>
      <if test="supplier_id != null">
        supplier_id,
      </if>
      <if test="require_reach_date != null">
        require_reach_date,
      </if>
      <if test="act_type != null">
        act_type,
      </if>
      <if test="is_sale_proxy != null">
        is_sale_proxy,
      </if>
      <if test="act_name != null">
        act_name,
      </if>
      <if test="creator != null">
        creator,
      </if>
      <if test="c_time != null">
        c_time,
      </if>
      <if test="buyer_id != null">
        buyer_id,
      </if>
      <if test="buy_time != null">
        buy_time,
      </if>
      <if test="executor != null">
        executor,
      </if>
      <if test="exec_time != null">
        exec_time,
      </if>
      <if test="cashier != null">
        cashier,
      </if>
      <if test="cashier_time != null">
        cashier_time,
      </if>
      <if test="receipts_no != null">
        receipts_no,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="app_number != null">
        app_number,
      </if>
      <if test="generate_from != null">
        generate_from,
      </if>
      <if test="original_number != null">
        original_number,
      </if>
      <if test="delivery_address != null">
        delivery_address,
      </if>
      <if test="delivery_way_id != null">
        delivery_way_id,
      </if>
      <if test="recipient_name != null">
        recipient_name,
      </if>
      <if test="recipient_mobile != null">
        recipient_mobile,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="buy_number != null">
        #{buy_number,jdbcType=VARCHAR},
      </if>
      <if test="store_id != null">
        #{store_id,jdbcType=INTEGER},
      </if>
      <if test="contact_name != null">
        #{contact_name,jdbcType=VARCHAR},
      </if>
      <if test="contact_phone != null">
        #{contact_phone,jdbcType=VARCHAR},
      </if>
      <if test="buy_type_id != null">
        #{buy_type_id,jdbcType=INTEGER},
      </if>
      <if test="supplier_id != null">
        #{supplier_id,jdbcType=INTEGER},
      </if>
      <if test="require_reach_date != null">
        #{require_reach_date,jdbcType=VARCHAR},
      </if>
      <if test="act_type != null">
        #{act_type,jdbcType=TINYINT},
      </if>
      <if test="is_sale_proxy != null">
        #{is_sale_proxy,jdbcType=TINYINT},
      </if>
      <if test="act_name != null">
        #{act_name,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        #{creator,jdbcType=INTEGER},
      </if>
      <if test="c_time != null">
        #{c_time,jdbcType=TIMESTAMP},
      </if>
      <if test="buyer_id != null">
        #{buyer_id,jdbcType=INTEGER},
      </if>
      <if test="buy_time != null">
        #{buy_time,jdbcType=TIMESTAMP},
      </if>
      <if test="executor != null">
        #{executor,jdbcType=INTEGER},
      </if>
      <if test="exec_time != null">
        #{exec_time,jdbcType=TIMESTAMP},
      </if>
      <if test="cashier != null">
        #{cashier,jdbcType=INTEGER},
      </if>
      <if test="cashier_time != null">
        #{cashier_time,jdbcType=TIMESTAMP},
      </if>
      <if test="receipts_no != null">
        #{receipts_no,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
      <if test="app_number != null">
        #{app_number,jdbcType=VARCHAR},
      </if>
      <if test="generate_from != null">
        #{generate_from,jdbcType=VARCHAR},
      </if>
      <if test="original_number != null">
        #{original_number,jdbcType=VARCHAR},
      </if>
      <if test="delivery_address != null">
        #{delivery_address,jdbcType=VARCHAR},
      </if>
      <if test="delivery_way_id != null">
        #{delivery_way_id,jdbcType=INTEGER},
      </if>
      <if test="recipient_name != null">
        #{recipient_name,jdbcType=VARCHAR},
      </if>
      <if test="recipient_mobile != null">
        #{recipient_mobile,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ecarpo.bms.eas.server.dmsbuy.entity.DmsBuyDO">
    <!-- @mbg.generated 2019-08-06 16:18:30 -->
    update dms_buy
    <set>
      <if test="buy_number != null">
        buy_number = #{buy_number,jdbcType=VARCHAR},
      </if>
      <if test="store_id != null">
        store_id = #{store_id,jdbcType=INTEGER},
      </if>
      <if test="contact_name != null">
        contact_name = #{contact_name,jdbcType=VARCHAR},
      </if>
      <if test="contact_phone != null">
        contact_phone = #{contact_phone,jdbcType=VARCHAR},
      </if>
      <if test="buy_type_id != null">
        buy_type_id = #{buy_type_id,jdbcType=INTEGER},
      </if>
      <if test="supplier_id != null">
        supplier_id = #{supplier_id,jdbcType=INTEGER},
      </if>
      <if test="require_reach_date != null">
        require_reach_date = #{require_reach_date,jdbcType=VARCHAR},
      </if>
      <if test="act_type != null">
        act_type = #{act_type,jdbcType=TINYINT},
      </if>
      <if test="is_sale_proxy != null">
        is_sale_proxy = #{is_sale_proxy,jdbcType=TINYINT},
      </if>
      <if test="act_name != null">
        act_name = #{act_name,jdbcType=VARCHAR},
      </if>
      <if test="creator != null">
        creator = #{creator,jdbcType=INTEGER},
      </if>
      <if test="c_time != null">
        c_time = #{c_time,jdbcType=TIMESTAMP},
      </if>
      <if test="buyer_id != null">
        buyer_id = #{buyer_id,jdbcType=INTEGER},
      </if>
      <if test="buy_time != null">
        buy_time = #{buy_time,jdbcType=TIMESTAMP},
      </if>
      <if test="executor != null">
        executor = #{executor,jdbcType=INTEGER},
      </if>
      <if test="exec_time != null">
        exec_time = #{exec_time,jdbcType=TIMESTAMP},
      </if>
      <if test="cashier != null">
        cashier = #{cashier,jdbcType=INTEGER},
      </if>
      <if test="cashier_time != null">
        cashier_time = #{cashier_time,jdbcType=TIMESTAMP},
      </if>
      <if test="receipts_no != null">
        receipts_no = #{receipts_no,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
      <if test="app_number != null">
        app_number = #{app_number,jdbcType=VARCHAR},
      </if>
      <if test="generate_from != null">
        generate_from = #{generate_from,jdbcType=VARCHAR},
      </if>
      <if test="original_number != null">
        original_number = #{original_number,jdbcType=VARCHAR},
      </if>
      <if test="delivery_address != null">
        delivery_address = #{delivery_address,jdbcType=VARCHAR},
      </if>
      <if test="delivery_way_id != null">
        delivery_way_id = #{delivery_way_id,jdbcType=INTEGER},
      </if>
      <if test="recipient_name != null">
        recipient_name = #{recipient_name,jdbcType=VARCHAR},
      </if>
      <if test="recipient_mobile != null">
        recipient_mobile = #{recipient_mobile,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ecarpo.bms.eas.server.dmsbuy.entity.DmsBuyDO">
    <!-- @mbg.generated 2019-08-06 16:18:30 -->
    update dms_buy
    set buy_number = #{buy_number,jdbcType=VARCHAR},
      store_id = #{store_id,jdbcType=INTEGER},
      contact_name = #{contact_name,jdbcType=VARCHAR},
      contact_phone = #{contact_phone,jdbcType=VARCHAR},
      buy_type_id = #{buy_type_id,jdbcType=INTEGER},
      supplier_id = #{supplier_id,jdbcType=INTEGER},
      require_reach_date = #{require_reach_date,jdbcType=VARCHAR},
      act_type = #{act_type,jdbcType=TINYINT},
      is_sale_proxy = #{is_sale_proxy,jdbcType=TINYINT},
      act_name = #{act_name,jdbcType=VARCHAR},
      creator = #{creator,jdbcType=INTEGER},
      c_time = #{c_time,jdbcType=TIMESTAMP},
      buyer_id = #{buyer_id,jdbcType=INTEGER},
      buy_time = #{buy_time,jdbcType=TIMESTAMP},
      executor = #{executor,jdbcType=INTEGER},
      exec_time = #{exec_time,jdbcType=TIMESTAMP},
      cashier = #{cashier,jdbcType=INTEGER},
      cashier_time = #{cashier_time,jdbcType=TIMESTAMP},
      receipts_no = #{receipts_no,jdbcType=VARCHAR},
      status = #{status,jdbcType=TINYINT},
      app_number = #{app_number,jdbcType=VARCHAR},
      generate_from = #{generate_from,jdbcType=VARCHAR},
      original_number = #{original_number,jdbcType=VARCHAR},
      delivery_address = #{delivery_address,jdbcType=VARCHAR},
      delivery_way_id = #{delivery_way_id,jdbcType=INTEGER},
      recipient_name = #{recipient_name,jdbcType=VARCHAR},
      recipient_mobile = #{recipient_mobile,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <!-- user define -->
  <select id="existsByCode" resultType="java.lang.Long">
    select 1 from dms_buy
    where code = #{code,jdbcType=VARCHAR}
    limit 0, 1
  </select>
  
</mapper>