<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecarpo.bms.ap.server.auth.userduty.dao.ApUserDutyMapper">
  <resultMap id="BaseResultMap" type="com.ecarpo.bms.ap.server.auth.userduty.entity.ApUserDutyDO">
    <!-- @mbg.generated 2017-07-12 23:15:38 -->
    <id column="user_duty_id" jdbcType="BIGINT" property="userDutyId" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="duty_id" jdbcType="BIGINT" property="dutyId" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="modify_time" jdbcType="TIMESTAMP" property="modifyTime" />
    <result column="creator_id" jdbcType="BIGINT" property="creatorId" />
    <result column="modifier_id" jdbcType="BIGINT" property="modifierId" />
    <result column="del_flag" jdbcType="TINYINT" property="delFlag" />
  </resultMap>
  <sql id="Base_Column_List">
    <!-- @mbg.generated 2017-07-12 23:15:38 -->
    user_duty_id, user_id, duty_id, create_time, modify_time, creator_id, modifier_id, 
    del_flag
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!-- @mbg.generated 2017-07-12 23:15:38 -->
    select 
    <include refid="Base_Column_List" />
    from ap_user_duty
    where user_duty_id = #{userDutyId,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!-- @mbg.generated 2017-07-12 23:15:38 -->
    delete from ap_user_duty
    where user_duty_id = #{userDutyId,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ecarpo.bms.ap.server.auth.userduty.entity.ApUserDutyDO">
    <!-- @mbg.generated 2017-07-12 23:15:38 -->
    insert into ap_user_duty (user_duty_id, user_id, duty_id, 
      create_time, modify_time, creator_id, 
      modifier_id, del_flag)
    values (#{userDutyId,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{dutyId,jdbcType=BIGINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{modifyTime,jdbcType=TIMESTAMP}, #{creatorId,jdbcType=BIGINT}, 
      #{modifierId,jdbcType=BIGINT}, #{delFlag,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.ecarpo.bms.ap.server.auth.userduty.entity.ApUserDutyDO">
    <!-- @mbg.generated 2017-07-12 23:15:38 -->
    insert into ap_user_duty
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userDutyId != null">
        user_duty_id,
      </if>
      <if test="userId != null">
        user_id,
      </if>
      <if test="dutyId != null">
        duty_id,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="modifyTime != null">
        modify_time,
      </if>
      <if test="creatorId != null">
        creator_id,
      </if>
      <if test="modifierId != null">
        modifier_id,
      </if>
      <if test="delFlag != null">
        del_flag,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userDutyId != null">
        #{userDutyId,jdbcType=BIGINT},
      </if>
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="dutyId != null">
        #{dutyId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorId != null">
        #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="modifierId != null">
        #{modifierId,jdbcType=BIGINT},
      </if>
      <if test="delFlag != null">
        #{delFlag,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ecarpo.bms.ap.server.auth.userduty.entity.ApUserDutyDO">
    <!-- @mbg.generated 2017-07-12 23:15:38 -->
    update ap_user_duty
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=BIGINT},
      </if>
      <if test="dutyId != null">
        duty_id = #{dutyId,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="modifyTime != null">
        modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="creatorId != null">
        creator_id = #{creatorId,jdbcType=BIGINT},
      </if>
      <if test="modifierId != null">
        modifier_id = #{modifierId,jdbcType=BIGINT},
      </if>
      <if test="delFlag != null">
        del_flag = #{delFlag,jdbcType=TINYINT},
      </if>
    </set>
    where user_duty_id = #{userDutyId,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ecarpo.bms.ap.server.auth.userduty.entity.ApUserDutyDO">
    <!-- @mbg.generated 2017-07-12 23:15:38 -->
    update ap_user_duty
    set user_id = #{userId,jdbcType=BIGINT},
      duty_id = #{dutyId,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      modify_time = #{modifyTime,jdbcType=TIMESTAMP},
      creator_id = #{creatorId,jdbcType=BIGINT},
      modifier_id = #{modifierId,jdbcType=BIGINT},
      del_flag = #{delFlag,jdbcType=TINYINT}
    where user_duty_id = #{userDutyId,jdbcType=BIGINT}
  </update>
  
  <!-- User defined. -->
  <update id="updateMap" parameterType="java.util.Map">
    update ap_user_duty
    <set>
      <if test="keys.containsKey('userId')">
        user_id = #{keys.userId,jdbcType=BIGINT},
      </if>
      <if test="keys.containsKey('dutyId')">
        duty_id = #{keys.dutyId,jdbcType=BIGINT},
      </if>
      <if test="keys.containsKey('createTime')">
        create_time = #{keys.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="keys.containsKey('modifyTime')">
        modify_time = #{keys.modifyTime,jdbcType=TIMESTAMP},
      </if>
      <if test="keys.containsKey('creatorId')">
        creator_id = #{keys.creatorId,jdbcType=BIGINT},
      </if>
      <if test="keys.containsKey('modifierId')">
        modifier_id = #{keys.modifierId,jdbcType=BIGINT},
      </if>
      <if test="keys.containsKey('delFlag')">
        del_flag = #{keys.delFlag,jdbcType=TINYINT},
      </if>
    </set>
    where user_duty_id = #{keys.userDutyId,jdbcType=BIGINT}
  </update>
   

  <!--userId 删除记录  2019.06.20   xin   -->
  <delete id="deleteByUserId" parameterType="java.lang.Long">
    delete from ap_user_duty where user_id = #{userId,jdbcType=BIGINT}
  </delete>
  
    <select id="selectByUserId" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from 
      ap_user_duty
    where 
      user_id = #{userId}
  </select>
  
    <delete id="deleteByUserDutyDO">
    delete
    from
      ap_user_duty
    where
      user_id = #{userId} 
    and duty_id = #{dutyId}
  </delete>
  
  
  
</mapper>