<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecarpo.bms.eas.server.dmsbuydetail.dao.DmsBuyDetailMapper">
  <resultMap id="BaseResultMap" type="com.ecarpo.bms.eas.server.dmsbuydetail.entity.DmsBuyDetailDO">
    <!-- @mbg.generated 2019-08-08 01:17:17 -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="store_id" jdbcType="INTEGER" property="store_id" />
    <result column="buy_number" jdbcType="VARCHAR" property="buy_number" />
    <result column="product_id" jdbcType="INTEGER" property="product_id" />
    <result column="cost_price" jdbcType="DECIMAL" property="cost_price" />
    <result column="cost_price_notax" jdbcType="DECIMAL" property="cost_price_notax" />
    <result column="buy_count" jdbcType="DECIMAL" property="buy_count" />
    <result column="add_rate" jdbcType="INTEGER" property="add_rate" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="amount_notax" jdbcType="DECIMAL" property="amount_notax" />
    <result column="location_id" jdbcType="INTEGER" property="location_id" />
    <result column="location_name" jdbcType="VARCHAR" property="location_name" />
    <result column="desc" jdbcType="VARCHAR" property="desc" />
    <result column="c_time" jdbcType="INTEGER" property="c_time" />
    <result column="status" jdbcType="TINYINT" property="status" />
  </resultMap>
  <sql id="Base_Column_List">
    <!-- @mbg.generated 2019-08-08 01:17:17 -->
    id, store_id, buy_number, product_id, cost_price, cost_price_notax, buy_count, add_rate, 
    amount, amount_notax, location_id, location_name, `desc`, c_time, status
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!-- @mbg.generated 2019-08-08 01:17:17 -->
    select 
    <include refid="Base_Column_List" />
    from dms_buy_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!-- @mbg.generated 2019-08-08 01:17:17 -->
    delete from dms_buy_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.ecarpo.bms.eas.server.dmsbuydetail.entity.DmsBuyDetailDO">
    <!-- @mbg.generated 2019-08-08 01:17:17 -->
    insert into dms_buy_detail (id, store_id, buy_number, 
      product_id, cost_price, cost_price_notax, 
      buy_count, add_rate, amount, 
      amount_notax, location_id, location_name, 
      `desc`, c_time, status
      )
    values (#{id,jdbcType=INTEGER}, #{store_id,jdbcType=INTEGER}, #{buy_number,jdbcType=VARCHAR}, 
      #{product_id,jdbcType=INTEGER}, #{cost_price,jdbcType=DECIMAL}, #{cost_price_notax,jdbcType=DECIMAL}, 
      #{buy_count,jdbcType=DECIMAL}, #{add_rate,jdbcType=INTEGER}, #{amount,jdbcType=DECIMAL}, 
      #{amount_notax,jdbcType=DECIMAL}, #{location_id,jdbcType=INTEGER}, #{location_name,jdbcType=VARCHAR}, 
      #{desc,jdbcType=VARCHAR}, #{c_time,jdbcType=INTEGER}, #{status,jdbcType=TINYINT}
      )
  </insert>
  <insert id="insertSelective" useGeneratedKeys="true" keyProperty="id" parameterType="com.ecarpo.bms.eas.server.dmsbuydetail.entity.DmsBuyDetailDO">
    <!-- @mbg.generated 2019-08-08 01:17:17 -->
    insert into dms_buy_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="store_id != null">
        store_id,
      </if>
      <if test="buy_number != null">
        buy_number,
      </if>
      <if test="product_id != null">
        product_id,
      </if>
      <if test="cost_price != null">
        cost_price,
      </if>
      <if test="cost_price_notax != null">
        cost_price_notax,
      </if>
      <if test="buy_count != null">
        buy_count,
      </if>
      <if test="add_rate != null">
        add_rate,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="amount_notax != null">
        amount_notax,
      </if>
      <if test="location_id != null">
        location_id,
      </if>
      <if test="location_name != null">
        location_name,
      </if>
      <if test="desc != null">
        `desc`,
      </if>
      <if test="c_time != null">
        c_time,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="store_id != null">
        #{store_id,jdbcType=INTEGER},
      </if>
      <if test="buy_number != null">
        #{buy_number,jdbcType=VARCHAR},
      </if>
      <if test="product_id != null">
        #{product_id,jdbcType=INTEGER},
      </if>
      <if test="cost_price != null">
        #{cost_price,jdbcType=DECIMAL},
      </if>
      <if test="cost_price_notax != null">
        #{cost_price_notax,jdbcType=DECIMAL},
      </if>
      <if test="buy_count != null">
        #{buy_count,jdbcType=DECIMAL},
      </if>
      <if test="add_rate != null">
        #{add_rate,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DECIMAL},
      </if>
      <if test="amount_notax != null">
        #{amount_notax,jdbcType=DECIMAL},
      </if>
      <if test="location_id != null">
        #{location_id,jdbcType=INTEGER},
      </if>
      <if test="location_name != null">
        #{location_name,jdbcType=VARCHAR},
      </if>
      <if test="desc != null">
        #{desc,jdbcType=VARCHAR},
      </if>
      <if test="c_time != null">
        #{c_time,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ecarpo.bms.eas.server.dmsbuydetail.entity.DmsBuyDetailDO">
    <!-- @mbg.generated 2019-08-08 01:17:17 -->
    update dms_buy_detail
    <set>
      <if test="store_id != null">
        store_id = #{store_id,jdbcType=INTEGER},
      </if>
      <if test="buy_number != null">
        buy_number = #{buy_number,jdbcType=VARCHAR},
      </if>
      <if test="product_id != null">
        product_id = #{product_id,jdbcType=INTEGER},
      </if>
      <if test="cost_price != null">
        cost_price = #{cost_price,jdbcType=DECIMAL},
      </if>
      <if test="cost_price_notax != null">
        cost_price_notax = #{cost_price_notax,jdbcType=DECIMAL},
      </if>
      <if test="buy_count != null">
        buy_count = #{buy_count,jdbcType=DECIMAL},
      </if>
      <if test="add_rate != null">
        add_rate = #{add_rate,jdbcType=INTEGER},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DECIMAL},
      </if>
      <if test="amount_notax != null">
        amount_notax = #{amount_notax,jdbcType=DECIMAL},
      </if>
      <if test="location_id != null">
        location_id = #{location_id,jdbcType=INTEGER},
      </if>
      <if test="location_name != null">
        location_name = #{location_name,jdbcType=VARCHAR},
      </if>
      <if test="desc != null">
        `desc` = #{desc,jdbcType=VARCHAR},
      </if>
      <if test="c_time != null">
        c_time = #{c_time,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=TINYINT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ecarpo.bms.eas.server.dmsbuydetail.entity.DmsBuyDetailDO">
    <!-- @mbg.generated 2019-08-08 01:17:17 -->
    update dms_buy_detail
    set store_id = #{store_id,jdbcType=INTEGER},
      buy_number = #{buy_number,jdbcType=VARCHAR},
      product_id = #{product_id,jdbcType=INTEGER},
      cost_price = #{cost_price,jdbcType=DECIMAL},
      cost_price_notax = #{cost_price_notax,jdbcType=DECIMAL},
      buy_count = #{buy_count,jdbcType=DECIMAL},
      add_rate = #{add_rate,jdbcType=INTEGER},
      amount = #{amount,jdbcType=DECIMAL},
      amount_notax = #{amount_notax,jdbcType=DECIMAL},
      location_id = #{location_id,jdbcType=INTEGER},
      location_name = #{location_name,jdbcType=VARCHAR},
      `desc` = #{desc,jdbcType=VARCHAR},
      c_time = #{c_time,jdbcType=INTEGER},
      status = #{status,jdbcType=TINYINT}
    where id = #{id,jdbcType=INTEGER}
  </update>
    
  <!-- user define -->
  <select id="existsByCode" resultType="java.lang.Long">
    select 1 from dms_buy_detail
    where code = #{code,jdbcType=VARCHAR}
      and store_id = #{store_id,jdbcType=INTEGER}
    limit 0, 1
  </select>
  
</mapper>