<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
  <settings>
    <setting name="lazyLoadingEnabled" value="false" />
    <setting name="cacheEnabled" value="false" />
    <setting name="useGeneratedKeys" value="false" />
    <setting name="defaultExecutorType" value="REUSE" />
    <setting name="mapUnderscoreToCamelCase" value="false" />
    <setting name="localCacheScope" value="STATEMENT" />
  </settings>

  <typeAliases>
    <package name="com.ecarpo.bms.*" />
  </typeAliases>

  <plugins>
  
    <plugin interceptor="com.ecarpo.framework.mybatis.paginator.MybatisPageInterceptor">
      <property name="poolMaxSize" value="10" />
    </plugin>
    
    <!-- 自定义查询无数据时，显示消息 -->
    <plugin interceptor="com.ecarpo.framework.mybatis.InterceptQuery">
    </plugin>
    
    <!-- 自定义增加无结果时，显示消息 -->
    <!--
    <plugin interceptor="com.ecarpo.framework.mybatis.InterceptInsert">
    </plugin>
    -->
    
    <!-- 自定义更改无结果时，显示消息 -->
    <!--
    <plugin interceptor="com.ecarpo.framework.mybatis.InterceptUpdate">
    </plugin>
    -->
    
  </plugins>
</configuration>