<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecarpo.bms.eas.server.personpositon.dao.EasPersonPositonMapper">
  <resultMap id="BaseResultMap" type="com.ecarpo.bms.eas.server.personpositon.entity.EasPersonPositonDO">
    <!-- @mbg.generated 2019-07-11 10:48:27 -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="person_id" jdbcType="VARCHAR" property="personId" />
    <result column="position_id" jdbcType="VARCHAR" property="positionId" />
    <result column="is_primary" jdbcType="TINYINT" property="isPrimary" />
    <result column="position_name" jdbcType="VARCHAR" property="positionName" />
    <result column="position_number" jdbcType="VARCHAR" property="positionNumber" />
  </resultMap>
  <sql id="Base_Column_List">
    <!-- @mbg.generated 2019-07-11 10:48:27 -->
    id, person_id, position_id, is_primary, position_name, position_number
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    <!-- @mbg.generated 2019-07-11 10:48:27 -->
    select 
    <include refid="Base_Column_List" />
    from eas_person_positon
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    <!-- @mbg.generated 2019-07-11 10:48:27 -->
    delete from eas_person_positon
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.ecarpo.bms.eas.server.personpositon.entity.EasPersonPositonDO">
    <!-- @mbg.generated 2019-07-11 10:48:27 -->
    insert into eas_person_positon (id, person_id, position_id, 
      is_primary, position_name, position_number
      )
    values (#{id,jdbcType=BIGINT}, #{personId,jdbcType=VARCHAR}, #{positionId,jdbcType=VARCHAR}, 
      #{isPrimary,jdbcType=TINYINT}, #{positionName,jdbcType=VARCHAR}, #{positionNumber,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ecarpo.bms.eas.server.personpositon.entity.EasPersonPositonDO">
    <!-- @mbg.generated 2019-07-11 10:48:27 -->
    insert into eas_person_positon
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="personId != null">
        person_id,
      </if>
      <if test="positionId != null">
        position_id,
      </if>
      <if test="isPrimary != null">
        is_primary,
      </if>
      <if test="positionName != null">
        position_name,
      </if>
      <if test="positionNumber != null">
        position_number,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="personId != null">
        #{personId,jdbcType=VARCHAR},
      </if>
      <if test="positionId != null">
        #{positionId,jdbcType=VARCHAR},
      </if>
      <if test="isPrimary != null">
        #{isPrimary,jdbcType=TINYINT},
      </if>
      <if test="positionName != null">
        #{positionName,jdbcType=VARCHAR},
      </if>
      <if test="positionNumber != null">
        #{positionNumber,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ecarpo.bms.eas.server.personpositon.entity.EasPersonPositonDO">
    <!-- @mbg.generated 2019-07-11 10:48:27 -->
    update eas_person_positon
    <set>
      <if test="personId != null">
        person_id = #{personId,jdbcType=VARCHAR},
      </if>
      <if test="positionId != null">
        position_id = #{positionId,jdbcType=VARCHAR},
      </if>
      <if test="isPrimary != null">
        is_primary = #{isPrimary,jdbcType=TINYINT},
      </if>
      <if test="positionName != null">
        position_name = #{positionName,jdbcType=VARCHAR},
      </if>
      <if test="positionNumber != null">
        position_number = #{positionNumber,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ecarpo.bms.eas.server.personpositon.entity.EasPersonPositonDO">
    <!-- @mbg.generated 2019-07-11 10:48:27 -->
    update eas_person_positon
    set person_id = #{personId,jdbcType=VARCHAR},
      position_id = #{positionId,jdbcType=VARCHAR},
      is_primary = #{isPrimary,jdbcType=TINYINT},
      position_name = #{positionName,jdbcType=VARCHAR},
      position_number = #{positionNumber,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>

   <delete id="deleteByPersonId" parameterType="java.lang.String">
    <!-- @mbg.generated 2019-07-11 10:48:27 -->
     delete from eas_person_positon
    where person_id = #{personId,jdbcType=BIGINT}
  </delete>
</mapper>